/* 1440 + */
.b-document-info {
    padding-left: 0px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 316px;

    &__item {
        list-style-type: none;
        margin-bottom: 15px;

        &--period {
            margin-top: 30px;

            .b-link--calendar {
                margin-left: 0;
                margin-top: 2px;
            }
        }
    }

    &__title {
        margin-bottom: 4px;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        text-align: left;
        color: @cl-rtd-account;
    }
}