/* 1440 + */
.b-name-tariff {
    width: 384px;
    padding-right: 10px;
    flex-shrink: 0;

    &--three-column {
        width: 260px;
    }

    &--new-phone-setting & {
        &__additional {
            color: @cl-rtd-gray;
        }

        &__name {
            margin-bottom: 4px;
            font-size: 16px;
        }
    }

    &--new-phone-setting {
        width: calc(~"100% - 31px");
    }

    &--setting-disabled & {
        &__additional,
        &__name {
            color: @cl-rtd-light;
            margin-bottom: 0;
        }
    }

    &__name {
        font-family: @font-base;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        margin-top: 0px;
        margin-bottom: 1px;
    }

    &__additional {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
    }
}