/* 1440 + */
.b-feedback-error {
	// background-color: red;
	align-self: flex-end;

	&__button {
		display: inline-block;
		width: 35px;
		height: 38px;
		padding: 6px;
		background-color: @cl-rtd-body-table;
		border-radius: 4px;
		font-family: @font-base;
		font-size: 10px;
		color: @cl-font-light;
	    vertical-align: top;
	    text-align: right;
	    line-height: 11px;
	    margin-right: 3px;

		&--second {
			width: 43px;
			margin-right: 18px;
		}
	}

	&__find {
		display: inline-block;
		font-family: @font-din;
		font-size: 10px;
		line-height: 16px;
		color: @cl-font-black;
    	vertical-align: top;
    	margin: 0 75px 0 0;

	}

	&__how-send {
		display: block;
		color: @cl-font-light;
	}
}