/* 320 + */
.b-uploadfile {
    &__label {
        padding-right: 20px;

        &--progress,
        &--done {
            height: auto;
            padding-right: 40px;
        }

        &--progress &,
        &--done & {
            &__upload-place {
                margin-right: 10px;
                margin-left: 10px;
            }

            &__size {
                margin-left: 10px;
            }
        }
    }
    
}