/* 1280 + */
.b-uploadfile {
    position: relative;
    width: 100%;

    &__label {
        border: 1px dashed @cl-rtd-border-body-table;
        min-height: 54px;
        text-align: center;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &--progress,
        &--done {
            justify-content: space-between;
        }
    }

    &__input[type=file] {
        display: none;
    }

    &__upload-place,
    &__size {
        display: inline-block;
        color: @cl-font-light;
        font-family: @font-base;
        line-height: 1.29;
        font-size: 14px;
        letter-spacing: -0.2px;
    }

    &__size {
        display: none;
    }

    &__link {
        display: none;
        position: absolute;
        z-index: 222;
        right: 10px;
        top: 50%;
        margin-top: -16px;
        color: @cl-rtd-border-header-table;
        width: 32px;
        height: 32px;
        line-height: 22px;
        text-align: center;
        font-family: @font-din-medium;
        font-weight: bold;
        font-size: 14px;
        padding: 5px;
    }

    &__load {
        display: none;
        position: relative;
        font-family: @font-din-medium;
        // width: 32px;
        flex: 0 0 32px;
        background-color: @cl-rtd-border-body-table;
        border-radius: 2px;
    }

    &__format,
    &__progress {
        vertical-align: middle;
        letter-spacing: -1px;
        font-size: 14px;
        border-radius: 2px;
        text-align: center;
    }

    &__format {
        display: block;
        color: @cl-font-white;
        background-color: @cl-rtd-back-format-file;
        width: 50%;
        height: 26px;
        line-height: 29px;
    }

    &__progress {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 30px;
        height: 24px;
        background-color: @cl-rtd-white;
        line-height: 27px;
        color: @cl-rtd-title;
    }

    &--progress &,
    &--done & {
        &__upload-place {
            margin-right: auto;
            margin-left: 12px;
            font-family: @font-base;
            font-size: 14px;
            letter-spacing: -0.2px;
            color: @cl-rtd-title;
        }

        &__size {
            display: inline-block;
            margin-left: 12px;
            font-family: @font-base;
        }

        &__link {
            display: inline-block;
        }
    }

    &--progress & {
        &__load {
            display: inline-block;
        }
    }

    &--done & {
        &__load {
            display: inline-block;
        }

        &__format {
            width: 100%;
        }

        &__progress {
            display: none;
        }
    }
}