/* 320 + */
.b-history-payment {
    flex-wrap: wrap;

    &--history {
        align-items: center;
    }

    &--document {

        & .b-history-payment__text {
            margin-bottom: 5px;
        }
    }

    // &__payment-list {

    //     &--history {
    //         margin-left: 15px;
    //     }
    // }

    &__payment-item {
        margin: 0 15px 0 0;

        &:last-child {
            margin: 0;
        }
    }

    &__text {
        margin-right: 17px;
    }
}