/* 1440 + */
.b-history-payment {
    display: flex;
    padding: 0;
    padding-top: 8px;
    align-items: center;

    &__text {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        margin-right: 3px;
        vertical-align: bottom;
    }


    &__payment-list {
        display: flex;
        padding: 0;
        vertical-align: bottom;
    }

    &__payment-item {
        display: inline-block;
        list-style-type: none;
        margin-left: 19px;
        text-align: center;
    }
}