/* 1440 + */
.b-input-edit {
    // display: flex;
    flex-direction: row;
    align-items: center;
    display: none;

    &--manage-group {
        display: inline-block;
        margin-left: 7px;
    }

    &__input {
        display: inline-block;
        font-family: @font-din-medium;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.6px;
        color: @cl-font-gray;
        border: none;
        border-bottom: 1px dashed @cl-rtd-border-input-edit;
        width: 100%;
        max-width: 358px;
        margin-right: 20px;
    }

    &--manage-group & {
        &__input {
            margin-right: 0;
            font-family: @font-base;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.29;
            letter-spacing: 0.2px;
        }
    }

    &__validation {
        display: inline-block;
        flex-shrink: 0;
        font-family: Arial;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.2px;
        color: @cl-rtd-validation-input-edit;
    }
}