/* 1440 + */
.b-info-list {
    padding: 0;

    &--status {
        margin-bottom: 28px;
    }

    &__item {
        list-style-type: none;
        font-family: @font-base;
        margin-bottom: 17px;

        &--status {
            &:first-child {
                .b-info-list__info--status {
                    font-weight: bold;
                    font-size: 24px;
                }
            }
        }
    }

    &__title {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.2px;
      color: @cl-rtd-account;
      text-transform: uppercase;
    }

    &__info {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;

        &--bold {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.17;
            letter-spacing: -0.6px;
        }
    }
}