/* 1440 + */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select2-container--select-main {
        max-width: 480px;
    }
    .b-form__validator {
        max-width: 480px;
    }
    .b-button--next-step {
        font-family: sans-serif;
        padding: 16px 24px 20px;
    }
    .b-link--abort-changes {
        font-family:  sans-serif;
    }
    .b-popup-content__request-text {
        max-width: 497px;
    }
    .b-modal__head-contain {
        display: block;
    }

    .b-modal__navigation-field {
        float: right;
    }

    .b-form__search {
        right: 20px;
    }
}