/* 320 + */
.b-info-setting {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;

    &--manage-group {
        padding-bottom: 16px;
    }

    &__text {
        &--password-service {
            padding-right: 0;
        }
    }
}