/* 1440 + */
.b-info-setting {
    margin: 0px -20px 18px;
    padding: 16px 20px 5px 20px;
    background-color: @cl-rtd-body-table;

    &--password-service {
        margin-bottom: 35px;
    }

    &--manage-group {
        padding-bottom: 22px;
        position: relative;
    }

    &__text {
        font-family: @font-base;
        font-size: 13px;
        line-height: 1.08;
        color: @cl-rtd-border-header-table;
        margin-top: 0px;
        margin-bottom: 15px;

        &--password-service {
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.2px;
            color: @cl-rtd-account;
            padding-right: 50px;
        }
    }
}