/* 1440 + */
.b-tooltip {
    position: relative;
    display: inline-block;

    &__mark {
        display: inline-block;
        width: 20px;
        // height: 4px;
        text-align: center;

        span.dot {
            display: inline-block;
            position: relative;
            width: 4px;
            height: 4px;
            background-color: @cl-theme-grey;
            border-radius: 100%;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                width: 4px;
                height: 4px;
                background-color: @cl-theme-grey;
                border-radius: 100%;
            }

            &:before {
                left: -7px;
            }

            &:after {
                right: -7px;
            }
        }

        &.active {

            span.dot {
                background-color: @cl-rtd-border-dwopdown;

                &:before,
                &:after {
                    background-color: @cl-rtd-border-dwopdown;
                }
            }
        }

        & .icon-question {
            display: inline-block;
            color: @cl-font-blue;
            font-size: 16px;
            vertical-align: middle;
        }

    }

    &__hidden {
        display: none;
        //opacity: 0;
        //transition: opacity .3s;
        position: absolute;
        right: -33px;
        top: 35px;
        z-index: 999;

        &.active {
            opacity: 1;
        }

        &--choose-client {
            top: auto;
            right: auto;
            left: -39px;
        }
    }

    &__list {
        min-width: 185px;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: rgba(51, 51, 51, 0.9);
        position: relative;
        top: 0;
        left: 0;

        &:before {
            content: '';
            position: absolute;
            top: -18px;
            right: 34px;
            border: 9px solid transparent;
            border-bottom: 9px solid rgba(51, 51, 51, 0.9);
        }

        &--size-doc {
            width: 230px;
            padding: 20px;
        }

        &--choose-client {
            min-width: 0;
            width: 137px;
            padding: 8px 15px;
        }
    }

    &__item {
        list-style-type: none;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.14;
        color: @cl-Project-white;
    }
}