/* 320 + */
.b-doc-type {

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__checkbox-block {
        flex-direction: column;
    }

    &__list {
        min-width: 0;
        padding-right: 0;
    }
}