/* 1440 + */
.b-doc-type {
    max-width: calc(~"100% - 380px");
    margin-top: 17px;

    &__caption {
        position: relative;
        z-index: 222;
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 1.3;
        color: @cl-font-light;
    }

    &__title {
        font-family: @font-din-medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 1;
        text-transform: uppercase;
        color: @cl-font-gray;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    &__list {
        padding: 0 25px 0 0px;
        display: inline-block;
        min-width: 300px;
        vertical-align: top;
    }

    &__item {
        list-style: none;
        margin-bottom: 13px;
    }

    &__checkbox-block {
        display: flex;
        margin-bottom: 4px;
    }

    &--document {
        padding-right: 20px;
    }
}