/* 1440 + */
.b-title {
    font-family: @font-din-light;
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: -1px;
    color: @cl-rtd-title;
    margin: 5px 0 37px;

    &--h2 {
        font-family: @font-din;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.6px;
        margin: 0;
    }

    &--gray {
        color: @cl-font-light;
    }

    &--compare-phone {
        display: inline-block;
        margin-bottom: 30px;
        margin-top: 2px;
        margin-right: 14px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: @font-base;
        font-weight: bold;
    }

    &--request {
        margin-top: 40px;
        border-top: 1px solid @cl-rtd-border-body-table;
        padding: 28px 0;
        width: 100%;
        max-width: 620px;
    }

    &--requested-service {
        max-width: 100%;
        border-top: none;
        padding: 22px 0;
        margin-top: 23px;
    }

    &--service {
        margin-bottom: 25px;
    }

    &--mobile {
        width: 100%;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        margin-bottom: 13px;
    }

    &--pay {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    &--document {
        padding-right: 20px;
    }

    &--document-edit {
        padding-right: 7px;
    }

    &--read-also {
        border-bottom: 1px solid @cl-rtd-border;
        padding-bottom: 18px;
    }

    .b-tab__wrapper-title--list-info &--document-edit {
        width: auto;
    }
}