/* 320 + */
.b-title {
    font-size: 24px;
    line-height: 1.17;
    padding: 0 10px;
    margin: 0 0 28px;

    &--h2 {
        margin: 0;
        padding: 0;
    }

    &--compare-phone {
        display: block;
        font-size: 18px;
        margin-bottom: 9px;
    }

    &--request {
        margin-top: 20px;
        padding: 20px 0;
    }

    &--document {
        padding: 0;
        margin-bottom: 5px;
        margin-right: 15px;
    }

    &--document-edit {
        margin-right: 10px;
    }

    &--read-also {
        padding-bottom: 18px;
    }
}