/* 1440 + */
.b-template-page {
    &__head {
        display: flex;
        justify-content: space-between;
        padding: 38px 0 0;
    }

    &__body {
        height: 100%;
        background-color: @cl-rtd-body-table;
        border-top: 1px solid @cl-rtd-border-body-table;
    }

    &__dropdown-block {
        width: 300px;
        background-color: @cl-rtd-body-table;
        border-left: 1px solid @cl-rtd-border-body-table;
        border-right: 1px solid @cl-rtd-border-body-table;
        border-top: 4px solid @cl-rtd-border-dwopdown;
        border-bottom: 1px solid transparent;
        position: relative;
        padding: 17px 10px 12px 45px;
        display: block;

        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 100%;
            border-bottom: 2px solid @cl-rtd-body-table;
        }

        &--select {
            height: 100%;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    &__personal-account {
        font-family: Arial;
        font-size: 12px;
        line-height: 0.8;
        letter-spacing: 0.2px;
        color: @cl-rtd-account;
        text-transform: uppercase;

        span {
            text-transform: none;
        }
    }

    &__dropdown {
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        line-height: 0.8;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        padding-right: 10px;
        display: block;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -6px;
        }

        &:before {
            left: 18px;
            border: 7px solid transparent;
            border-right: 8px solid  @cl-rtd-body-table;
            z-index: 2;
        }

        &:after {
            left: 15px;
            border: 7px solid transparent;
            border-right: 8px solid  @cl-font-blue;
            z-index: 1;
        }

        &--not-back {
            &:before,
            &:after {
                display: none;
            }
        }

        &--select {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.33;
            margin-top: -3px;

            &:before,
            &:after {
                transform: rotate(-90deg);
            }

            &:before {
                margin-top: -9px;
                left: 15px;
            }
        }
    }

    &__table {
        background-color: @cl-Project-white;
        border: solid 1px @cl-rtd-border-body-table;
        margin: 50px 0 80px;
    }

    &__services-wrapper {
        padding: 20px;
    }

    &__filter {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}