/* 320 + */
.b-template-page {

    &__head {
        flex-direction: column;
        padding: 31px 0 0;
    }

    &__dropdown-block {
        width: 100%;
        padding: 16px 15px;
        padding: 16px 15px 16px 45px;
    }

    &__table {
        margin: 32px 0;
    }

    &__filter {
        padding-left: 0px;
    }
}