/* 1440 + */
.b-counter {
	display: inline-block;
	background-color: @cl-rtd-orange;
	border-radius: 2px;
	text-align: center;
	padding: 3px 5px 2px;
	line-height: 12px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: @cl-font-white;
}
