/* 1440 + */
.b-tariff-read-more {
    width: 927px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__name {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
    }

    &__price {
        font-family: @font-base;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
        color: @cl-rtd-title;
    }
}