/* 320 + */
.b-link {
    &--pay {
        margin-right: 0;
    }

    &--step-back {
        margin-right: auto;
    }

    &--no-transform {
        margin-right: auto;
        position: relative;
        margin-bottom: 10px;
        display: inline-block;
        &:after {
            content: "";
            width: 100%;
            height: 0px;
            display: block;
        }
    }

    &--abort-changes {
        padding: 11px 0 11px;
        margin-bottom: 9px;
        margin-top: 5px;
    }

    &--status {
        margin: 0px;
    }

    &--new-phone {
        margin-right: 27px;
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &--table-setting {
        padding: 5px;
        margin-right: 10px;
    }

    &--start {
        text-align: left;
    }

    &--calendar {
        white-space: nowrap;
    }

    &--margin-l {
        margin-bottom: 5px;
    }
}