/* 1440 + */
.b-link {
    display: inline-block;
    font-family: @font-din-medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.1px;
    color: @cl-rtd-blue;
    text-decoration: none;
    text-transform: uppercase;

    &--subscribe {
        margin-right: 47px;
    }

    &--document {
        font-weight: bold;
        font-family: @font-base;
        line-height: 1.29;
    }

    &--abort-changes {
        padding: 16px 0 20px;
    }

    &--compare {
        font-family: @font-base;
        letter-spacing: -0.2px;
        opacity: 0;
        text-transform: none;
        transition: 0.3s;
        vertical-align: middle;

        .no-touchevents .b-checkbox-list__compare:hover & {
            opacity: 1;
        }
    }

    &--back-to-request {
        padding: 20px 0 20px;
    }

    &--form-back {
        font-family: @font-din-medium;
        padding: 16px 0 20px;
    }

    &--abort-changes {
        padding: 16px 0 20px;
    }

    &--abort-pass {
        padding: 19px 0 17px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.2px;
    }

    &--adress {
        width: 310px;
        font-family: @font-base;
        line-height: 18px;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        text-transform: none;
    }

    &--add-adress {
        margin-left: auto;
        padding: 3px 2px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
    }

    &--step-back {
        padding: 17px 0 20px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.2px;
        color: @cl-rtd-blue;
    }

    &--new-phone {
        margin-right: 27px;
    }

    &--change-data {
        vertical-align: top;
        padding: 0;
        border: none;
        width: auto;
        height: auto;
        line-height: 17px;
        color: @cl-rtd-border-dwopdown;
        align-self: baseline;
    }

    &--calendar {
        text-transform: none;
        font-family: @font-base;
        line-height: 1.29;
        letter-spacing: -0.2px;
        position: relative;
        padding-right: 24px;
        padding-left: 7px;
        padding-top: 6px;
        height: 32px;
        background-color: @cl-rtd-exit-icon;
        border: 1px solid @cl-rtd-border-body-table;
        border-radius: 2px;
        margin-left: 3px;

        &:after {
            content: '';
            position: absolute;
            top: 13px;
            right: 7px;
            border: 4px solid transparent;
            border-top: 5px solid  @cl-rtd-blue;
        }
    }

    &--filter {
        text-transform: none;
        font-family: @font-base;
    }

    &--request-footer {
        margin-right: 15px;
    }

    &--history {
        font-weight: bold;
    }

    &--list-info {
        vertical-align: bottom;
    }

    &--header-profile,
    &--logout {
        font-family: Arial;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.2px;
        text-transform: none;
        color: @cl-rtd-title;
        transition: color 0.3s;

        .no-touchevents &:hover {
            color: @cl-rtd-border-dwopdown;
        }
    }

    &--logout {
        color: @cl-rtd-validator-error;
    }

    &--pay {
        margin-left: auto;
        margin-right: 110px;
        padding: 3px;
    }

    &--under-status {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        text-align: right;
        color: @cl-font-light;
        text-transform: none;
    }

    &--no-transform {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        text-transform: none;
        margin-right: 40px;
        color: @cl-rtd-blue;
    }

    &--statistic {
        font-family: @font-base;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
        position: relative;
        padding-right: 15px;
        text-transform: none;

        &:after {
            content: '';
            position: absolute;
            top: 8px;
            right: 0px;
            border: 4px solid transparent;
            border-top: 5px solid  @cl-rtd-blue;
        }
    }

    &--status {
        margin-left: 30px;
    }

    &--tariff {
        padding-right: 8px;
        margin-left: auto;
    }

    &--dropdown {
        font-family: @font-din;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.6px;
        color: @cl-font-light;
        position: relative;
        padding-right: 28px;
        text-transform: none;
        margin-left: 20px;

        &:after {
            content: '';
            position: absolute;
            top: 13px;
            right: 0px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 7px solid @cl-font-light;

            transition: transform 0.5s ease;
        }

        &.active {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    .b-name-tariff__additional + &--tariff-more {
        margin-left: 8px;
    }

    &--tariff-more {
        text-transform: none;
        font-family: @font-base;
        font-weight: bold;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 5px;
            right: -15px;
            border: 4px solid transparent;
            border-top: 5px solid  @cl-rtd-blue;
        }
    }

    &--footer {
        text-transform: none;
    }

    &--table-setting {
        padding: 10px;
    }

    &__delimiter-date {
        display: inline-block;
        border-bottom: 1px solid @cl-rtd-blue;
        height: 1px;
        width: 15px;
        vertical-align: top;
        padding-top: 10px;
        margin-left: 3px;
        margin-right: 5px;
    }

    &--margin-l {
        margin-left: 40px;
    }

    &--info-item {
        margin-right: 15px;
        margin-bottom: 8px;
    }

    &--color-delete {
        color: @cl-rtd-orange;
    }

    &--manage-group {
        padding: 10px 10px 10px 0px;
    }

    &--status-document {
        float: right;
    }

    &--service-activation {
        margin-right: 29px;
        font-family: @font-base;
        line-height: 1.29;
        letter-spacing: 0.2px;
    }

    &--service-activation-footer {
        width: 178px;
        height: 52px;
        vertical-align: middle;
        line-height: 52px;
        margin-right: 0;
        text-align: center;
    }

    &--order-doc {
        color: @cl-rtd-title;
    }
}