/* 768 + */
.b-link {

    &--subscribe {
        margin-right: 44px;
    }

    &--compare {
        opacity: 1;
    }

    &--pay {
        margin-right: 33px;
    }

    .b-name-tariff__additional + &--tariff-more {
        margin-left: 0;
    }

    &--dropdown {
        margin: 0px;
    }

    &--margin-l {
        margin-left: 0;
        margin-right: 40px;
    }
}