/* 1440 + */
.b-dropdown-block {
    border-top: 1px solid @cl-rtd-border-body-table;
    padding: 20px 0 0;
    width: 100%;

    &--payment-page & {
        &__hidden-block {
            padding-bottom: 48px;
        }
    }

    &--no-border {
        padding-top: 0;
        border: none;
        & .b-dropdown-block__hidden-wrapper {
            border: none;
        }
    }

    &--information {
        border-top: none;
        border-bottom: 1px solid @cl-rtd-border-body-table;
        padding-top: 0px;
        margin-bottom: 42px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 22px;
    }

    &__link {
        display: inline-block;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 54%;
            margin: -2px -30px 0 0;
            right: 0;
            border: 6px solid transparent;
            border-top: 8px solid @cl-rtd-account;
            transition: .3s;
        }

        &.active:before {
            // transform: rotate(180deg);
            transform: scaleY(-1);
            top: 30%;
        }
    }

    &__title {
        font-family: @font-din;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.6px;
        color: @cl-rtd-title;
    }

    &__info {
        font-family: @font-din;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.6px;
        color: @cl-rtd-account;
        margin-left: 21px;
    }

    &__hidden-block {
        display: none;

        // &.active {
        //     height: auto
        // }
    }

    &__hidden-wrapper {
        // margin: 20px 0 0; убрал для страницы оплаты
        // border-top: 1px solid rgba(51, 51, 51, 0.6);

        &--information {
            padding-top: 23px;
        }
    }
}