/* 768 + */
.b-dropdown-block {
    // width: calc(~"100% - 30px");
    // margin: 0 15px;

    &__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    &--information & {
        &__wrapper {
            padding-bottom: 11px;
        }
    }

    &__hidden-wrapper {
        margin: 0;
    }

    &__column {
        width: 100%;

        &:first-child {
            margin-bottom: 13px;
        }
    }

    &__link {
        display: block;

        &:before {
            margin-right: 0;
        }
    }
}