/* 320 + */
.b-dropdown-block {

    &--payment-page & {
        &__hidden-block {
            padding-bottom: 0px;
        }
    }

    &--information {
        width: calc(~"100% + 30px");
        margin-left: -15px;
        margin-right: -15px;
    }

    &__title {
        line-height: 40px;
    }

    &__info {
        line-height: 40px;
    }

    &__column {
        padding: 0 15px;
    }

    &__info {
        display: block;
        margin-left: 0;
    }

    &__wrapper {
        padding-bottom: 10px;
    }

    &__hidden-wrapper {
        margin: 0 15px;
    }
}