/* 1440 + */
.b-data-item {
    display: inline-block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: @cl-rtd-account;
    text-transform: uppercase;

    dd,
    dt,
    & {
        margin: 0;
    }

    &--charge {
        margin-bottom: 20px;
    }

    &--status {
        width: 100%;
        margin-bottom: 15px;
    }

    &--requested-service {
        max-width: 150px;
        width: 100%;
        margin-bottom: 18px;
        margin-right: 27px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &--contact {
        display: block;
        margin-bottom: 18px;
    }

    &--connect {
        width: 100%;
        margin-bottom: 18px;
    }

    // должен быть в конце модов
    &--half-width {
        width: 50%;
    }

    &__value {
        display: block;
        color: @cl-font-gray;
        letter-spacing: -0.6px;
        font-size: 24px;
        font-weight: bold;
        text-transform: none;

        &--small {
            font-size: 18px;
            letter-spacing: -0.2px;
            font-weight: normal;
        }

        &--contact {
            font-size: 18px;
            letter-spacing: -0.2px;
            font-weight: normal;
        }
    }
}