/* 768 + */
.b-button {
	&--header {
		margin-bottom: 5px;
	}

    &--form-exit {
        padding: 19px 35px 32px;
        margin-left: 40px;
        margin-top: 0;
    }

    &--pay {
        width: 160px;
    }

    &--next {
        width: 183px;
    }

    &--pass-save {
        width: 160px;
    }

    // &--search {
    //     left: 69px;
    // }

    &--input-search {
        left: auto;
    }

    &--connect {
        margin-top: 0;
        width: 160px;
    }

    &--request-footer {
        order: 1;
    }
}
