/* 1440 + */
.b-button {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 52px;
    letter-spacing: 0.1px;
    text-align: center;
    text-transform: uppercase;
    font-family: @font-din-medium;
    transition: background-color .3s, border .3s, color .3s;
    text-decoration: none;
    height: 52px;
    width: 160px;

    &--header {
        order: 3;
        height: 52px;
        width: 160px;
    }

    &--no-flex {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
    }

    &--order {
        height: auto;
        width: auto;
        font-family: @font-din-medium;
        border: 0;
        padding: 0 29px;
        background-color: @cl-rtd-number-background;
        color: @cl-Project-white;
    }

    &--form-save {
        line-height: 16px;
        background-color: @cl-rtd-number-background;
        padding: 16px 35px 20px;
        color: @cl-rtd-exit-icon;
    }

    &--send {
        width: 160px;
        line-height: 16px;
        padding: 20px 26px;
    }

    &--form-exit {
        line-height: 16px;
        padding: 19px 35px 32px;
        margin-left: 40px;
    }

    &--pass-save {
        width: 160px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.2px;
        padding: 19px 26px 17px;
        margin-left: 40px;
    }

    &--profile-save {
        width: 264px;
        height: 50px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.2px;
        padding: 19px 35px 17px;
        text-align: left;
    }

    &--profile-change {
        width: 100%;
        line-height: 16px;
        padding: 17px 26px 20px;
    }

    &--pay {
        line-height: 16px;
        padding: 19px 35px 33px;
        margin-left: auto;
    }

    &--form-close {
        line-height: 16px;
        background-color: @cl-rtd-number-background;
        padding: 16px 35px 20px;
        color: @cl-rtd-exit-icon;
        margin-left: 40px;
    }

    &--next-step {
        width: 183px;
        margin-left: auto;
        line-height: 16px;
        padding: 20px 26px 16px;
    }

    &--tv-button {
        width: 135px;
        flex-basis: 135px;
        font-family: @font-din;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: @cl-rtd-border;
        background-color: @cl-rtd-white;
        border: solid 1px @cl-rtd-border;

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-rtd-light;
            border-color: @cl-rtd-light;
        }
    }

    &--next {
        width: 183px;
        margin-left: auto;
        // margin-right: 20px;
        // margin-top: 27px;
        line-height: 16px;
        padding: 18px 26px 20px;
    }

    &--change-data {
        padding: 0;
        vertical-align: top;
        border: none;
        line-height: 17px;
        color: @cl-rtd-border-dwopdown;
    }

    &--search {
        position: absolute;
        top: 0px;
        // left: 145px;
        right: 0;
        bottom: 0;
        width: auto;
        height: 32px;
        // margin-top: -10px;
        font-size: 16px;
        line-height: 26px;
        border: 0;
        padding: 0px;
        padding-top: 4px;
        width: 30px;
        background-color: transparent;
        color: @cl-rtd-account;
        z-index: 2;
    }

    &--input-search {
        width: 60px;
        left: auto;
        right: 0;
        z-index: 2;

        .icon-search {
            vertical-align: text-top;
        }
    }

    &--request-footer {
        margin-left: auto;
    }

    &--item-product {
        margin-left: auto;
        flex: 0 0 200px;
    }

    &--transparent {
        color: @cl-rtd-light;
        border-color: @cl-rtd-border;
        background-color: transparent;

        .no-touchevents &:hover,
        .touchevents &:active {
            border-color: @cl-rtd-border-header-table;
        }

        .no-touchevents &:active {
            color: @cl-rtd-border-dwopdown;
            border-color: @cl-rtd-border-dwopdown;
        }
    }

    &--orange {
        border: 0;
        background-color: @cl-rtd-number-background;
        color: @cl-Project-white;

        .no-touchevents &:hover,
        .touchevents &:active {
            background-color: @cl-rtd-button-hover;
        }

        .no-touchevents &:active {
            background-color: @cl-rtd-number-background;
        }
    }

    &--blue {
        border: 0;
        background-color: @cl-rtd-border-dwopdown;
        color: @cl-Project-white;

        .no-touchevents &:hover,
        .touchevents &:active {
           background-color: @cl-rtd-hover-link-button;
        }

        .no-touchevents &:active {
            background-color: @cl-rtd-border-dwopdown;
        }
    }

    &--disabled,
    &:disabled {
        color: @cl-Project-white;
        background-color: rgba(51, 51, 51, 0.3);
    }

    &--service {
        width: 100%;
    }

    &--apply-filter {
        width: 100%;
    }

    &--full-width {
        width: 100%;
    }

    &--charge {
        margin-top: 8px;
    }

    &--status {
        margin-top: 10px;
    }

    &--new-tel {
        margin-bottom: 20px;
    }

    &--order-detail {
        width: 100%;
    }

    &--new-phone {
        margin-right: 20px;
        align-self: flex-end;
    }

    &--list-of-numbers {
        align-self: flex-end;
        width: 185px;
        line-height: 16px;
        padding: 20px 28px;
    }

    &--numbers {
        align-self: flex-end;
        width: 198px;
        line-height: 16px;
        padding: 20px 28px;
    }

    &--connect {
        margin-top: 20px;
        width: 180px;
    }


    &--find {
        width: 125px;
        margin-left: 15px;
    }

    &--tariff,
    &--choice-phone {
        width: auto;
        height: auto;
        padding: 20px 28px 16px;
        line-height: 1.14;
        letter-spacing: .5px;
    }

    &--connect {
        margin-top: 20px;
        width: 180px;
    }

    &--footer-popup {
        display: none;
    }

    &--calendar-filter {
        width: 232px;
        margin: 0px auto;
        display: block;
        height: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    &--period-calendar {
        width: 231px;
        margin: 0px auto;
        color: @cl-rtd-exit-icon;
        border-color: @cl-rtd-calendar-border;
        height: 32px;
        line-height: 32px;
        display: block;
    }

    &--table-setting {
        width: 249px;
    }

    &--error {

        &:disabled {
            background-color: @cl-rtd-light;
        }
    }

    &--manage-group {
        width: 225px;
    }

    &--search-manage-group {
        top: 26px;
        right: 34px;
    }

    &--service-activation {
        width: 178px;
    }

    &--search-dropdown {
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        width: auto;
        height: 52px;
        font-size: 16px;
        line-height: 52px;
        border: 0;
        padding: 0px;
        width: 47px;
        background-color: transparent;
        color: @cl-rtd-account;
        z-index: 2;
    }
}

// .b-input--search:focus ~ .b-button--search {
//     left: 600px;
//     transition: left 0.3s;
// }