/* 320 + */
.b-button {
	&--header {
		// display: none;
		margin-left: 15px;
        width: calc(~'100% - 90px');
	}

    &--order {
        width: 100%;
    }

    &--next-step {
        width: 100%;
    }

    &--pay {
        width: 100%;
    }

    &--pass-save {
        width: 100%;
        margin-left: 0;
    }

    &--send {
        width: 100%;
        margin-top: 30px;
    }

    &--list-of-numbers {
        // width: calc(~'100% - 35px');
        width: 100%;
    }

    &--request-footer {
        margin: 0;
        width: 100%;
    }

    &--change-data {
        align-self: end;
    }

    &--next {
        width: 100%;
    }

    &--form-exit {
        padding: 17px 35px 32px;
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }

    &--numbers {
        width: 100%;
    }

    &--connect {
        margin-top: 0;
        width: 100%;
    }

    &--find {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
    }

    &--tariff {
        width: 100%;
    }

    &--choice-phone {
        width: 100%;
        margin-top: 20px;

    }

    &--footer-popup {
        display: block;
        width: 100%;
    }

    &--calendar-filter {
        margin-bottom: 0px;
        margin-top: 16px;
    }
}