/* 768 + */
.b-form {
    &--connect {
        & .b-label {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 280px;
            padding-right: 25px;
            max-width: none;
        }
    }

    &__group {
        margin-top: 12px;
        margin-bottom: 20px;

        &--select {
            margin-top: 12px;
        }

        &--payment {
            margin-bottom: 24px;
        }

        &--cards {
            margin-top: 0;
        }

        &--username {
            margin-top: 45px;
        }
    }

    &__list-of-numbers {

        &--flex {
            margin-top: 32px;
        }

        &--position {
            margin: 41px 0 11px;
        }

        &--container {
            max-height: 430px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }

    &__container-items {
        min-width: 323px;

        &--compare {
            margin-right: 0;
        }

        &--list-of-number {
            min-width: 349px;
            margin-right: 0;
        }
    }

    &__items {
        flex-wrap:nowrap;
        margin-bottom: 20px;
    }

    &__security-help {
        margin-left: 18px;
    }

    &__user-info {
        margin-right: 83px;
        margin-bottom: 0;
    }

    &__buttons {
        &--newappeal {
            margin-top: 40px;
        }
    }

    &__password-help {
        margin-left: 0;
    }

    &__search {
        right: 20px;
    }
    &__container {
        flex-wrap: wrap;
    }

    &__radio-block {
        width: 100%;
    }

    &__info-block {
        margin-top: 20px;
    }
}