/* 1280 */
.b-form {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    flex-direction: row;
    align-items: center;

    &--request {
        width: 100%;
        max-width: 620px;
        margin-bottom: 20px;
        text-align: right;
    }

    &--connect {
        width: 100%;
        margin-bottom: 20px;
        text-align: right;
        padding-top: 25px;

        & .b-label {
            line-height: 1;
            max-width: 360px;
        }
    }

    &__compare {
        width: 100%;
        margin-bottom: 18px;

        &:hover {
            .b-link--compare {
                transition: 0.3s;
                opacity: 1;
            }

            .b-checkbox__name--numbers {
                color: @cl-rtd-gray;
            }
        }
    }

    &__title {
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 1.3;
        color: @cl-font-light;
        margin-left: 20px;
        margin-top: 8px;
    }

    &--flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__group {
        display: flex;
        position: relative;
        margin-bottom: 18px;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;

        &--full {
          width: 100%;
        }

        &--contact-person {
            margin-top: 46px;
        }

        &--buttons {
            justify-content: space-between;
            margin-top: 40px;
        }

        &--numbers {
            margin-top: 11px;
            margin-left: 20px;
            margin-bottom: 36px;
        }

        &--username {
            margin-top: 50px;
        }

        &--select {
            flex-direction : row;
            max-width: 700px;
        }

        &--input-list {
            flex-direction : row;
            max-width: 700px;
        }

        &--without-title {
            margin-top: 12px;
        }

        &--payment {
            margin-bottom: 20px;
            margin-top: 12px;
        }

        &--password-check {
            flex-direction : row;
            align-items: flex-start;
        }
    }

    &__compare-phone {
        padding: 28px 30px;
        background-color: @cl-rtd-body-table;
        margin-top: 12px;
        margin-bottom: 25px;

        &--without-padding {
            padding: 28px 0 46px 30px;
        }
    }

    &__list-of-numbers {
        max-height: 185px;
        position: relative;
        overflow-y: hidden;

        &--position {
            margin: 41px 0 11px -2px;
        }

        &--flex {
            display: block;
            font-size: 0;
        }

        &--container {
            max-height: 215px;
            margin-top: 40px;
            margin-bottom: 16px;
        }
    }

    &__container-items {
        display: inline-block;
        min-width: 200px;
        max-height: 170px;
        vertical-align: top;
        overflow-y: hidden;
        font-size: 0;

        &--compare {
            margin-right: 102px;
            margin-bottom: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &--list-of-number {
            margin-right: 83px;

            &:last-child {
                margin-right: 0;
            }
        }

        &--container {
            margin-top: 40px;
        }

        &--items {
            max-height: 215px;
        }
    }

    &__items {
        display: flex;
        margin-bottom: 20px;
    }

    &__validator {
        width: 100%;
        position: relative;
        text-align: left;

        &--small {
            width: 150px;
        }

        &--short {
            width: 140px;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        &--numbers {
            max-width: 480px;
        }
    }

    &__security-help {
        width: 150px;
        margin-left: 20px;
        color: @cl-rtd-account;
        padding-top: 7px;
    }

    &__payment {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &--security {
            justify-content: flex-start;
        }
    }

    &__select {
        width: 480px;
        padding: 17px 20px;
        border: 1px solid @cl-rtd-border-body-table;
    }

    &__select-item {
        padding: 17px 20px;
    }

    &__textarea {
        width: 480px;
        height: 200px;
        border-radius: 2px;
        padding: 17px 20px;
        border-color: @cl-rtd-border-body-table;
        resize: none;
    }

    &__uploadfield {
        width: 480px;
        height: 54px;
        color: @cl-rtd-account;
        padding: 19px 100px 17px;
        border: 1px dashed @cl-rtd-border-body-table;
    }

    &__password-field {
        width: 480px;
        padding: 20px 20px 18px;
    }

    &__password-help {
        // width: 480px;
        // margin-left: 220px;
        margin-top: 8px;
    }

    &__password-recomendation {
        display: block;
        position: relative;
        font-size: 12px;
        line-height: 13px;
        color: @cl-rtd-account;
        margin-left: 14px;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__user-info {
        width: 241px;
        margin-right: 155px;
    }

    &__userinfo {
        &--name {
            display: block;
        }
    }

    &__data-container {
        display: block;
    }

    &__hint {
        display: inline-block;
        vertical-align: middle;
        width: 150px;
        color: @cl-theme-grey;
        margin-left: 20px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;

      &--newappeal {
          margin-top: 40px;
          flex-direction: row;
      }

      &--pay {
          margin-top: 38px;
      }

      &--password {
          margin-top: 39px;
          flex-direction: row;
          justify-content: flex-end;
      }

      &--service {
        margin-top: 50px;
        flex-direction: row;
      }
    }

    &__error-text {
        position: absolute;
        font-size: 12px;
        line-height: 12px;
        color: @cl-rtd-validator-error;
        left: 0;
        bottom: -20px;
    }

    &__search {
        position: absolute;
        top: 16px;
        right: 20px;
        color: @cl-rtd-light;
    }
    
    &__container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__radio-block {
      padding-right: 10px;
      min-width: 725px;
    }

    &__radio-list {
      padding: 0;

      &--service {
        margin-bottom: 45px;
      }
    }

    &__radio-item {
      list-style: none;
      margin-bottom: 20px;

      &--service {
        display: flex;
      }
    }

    &__radio-description {
      display: inline-block;
      vertical-align: middle;
      padding-top: 5px;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: -0.2px;
      color: @cl-font-light;
      margin-left: 17px;
    }

    &__info-block {
      max-width: 380px;
      padding: 20px;
      padding-top: 30px;
      padding-bottom: 10px;
      margin-top: -40px;
      background-color: @cl-rtd-body-table;
      flex-grow: 2;
    }

    &__info-block-subtitle {
      display: block;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: @cl-rtd-account;
    }

    &__info-block-text {
      display: block;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.17;
      letter-spacing: -0.6px;
      color: @cl-rtd-title;
      margin-bottom: 17px;
    }
}
.js-condition-match {
    line-height: 13px;
    color: @cl-rtd-title;

    &:before {
        content: "";
        position: absolute;
        left: -14px;
        top: 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: @cl-rtd-password-condition-match;
    }
}
.js-validator-false {
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        background-color: #ff4747;
        z-index: 5;
    }
}

.no-flexboxlegacy {

  .b-form__info-block {
    max-width: none;
    flex-grow: 1;
  }

}
@-moz-document url-prefix() {
    .b-form__container-items--list-of-number {
        margin-right: 75px;
    }
}