/* 320 + */
.b-form {

    &--connect {
        padding-top: 20px;

        & .b-label {
            width: 100%;
            flex-basis: auto;
        }
    }

    &__group {
        margin-bottom: 26px;
        flex-direction: column;
        margin-top: 0;

        &--select {
            flex-direction: column;
            margin-top: 0;
        }

        &--input-list {
            flex-direction : row;
            flex-wrap:wrap;
            margin-right: -5px;
        }

        &--payment {
            margin-bottom: 28px;
        }

        &--cards {
            flex-direction : row;
            flex-wrap: wrap;
        }

        &--numbers {
            margin-left: 0;
        }
    }

    &__title {
        margin-left: 0;
    }

    &__compare-phone {
        margin-top: 0;

        &--without-padding {
            overflow: hidden;
            padding: 32px 0 34px 14px;
            margin-bottom: 43px;
        }
    }

    &__validator {

        &--small {
            width: 115px;
        }

        &--short {
            width: 33.3%;
            padding-right: 5px;
            margin-right: 0;
        }

        &--select-list {
            margin-top: 16px;
        }

        &--numbers {
            margin-top: 16px;
        }
    }

    &__search {
        right: 20px;
    }

    &__user-info {
        margin-bottom: 18px;
    }

    &__list-of-numbers {

        &--position {
            margin: 30px 0 11px;
        }

        &--flex {
            margin-top: 30px;
        }

        &--container {
            max-height: max-content;
        }
    }

    &__items {
        flex-wrap:wrap;
        margin-bottom: 27px;
    }

    &__buttons {
        &--newappeal {
            margin-top: 30px;
            flex-direction: column;
        }

        &--password {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__password-help {
        margin-left: 0;
    }

    &__container-items {
        min-width: 100%;

        &--compare {
            margin-bottom: 5px;
        }
    }

    &__radio-block {
      min-width: 0;
    }

    &__radio-description {
        margin-left: 38px;
    }

    &__radio-item {

        &--service {
            flex-direction: column;
        }
    }
}