/* 320 + */
.b-label {
    &--form-label {
        max-width: 100%;
    }


    &--form-label,
    &--form-label-textarea {
        padding: 0;
        margin-bottom: 15px;
    }

    &--form-label-service {
        max-width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }

    &--username {
        margin-bottom: 15px;
    }

    &--pay {
        width: 100%;
    }

    &--new-password {
        margin-top: 0px;
    }
    &--new-phone {
        // max-width: 140px;
        align-self: end;
    }
}