/* 1440 + */
.b-label {
    font-family: @font-base;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: @cl-rtd-account;

    &--long-distance {
        display: inline-block;
        width: 200px;
        padding-right: 30px;
    }

    &--form-label {
        max-width: 220px;
        padding: 0px 18px 0px 0px;
        align-self: center;
    }

    &--form-label-service {
        max-width: 280px;
        padding: 0px 18px 0px 0px;
        align-self: center;
    }

    &--requested-service {
        max-width: 360px;
        padding: 5px 20px 0px 0;
    }

    &--service {
        max-width: 360px;
        padding: 17px 20px 17px 0;
    }

    &--form-label-textarea {
        max-width: 220px;
        padding: 17px 20px 17px 0;
    }

    &--upload {
        padding: 9px 20px 9px 0;
        vertical-align: bottom;
    }

    &--contact-person {
        padding: 0;
        vertical-align: top;
    }

    &--username {
        max-width: 220px;
        vertical-align: top;
        padding: 0;
    }

    &--pay {
        flex-grow: 0;
        flex-shrink: 0;
        width: 35%;
        line-height: 54px;
    }

    &--new-password {
        margin-bottom: auto;
        margin-top: 17px;
    }

    &--new-phone {
        max-width: 140px;
        align-self: center;
    }
}