/* 768 + */
.b-label {

    &--form-label,
    &--form-label-textarea {
        max-width: 280px;
    }

    &--form-label-textarea {
        padding-top: 0;
        padding-bottom: 0;
    }

    &--username {
        max-width: 280px;
        margin-bottom: 0;
    }

    &--pay {
        width: 260px;
    }
}