/* 320 + */
.b-toggle-button {
    width: auto;
    &__label {
        display: block;

        &--first {
            margin-right: 0;
            padding-right: 0;
            margin-bottom: -40px;
            padding-bottom: 50px;
        }

        &--second {
            left: 0;
            padding-left: 0;
            top: -45px;
            padding-top: 50px;
        }
    }
}