/* 1440+ */
.b-toggle-button {
	position: relative;
	font-size: 0;
	width: 100%;

	&__radio {
		display:none;
	}

	&__label {
		position: relative;
		font-size: 24px;
		font-family: @font-din;
		line-height: 1.17;
		letter-spacing: -0.6px;
		text-align: left;
		color: @cl-font-light;
		z-index: 5;
		display: inline-block;
		width: auto;
		transition: .3s;

		&--first {
			margin-right: -40px;
			padding-right: 60px;
		}

		&--second {
			left: -40px;
			padding-left: 60px;
		}
	}

	&__radio:checked + &__label {
		z-index: 2;
	}


	&__radio:checked + &__label {
		color: @cl-font-gray;
	}

	&__label,
	&__label:before,
	&__switch,
	&__switch:before {
	  cursor: pointer;
	}

	&__switch {
		position: relative;
    	display: inline-block;
		top: 2px;
		z-index: 1;
		width: 40px;
		height: 24px;
		border-radius: 20px;
		border: 1px solid @cl-rtd-border-body-table;
		padding: 4px;
	}

	&__switch:before {
		content:'';
		position:absolute;
		top: 3px;
		left: 18px;
		display:block;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		background-color: @cl-rtd-blue;
		transition: .3s;
	}

	&__radio--first:checked ~ &__switch:before {
		left: 4px;
	}

}