/* 1440 + */
.b-hamburger-button {
    display: none;
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 10px;
    font-size: 0;
    line-height: 0;
    padding: 4px;

    &__inner {
        display: inline-block;
        width: 22px;
        height: 2px;
        border-radius: 2px;
        background-color: @cl-rtd-humburger;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 8px;
            width: 22px;
            height: 2px;
            border-radius: 2px;
            background-color: @cl-rtd-humburger;
        }
        &:before {
            bottom: 16px;
        }
    }

    &--table-setting {
        display: inline-block;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 24px;
        padding-right: 0;
    }

    &--table-setting & {
        &__inner {
            background-color: @cl-rtd-border-body-table;
            width: 16px;

            &:before,
            &:after {
                width: 16px;
                background-color: @cl-rtd-border-body-table;
            }

            &:before {
                bottom: 11px;
            }

            &:after {
                bottom: 4px;
            }
        }
    }
}