/* 1440 + */
.b-price-number {
    padding: 24px 20px 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: @cl-font-light;

    &__column-title {
        display: flex;
        padding: 11px 2px 12px 2px;
        border-bottom: 1px solid @cl-rtd-border-body-table;
    }

    &__title-right {
        margin-left: auto;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding: 11px 3px;
        border-bottom: 1px solid @cl-rtd-border-body-table;
    }

    &__selected-item {
        color: @cl-rtd-title;
    }

    &__value {
        font-family: @font-base;
        font-size: 18px;
        font-weight: bold;
        color: @cl-rtd-title;
    }
}
