/* 768 + */
.b-tariff {

    &__item-name {

        &--first {
            width: 212px;
        }

        &--third {
            width: 122px;
        }

        &--fourth {
            width: 107px;
        }

        &--fifth {
            width: 173px;
        }
    }

    &__list-name {
        width: 930px;
    }

    &__tariff-dropdown {
        width: 930px;

        &--show {
            width: 1138px;
        }
    }

    // Ширины столбцов в отделных попапах
    //  Selecting the M2M tariff
    &__list-name--m2m {
        width: 990px;

        & .b-tariff__item-name {
           &--first {
                width: 220px;
            }
            &--second {
                width: 150px;
            }
            &--third {
                width: 215px;
            }
            &--fourth {
                width: 170px;
            }
        }
    }

    //  services/cloud/service-vDC-2-tarifs-custom
    &__list-name--vdc-2 {
        width: 1138px;
    }

    //  Selecting the add-services
    &__list-name--add-services {
        & .b-tariff__item-name {
           &--first {
                width: 348px;
            }
            &--second {
                width: 200px;
            }
            &--third {
                width: 175px;
            }
        }
    }

    //  Выбор дополнительных пакетов телеканалов
    &__list-name--pack-tv-3 {
        & .b-tariff__item-name {
           &--first {
                width: 170px;
            }
            &--second {
                width: 210px;
                padding-left: 10px;
            }
            &--third {
                width: 198px;
                padding-left: 15px;
            }
            &--fourth {
                width: 120px;
                padding-left: 20px;
            }
        }
    }

    //  Выбор основных пакетов телеканалов
    &__list-name--pack-tv {
        & .b-tariff__item-name {
           &--first {
                width: 320px;
            }
            &--second {
                width: 180px;
            }
            &--third {
                width: 200px;
            }
        }
    }

    // Selecting a mobile Internet package
    &__list-name--package {
        width: 990px;

        & .b-tariff__item-name {
           &--first {
                width: 390px;
            }
            &--second {
                width: 200px;
            }
            &--third {
                width: 170px;
            }
        }
    }

    //  Selecting tariff web conference
    &__list-name--web {
        & .b-tariff__item-name {
           &--first {
                width: 325px;
            }
            &--second {
                width: 220px;
            }
            &--third {
                width: 160px;
            }
        }
    }

    //  Selecting the Выбор тарифа местная телефонной связи
    &__list-name--local-rate-fare {
        & .b-tariff__item-name {
           &--first {
                width: 180px;
            }
            &--second {
                width: 110px;
            }
            &--third {
                width: 200px;
            }
            &--fourth {
                width: 185px;
            }
        }
    }

    //- Выбор тарифа междугородней и международной связи (long-distance)
    &__list-name--long-distance {
        & .b-tariff__item-name {
           &--first {
                width: 320px;
            }
            &--second {
                width: 260px;
            }
            &--third {
                width: 120px;
            }
        }
    }
    // Select offer Interactive TV
    &__list-name--tv {
        & .b-tariff__item-name {
           &--first {
                width: 175px;
            }
            &--second {
                width: 360px;
            }
        }
    }
    // Новая телефония phone-2
    &__list-name--phone-choice {
        width: 1138px;
        & .b-tariff__item-name {

            // &--first {
            //     width: 110px;
            // }
            // &--second {
            //     width: 130px;
            //     padding-left: 20px;
            // }
            // &--third {
            //     width: 160px;
            //     padding-left: 5px;
            // }
            // &--fourth {
            //     width: 170px;
            //     padding-left: 10px;
            // }
            // &--fifth {
            //     width: 140px;
            //     padding-left: 10px;
            // }
        }
    }

    &__list-name--choice-additional-services {
        & .b-tariff__item-name {
            &--first {
                width: 390px;
            }

            &--second {
                width: 400px;

                &:not(:first-child) {
                    text-align: left;
                }
            }
        }
    }

    &__set-points {
        width: 440px;

        &--width {
            width: 470px;
        }
    }

}