/* 1440 + */
.b-tariff {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;

    &__list-name {
        padding-left: 20px;
        font-size: 0;
        line-height: 0px;
        margin-bottom: 13px;
        width: 1138px;
    }

    &__item-name {
        list-style-type: none;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-theme-grey;
        display: inline-block;
        padding-left: 30px;

        &--first {
            width: 384px;
            padding-left: 0;
        }

        &--second {
            width: 84px;
        }

        &--third {
            width: 150px;
        }

        &--fourth {
            width: 120px;
        }

        &--fifth {
            width: 168px;
        }

        &:not(:first-child) {
            text-align: right;
        }
    }

    &__tariff-dropdown {
        display: none;
        width: 1138px;
        background-color: @cl-rtd-body-table;
        border-top: 1px solid @cl-rtd-border-body-table;
        margin-top: -12px;
        margin-bottom: 12px;
        padding-top: 18px;
        padding-bottom: 29px;

        &--show {
            display: block;
            padding-bottom: 0px;
        }

        &--set-points {
            padding-bottom: 10px;
        }
    }

    .b-popup-content--tariff-mobile &__item-name--second {
        padding-left: 0;
    }

    // Ширины столбцов в отделных попапах
    //  Selecting the M2M tariff
    &__list-name--m2m {
        & .b-tariff__item-name {
           &--first {
                width: 270px;
            }
            &--second {
                width: 210px;
            }
            &--third {
                width: 240px;
            }
            &--fourth {
                width: 190px;
            }
        }
    }

    //  service-vdc-2-tarifs
    &__list-name--vdc-2 {
        & .b-tariff__item-name {
            text-align: left;

           &--first {
                width: 155px;
                padding-right: 15px;
            }
            &--second {
                width: 135px;
                padding-left: 15px;
            }
            &--third {
                width: 80px;
                padding-left: 15px;
            }
            &--fourth {
                width: 155px;
                padding-left: 15px;
            }
            &--fifth {
                width: 150px;
                padding-left: 15px;
            }
            &--sixth {
                width: 170px;
                padding-left: 15px;
            }
            &--seventh {
                width: 100px;
                padding-left: 15px;
                text-align: right;
            }
        }
    }

    // Selecting a mobile Internet package
    &__list-name--package {
        & .b-tariff__item-name {
           &--first {
                width: 510px;
            }
            &--second {
                width: 210px;
            }
            &--third {
                width: 190px;
            }
        }
    }

    //  Selecting the type of connection
    &__list-name--add-services {
        & .b-tariff__item-name {
           &--first {
                width: 465px;
            }
            &--second {
                width: 275px;
            }
            &--third {
                width: 195px;
            }
        }
    }
    // Select offer Interactive TV
    &__list-name--tv {
        & .b-tariff__item-name {
            &:not(:first-child) {
                text-align: left;
            }
            &--first {
                width: 205px;
            }
            &--second {
                width: 555px;
            }
            &--third {
                width: 165px;
            }
        }
    }
    // Selecting the type of connection
    &__list-name--classic-phone {
        & .b-tariff__item-name {
            &:not(:first-child) {
                text-align: left;
            }
            &--first {
                width: 225px;
            }
            &--second {
                width: 100px;
            }
        }

    }

    //  Selecting the Выбор тарифа местная телефонной связи
    &__list-name--local-rate-fare {
        & .b-tariff__item-name {
           &--first {
                width: 260px;
            }
            &--second {
                width: 220px;
            }
            &--third {
                width: 240px;
            }
            &--fourth {
                width: 185px;
            }
        }
    }

    //  Выбор дополнительных пакетов телеканалов
    &__list-name--pack-tv-3 {
        & .b-tariff__item-name {
           &--first {
                width: 255px;
            }
            &--second {
                width: 270px;
            }
            &--third {
                width: 250px;
            }
            &--fourth {
                width: 135px;
            }
        }
    }

    //  Выбор основных пакетов телеканалов
    &__list-name--pack-tv {
        & .b-tariff__item-name {
           &--first {
                width: 450px;
            }
            &--second {
                width: 300px;
            }
            &--third {
                width: 160px;
            }
        }
    }

    //- Выбор тарифа междугородней и международной связи (long-distance)
    &__list-name--long-distance {
        & .b-tariff__item-name {
           &--first {
                width: 400px;
            }
            &--second {
                width: 350px;
            }
            &--third {
                width: 155px;
            }
        }
    }

    //  Selecting tariff web conference
    &__list-name--web {
        & .b-tariff__item-name {
           &--first {
                width: 325px;
            }
            &--second {
                width: 305px;
                text-align: left;
            }
            &--third {
                width: 275px;
            }
        }
    }

    // virtual-office-one
    &__list-name--virtual-office-one {
        & .b-tariff__item-name {
            &--first {
                width: 259px;
            }
            &--second {
                text-align: left;
                padding-left: 0px;
                width: 407px;
            }
            &--third {
                width: 240px;
            }
        }
    }

    // Внутризоновая телефонная связь
    &__list-name--intrazone {
        & .b-tariff__item-name {
            &--first {
                width: 50%;
            }
            &--second {
                width: 49%;
            }
        }
    }

    // Новая телефония phone-2
    &__list-name--phone-choice {
        & .b-tariff__item-name {
            text-align: left;

            &--first {
                width: 180px;
                padding-left: 0px;
            }
            &--second {
                width: 140px;
            }
            &--third {
                width: 190px;
            }
            &--fourth {
                width: 240px;
            }
            &--fifth {
                width: 180px;
                padding-left: 50px;
            }
        }
    }

    &__list-name--choice-additional-services {
        & .b-tariff__item-name {
            &--first {
                width: 425px;
            }

            &--second {
                width: 435px;

                &:not(:first-child) {
                    text-align: left;
                }
            }
        }
    }

    &__text-only {
        padding-left: 20px;
    }

    &__paragraph {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        width: 580px;
    }

    &__set-points {
        display: inline-block;
        vertical-align: top;
        width: 508px;
        padding-left: 40px;
        padding-top: 20px;
        margin-bottom: 35px;

        &--width {
            width: 500px;
        }
    }

    &__text,
    &__hyphen {
        margin-top: 0px;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        margin-bottom: 25px;
    }

    &__hyphen {
        text-align: center;
        margin-bottom: 0;
        margin-right: 2px;
        margin-left: 3px;
        padding-top: 10px;
        display: inline-block;
    }

    &__like-number {
        column-count: 2;
    }
}




