/* 1440 + */
.b-value-statistics {
    display: inline-block;
    width: 50%;
    // max-width: calc(~"50% - 14px");
    vertical-align: top;

    &:not(:first-child) {
        padding-left: 14px;
    }

    &__color {
        display: inline-block;
        width: 12px;
        height: 40px;
        vertical-align: top;
        margin-right: 9px;

        &--light-blue {
            background-color: @cl-rtd-back-statistics-chart;
        }

        &--blue {
            background-color: @cl-rtd-blue;
        }
    }

    &__info {
        display: inline-block;
        max-width: calc(~"100% - 21px");
    }

    &__name-value,
    &__item-value {
        margin: 0px;
        font-family: @font-base;
        line-height: 1.33;
    }

    &__name-value {
        font-size: 12px;
        color: @cl-font-light;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }

    &__item-value {
        font-size: 18px;
        color: @cl-rtd-title;
        letter-spacing: -0.2px;
    }
}