/* 1440 + */
.b-table-sort {
    background-color: @cl-rtd-body-table;
    position: relative;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
    height: 56px;
    width: 100%;

    &__search {
        width: 300px;
        height: 32px;
        display: inline-block;
        margin-right: 18px;
    }

    &__center {
        flex: 1 0 auto;
        position: relative;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0px;
        //     left: 0;
        //     height: 32px;
        //     border-right: 1px solid @cl-rtd-border-body-table;
        // }
    }

    .b-tab__column--padding &__center {
        padding-left: 0;
    }

    &__search-link {
        // font-family: Arial;
        // font-size: 14px;
        // line-height: 1.29;
        // letter-spacing: -0.2px;
        // color: @cl-rtd-account;
        // text-decoration: none;
        // display: flex;
        // justify-content: space-between;
        // padding-right: 16px;
        // height: 100%;
        // align-items: center;

        & .icon-search {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            line-height: 16px;
            height: 16px;
        }
    }

    &__wrapper-search {
        display: inline-block;
        vertical-align: middle;
        max-width: 585px;
        width: 100%;
        position: relative;
    }

    &__clear-search {
        position: absolute;
        // right: 0;
        // left: 640px;
        // top: 13px;
        display: none;
        vertical-align: middle;
        color: @cl-rtd-account;
        font-size: 12px;
        line-height: 32px;
        text-decoration: none;
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: @cl-rtd-body-table;
        opacity: 0;
        z-index: -1;
    }

    // .b-input--search:focus ~ &__clear-search {
    //     opacity: 1;
    //     z-index: 2;
    //     transition: opacity 0.3s;
    // }

    &__hidden-search {
        position: static;
        // height: 100%;
        // position: absolute;
        // top: 50%;
        // left: 0;
        // max-width: 620px;
        // margin: -17px 0 0 19px;
        // // min-width: 580px;
        // width: 0;
        // transition: width .3s;
        // overflow: hidden;
        // background-color: @cl-rtd-body-table;
        // z-index: 1;

        // &.active {
        //     width: 100%;
        // }
    }

    &__center {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    &__checkbox {
        margin-left: 27px;
    }

    &__text {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
    }

    &__mobile,
    &__mobile-title,
    &__button {
        display: none;
    }

    &__mobile-title {
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        background-color: @cl-rtd-body-table;
        border-bottom: solid 1px @cl-rtd-border-body-table;
        padding: 19px 16px;
        margin-bottom: 25px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__right {
        padding-top: 3px;
    }

    &__select-block {
        position: relative;
    }

    &__select {
        width: 188px;
        margin-right: 20px;
    }

    &--document-history {
        .b-table-sort__search {
            width: 205px;
        }

        .b-input--search {
            width: 100%;
        }

        .b-tooltip {
            margin-left: 10px;
        }

        .b-checkbox__text {
            margin-left: 5px;
            padding-top: 0;
        }

        .select2--filter-document .select2-selection--single .select2-selection__rendered {
            white-space: nowrap;
            padding-right: 20px;
            text-overflow: ellipsis;
        }
    }
}