/* 320 + */
.b-table-sort {
    padding: 16px;
    margin: 0 15px 14px;
    width: calc(~'100% - 30px');

    &__center {
        &:before {
            top: -4px;
        }
    }

    &__search-text {
        width: 40px;
        overflow: hidden;
        white-space: nowrap;
    }

    &__text {
        display: none;
    }

    &__wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    &__wrapper-search {
        max-width: 200px;
    }

    &__clear-search {
        left: 240px;
    }

    &__mobile-hidden {
        // display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform .3s, opacity .3s;
        background-color: @cl-Project-white;
        opacity: 0;
        flex-direction: column;
        justify-content: space-between;
        z-index: 109;

        &.active {
            transform: translateX(0);
            opacity: 1;
            display: flex;
        }
    }

    &__mobile,
    &__mobile-title,
    &__text,
    &__button {
        display: block;
    }

    &__select-block {
        padding: 0 14px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 22px;
    }

    &__checkbox {
        padding: 0 14px;
        margin: 0 0 0;
    }

    .b-dropdown-block__hidden-wrapper--payment-page & {
        width: calc(~"100% - 30px");
    }

    &__select {
        margin-right: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &--document-history {
        flex-wrap: nowrap;

        & .b-table-sort__search {
            flex-grow: 0;
            margin-right: 10px;
        }

        & > div {
            margin-bottom: 0;
        }

        & .b-table-sort__select-block {
            align-items: center;
        }
    }
}