/* 768 + */
.b-table-sort {
    padding: 20px 16px;
    margin-bottom: 9px;
    margin-right: 20px;
    align-items: center;
    width: calc(~"100% - 20px");

    &__search {
        width: 140px;
    }

    &__search-text {
        width: 42px;
        white-space: nowrap;
        overflow: hidden;
    }

    &__center {
        padding-left: 0px;
    }

    &__right {
        padding-top: 0px;
    }

    // &__hidden-search {
    //     margin-left: 15px;
    // }

    &__select {
        width: 140px;
    }

    &__checkbox {
        margin-left: 15px;
    }

    &--document-history {
        height: auto;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 10px;

        & .b-table-sort__search {
            flex-grow: 1;
            margin-right: 0;
        }

        & .b-table-sort__wrapper-search {
            max-width: none;
        }
    }

    &--document-history > div {
        margin-bottom: 10px;
    }
}

.b-tab__column--padding .b-table-sort {
    width: 100%;
}

// .b-retractable-block .b-table-sort,
// .b-dropdown-block .b-table-sort {
//     width: 100%;
// }