/* 1440 + */
.b-range {
	padding: 2px;
  height: 30px;
  vertical-align: top;

	&__count {
	    display: inline-block;
	    width: 44px;
	    height: 32px;
	    padding: 7px 2px 7px 2px;
      text-align: center;
	    border-radius: 2px;
	    border: 1px solid @cl-rtd-border-body-table; 
      margin-top: -6px;
      font-weight: bold;
      font-size: 14px;
	}

  &__value {
    font-family: @font-base;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: @cl-rtd-title;
  }

  &__line {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 270px;
    flex-direction: row;
    justify-content: space-between;
  }
}


// Обёртка
.noUi-base {
	display: inline-block;
	height: auto;
	width: calc(~"100% - 70px");
	margin-right: 26px;
  margin-top: 6px;
  vertical-align: top;
}

// Кружочек
.noUi-handle {
  border-radius: 100%;
  background: @cl-rtd-blue;
  cursor: default;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  left: -12px;
  top: -9px;
}

// ползунок
.noUi-base {
  z-index: 1;
  height: 8px;
  border-radius: 6px;
  background-color: @cl-rtd-white;
  border: 1px solid @cl-rtd-border-body-table;
}

.noUi-connect {
  background: @cl-rtd-range-conect;
  border-radius: 6px;
}



/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}


[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}








/* 1440 + */
/*! nouislider - 10.1.0 - 2017-07-28 13:09:54 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.noUi-target {
  direction: ltr;
}



.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

