/* 1440 + */
.b-show-more {
    display: inline-block;
    vertical-align: middle;
    font-family: @font-din-medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
    color: @cl-rtd-border-dwopdown;
    text-transform: uppercase;

    &__dotted {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 28px;
        border-radius: 2px;
        background-color: rgba(0, 168, 255, 0.2);
        text-align: center;
        margin-right: 15px;
        position: relative;
    }

    &__dot {
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background-color: @cl-rtd-border-dwopdown;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        border-radius: 100%;
        // margin-top: 8px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 4px;
            height: 4px;
            background-color: @cl-rtd-border-dwopdown;
            border-radius: 100%;
        }

        &:before {
            left: 7px;
        }

        &:after {
            right: 7px;
        }
    }
}