/* 1440 + */
.b-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: @cl-rtd-body-table;
    font-family: @font-base;
    padding: 16px 20px;
    position: relative;

    &__service-number {
        display: block;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.2px;
        color: @cl-rtd-account;
        text-transform: uppercase;
        padding-right: 45px;
    }

    &__name {
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
    }

    &__control {
        position: absolute;
        right: 9px;
        top: 7px;
    }

    &__icon {
        font-size: 12px;
        padding: 5px;
        color: @cl-rtd-icon-delete-block;
        display: inline-block;
        line-height: 1;

        &--first {
            margin-right: 4px;
        }
    }
}