/* 1440 + */
.b-choice-date {
    display: block;
    width: 100%;
    font-size: 14px;

    &--charge {
        font-size: 18px;
        margin-bottom: 15px;
        & .b-link {
            font-size: 18px;
            margin-left: 5px;

            &--calendar {
                border: none;
                background-color: transparent;
                margin-left: 0;
            }
        }
    }
}