/* 1440 + */
.b-type-of-appeal {
    width: 100%;
    max-width: 620px;
    padding-bottom: 23px;
    margin-bottom: 43px;
    border-bottom: 1px solid @cl-rtd-border-body-table;

    &__note {
        display: block;
        margin-top: 12px;
    }
}