/* 1440 + */
.b-select {
    display: inline-block;
    width: 480px;
    font-size: 14px;
    padding: 17px 20px;
    border: 1px solid @cl-rtd-border-body-table;

    &__select-item {
        padding: 17px 20px;
        border-color: red;
    }

    &--numbers {
        min-width: 200px;
    }

    &--test {
        width: 200px !important;
    }
}