/* 1440 + */
.b-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    font-size: 15px;
    // line-height: 21px;

    &--right {
        padding: 18px 0;
    }

    &__name,
    &__input {
        display: inline-block;
        width: auto;
    }

    &--list-of-numbers {
        margin-right: 16px;
    }

    &--table-setting {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid @cl-rtd-border-body-table;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }

    &--table-setting & {
        &__text {
            margin-left: 7px;
            padding-top: 0;
        }

        &__name {
            height: auto;
            min-height: 24px;
            padding-bottom: 3px;
        }
    }

    &--no-border {
        border: none;
    }

    &--manage-group {
        border-bottom: none;
        justify-content: flex-start;
    }

    &__input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 5px;
    }

    &--new-phone {
        margin-left: 220px;
    }

    &__name {
        height: 24px;
        position: relative;
        display: block;
        cursor: pointer;
        padding-left: 29px;
        font-size: 15px;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 22px;
            height: 22px;
            border-radius: 2px;
            background-color: @cl-rtd-white;
            border: solid 1px @cl-rtd-border-body-table;
            transition: border-color 0.3s;
        }

        &:after {
            transition: opacity 0.3s;
            content: "";
            .icon-base-pseudo;
            .icon-char(checked);
            position: absolute;
            font-size: 10px;
            left: 6px;
            top: 3px;
            // top: 2px;
            // display: none;
            color: @cl-font-blue;
            opacity: 0;
        }

        &--right {
            height: auto;
            padding-left: 36px;
            padding-right: 50px;

            &:before {
                top: 50%;
                margin-top: -12px;
            }

            &:after {
                top: 50%;
                margin-top: -10px;
            }
        }

        &--notification {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.2px;
            padding-left: 19px;
            // padding-top: 3px;
        }

        &--notification-line {
            height: auto;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.2px;
            padding-left: 19px;
            padding-top: 3px;
        }

        &--new-phone {
            padding-left: 22px;
            margin-top: -2px;
        }

        &--numbers {
            color: @cl-rtd-light;
            padding-left: 26px;
        }
    }


    &__input[type=checkbox]:checked ~ &__name {

        &:after {
            opacity: 1;
        }

        &:before {
            border-color: @cl-rtd-border-dwopdown;
        }

        .no-touch &:hover {

            &:before {
                // background: @cl-tsv-checkbox-hover;
            }
        }
    }

    &__input[type=checkbox]:disabled ~ &__name {
        &:before {
            border-color: @cl-rtd-border-body-table;
        }

        &:after {
            color: @cl-rtd-border-body-table;
        }
    }

    &__text {
        margin-left: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        padding-top: 3px;

        &--right {
            margin: 0;
            display: inline;
            font-family: @font-base;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.2px;
            color: @cl-font-gray;

            .b-link {
                text-transform: none;
                // font-size: 14px;
                font-family: @font-base;
            }
        }

        &--color {
            margin-left: 0;
        }
    }

    &--choice-additional-services & {
        &__text {
            color: @cl-rtd-account;

            &--color {
                color: @cl-rtd-title;
            }
        }
    }

    &--list-of-numbers &__text {
        color: @cl-font-light;
    }
    .no-touchevents .b-checkbox-list__compare:hover &--list-of-numbers &__text {
        color: @cl-font-gray;
    }

    &--notification {
        width: 100%;
        margin-bottom: 16px;
    }

    // мод для блока Вид документа b-doc-type
    &--doc-type {
        // margin-left: -30px;
        // max-width: calc(~"100% - 45px");
        vertical-align: top;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .b-checkbox {

            &__text {
                color: @cl-font-gray;
                letter-spacing: 0.2px;
                margin-left: 3px;
            }

            &__name {
                height: auto;
            }
        }
    }

    &--choice-additional-services {
        margin-bottom: 20px;
    }

    &--type-doc-order {
        margin-top: 4px;
        margin-bottom: 7px;
    }

    &--type-doc-order & {
        &__text {
            font-family: @font-din-medium;
            line-height: 1.14;
            letter-spacing: 0.1px;
            text-transform: uppercase;
            margin-left: 12px;
        }
    }
}
