/* 320 + */
.b-checkbox {
    &--filter {
        display: block;

        & .b-checkbox__input {
            left: auto;
            right: 0;
        }

        & .b-checkbox__name {
            display: block;
            padding: 0 29px 0 0;

            &:before,
            &:after {
                left: auto;
                right: 0;
            }

            &:after {
                right: 5px;
            }
        }

        & .b-checkbox__text {
            margin-left: 0;
        }
    }

    &--new-phone {
        margin-left: 0;
    }

    &__name {
        &--notification {
            height: auto;
        }
    }

    &--notification {
        margin-bottom: 19px;
        height: auto;
    }

    &--doc-type {
        width: 100%;
    }
}