/* 1440 + */
.b-tariff-item {
    background-color: @cl-rtd-body-table;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 12px;
    height: 76px;
    width: 1138px;

    &__tariff-name {
        text-align: right;
        padding-left: 30px;
        font-family: @font-base;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
        color: @cl-font-gray;

        &--second {
            width: 84px;
        }
        &--third {
            width: 150px;
        }
        &--fourth {
            width: 120px;
        }
        &--fifth {
            width: 168px;
        }
        &--link {
            width: 345px;
        }
        &--button {
            width: 200px;
        }
    }

    &--new-phone-setting {
        justify-content: space-between;
    }

    // Ширины столбцов в отделных попапах
    //  Selecting the M2M tariff
    &--m2m {
        .b-name-tariff {
            width: 270px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 210px;
            }
            &--third {
                width: 240px;
            }
            &--fourth {
                width: 190px;
            }
        }
    }

    //  services/cloud/service-vDC-2-tarifs-custom
    &--vdc-2 {
        .b-name-tariff {
            width: 155px;
            padding-right: 15px;
        }
        .b-tariff-item__tariff-name {
            text-align: left;

            &--second {
                width: 135px;
                padding-left: 15px;
            }
            &--third {
                width: 80px;
                padding-left: 15px;
            }
            &--fourth {
                width: 155px;
                padding-left: 15px;
            }
            &--fifth {
                width: 150px;
                padding-left: 15px;
            }
            &--sixth {
                width: 170px;
                padding-left: 15px;
                line-height: 0.5;
            }
            &--seventh {
                width: 125px;
                padding-right: 20px;
                padding-left: 0;
                text-align: right;
            }
            &--button {
                padding: 0;
                width: auto;
            }
        }
    }

    &--last {
        justify-content: space-between;

        .b-tariff-item__tariff-name {
            &--first {
                width: auto;
                padding-left: 0;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: -0.2px;
            }

            &--second {
                width: auto;
            }
        }
    }

    &--tariff-mobile {
        .b-tariff-item__tariff-name {
            &--second {
                padding-left: 0px;
            }
        }
    }

    //  Selecting the add-services
    &--add-services {
        .b-name-tariff {
            width: 465px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 310px;
            }
            &--third {
                width: 190px;
            }
        }
    }

    // Selecting a mobile Internet package
    &--package {
        .b-name-tariff {
            width: 510px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 210px;
            }
            &--third {
                width: 190px;
            }
        }
    }

    // Selecting the type of connection
    &--classic-phone&--three-column {
        .b-name-tariff {
            width: 220px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 530px;
            }
        }
    }

    // Select offer Interactive TV
    &--tv&--three-column {
        .b-name-tariff {
            width: 200px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 490px;
            }
            &--third {
                width: 170px;
            }
        }
    }

    //  Selecting local-rate-fare
    &--local-rate-fare {
        .b-name-tariff {
            width: 260px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 220px;
            }
            &--third {
                width: 240px;
            }
            &--fourth {
                width: 185px;
            }
        }
    }

    //  Selecting local-rate-fare
    &--pack-tv-3 {
        .b-name-tariff {
            width: 255px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 270px;
            }
            &--third {
                width: 250px;
            }
            &--fourth {
                width: 135px;
            }
        }
    }

    //  Selecting local-rate-fare
    &--pack-tv {
        .b-name-tariff {
            width: 450px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 300px;
            }
            &--third {
                width: 160px;
            }
        }
    }

    //- Выбор тарифа междугородней и международной связи (long-distance)
    &--long-distance {
        .b-name-tariff {
            width: 400px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 350px;
            }
            &--third {
                width: 155px;
            }
        }
    }

    &--virtual-office-one {
        .b-name-tariff {
            width: 259px;
        }

        .b-tariff-item__tariff-name {
            &--second {
                width: 407px;
                text-align: left;
                padding-left: 0;
            }

            &--third {
                width: 240px;
            }
        }
    }
    // Selecting tariff web conference
    &--web {
        .b-name-tariff {
            width: 325px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 305px;
                text-align: left;
            }
            &--third {
                width: 275px;
            }
        }
    }

    // Selecting tariff web conference
    &--intrazone {
        .b-name-tariff {
            width: 50%;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 49%;
            }
        }
    }

    // Новая телефония phone-2
    &--phone-choice {
        .b-tariff-item__tariff-name {
            &--first {
                width: 180px;
                padding-left: 0px;
            }
            &--second {
                width: 140px;
                text-align: left;
            }
            &--third {
                width: 190px;
                text-align: left;
            }
            &--fourth {
                width: 250px;
                text-align: left;
            }
            &--fifth {
                width: 160px;
            }
        }
    }

    &--vdc-3 {
        .b-tariff-item__tariff-name {
            &--fourth {
                width: 76px;
                padding-left: 29px;
            }

            &--fifth {
                padding-left: 28px;
            }

            &--third-repeat {
                padding-left: 28px;
            }
        }
    }



    &__text {
        text-align: left;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        font-weight: normal;
        letter-spacing: -0.2px;
        color: @cl-theme-grey;
        margin: 0;
    }

    &--three-column & {
        &__tariff-name {
            &--second {
                width: 500px;
            }
        }
    }

    &--choice-additional-services {
        .b-name-tariff {
            width: 425px;
        }

        .b-tariff-item__tariff-name {
            &--second {
                width: 435px;
            }

            &--button {
                width: 246px;
            }
        }
    }

    &__icon {
        display: inline-block;
        position: relative;
        margin-right: 31px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -6px;
        }

        &:before {
            left: 12px;
            border: 7px solid transparent;
            border-left: 8px solid  @cl-rtd-body-table;
            z-index: 2;
        }

        &:after {
            left: 15px;
            border: 7px solid transparent;
            border-left: 8px solid  @cl-font-blue;
            z-index: 1;
        }
    }
}