/* 768 + */
.b-tariff-item {
    width: 930px;

    &__tariff-name {

        &--second {
            width: 84px;
        }

        &--third {
            width: 122px;
        }

        &--fourth {
            width: 107px;
        }

        &--fifth {
            width: 173px;
        }

        &--link {
            width: 270px;
        }
    }

    &--new-phone-setting {
        width: 100%;
    }

    // Ширины столбцов в отделных попапах
    //  Selecting the M2M tariff
    &--m2m {
        width: 990px;

        .b-name-tariff {
            width: 220px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 150px;
            }
            &--third {
                width: 215px;
            }
            &--fourth {
                width: 170px;
            }
        }
    }

    //  services/cloud/service-vDC-2-tarifs-custom
    &--vdc-2 {
        width: 1138px;
    }
    &--last {
        width: 1138px;
    }

    //  Selecting the add-services
    &--add-services {
        .b-name-tariff {
            width: 348px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 200px;
            }
            &--third {
                width: 150px;
            }
        }
    }

    // Ширины столбцов в отделных попапах
    // Selecting a mobile Internet package
    &--package {
        width: 990px;

        .b-name-tariff {
            width: 390px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 200px;
            }
            &--third {
                width: 170px;
            }
        }
    }
    // Selecting tariff web conference
    &--web {
        .b-name-tariff {
            width: 325px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 305px;
                text-align: left;
            }
            &--third {
                width: 275px;
            }
        }
    }

    //  Selecting local-rate-fare
    &--pack-tv-3 {
        .b-name-tariff {
            width: 170px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 210px;
                padding-left: 10px;
            }
            &--third {
                width: 198px;
                padding-left: 15px;
            }
            &--fourth {
                width: 120px;
                padding-left: 20px;
            }
        }
    }

    //  Selecting local-rate-fare
    &--pack-tv {
        .b-name-tariff {
            width: 320px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 180px;
            }
            &--third {
                width: 200px;
            }
        }
    }

    //  Selecting local-rate-fare
    &--local-rate-fare {
        .b-name-tariff {
            width: 180px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 110px;
            }
            &--third {
                width: 200px;
            }
            &--fourth {
                width: 185px;
            }
        }
    }

    //- Выбор тарифа междугородней и международной связи (long-distance)
    &--long-distance {
        .b-name-tariff {
            width: 320px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 260px;
            }
            &--third {
                width: 120px;
            }
        }
    }

    // Select offer Interactive TV
    &--tv&--three-column {
        .b-name-tariff {
            width: 170px;
        }
        .b-tariff-item__tariff-name {
            &--second {
                width: 300px;
            }
            &--link {
                width: 240px;
            }
        }
    }
    // Новая телефония phone-2
    &--phone-choice {

        width: 1138px;
        .b-tariff-item__tariff-name {
            // &--first {
            //     width: 140px;
            //     padding-left: 0;
            // }
            // &--second {
            //     width: 140px;
            //     padding-left: 15px;
            // }
            // &--third {
            //     width: 200px;
            //     padding-left: 10px;
            // }
            // &--fourth {
            //     width: 200px;
            //     padding-left: 10px;
            // }
            // &--fifth {
            //     width: 160px;
            //     padding-left: 10px;
            // }
        }
    }

    &--choice-additional-services {

        .b-name-tariff {
            width: 390px;
        }

        .b-tariff-item__tariff-name {
            &--second {
                width: 400px;
            }

            &--button {
                width: 246px;
            }
        }
    }

}