/* 1440 + */
.b-service-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px 15px;

    &--footer {
        width: calc(~'100% + 24px');
        margin-bottom: 5px;
    }

    &__item {
        list-style-type: none;
        width: 270px;
        margin: 0 10px 20px;
    }
}