/* 768 + */
.b-service-list {
    flex-flow: wrap;
    flex-direction: row;
    margin: 0 -13px 0;

    &--footer {
        width: calc(~"100% + 26px");
    }

    &__item {
        width: 330px;
        margin-bottom: 23px;
    }
}