/* 320 + */
.b-list-profile {
    position: relative;
    width: auto;

    &:not(:first-of-type) {
        margin-left: 0px;
    }

    &--company {
        .b-list-profile__preview {
            background-color: transparent;
        }
    }

    &__preview {
        color: @cl-font-gray;
        padding: 0;
        position: relative;
        padding-right: 30px;
        width: auto;


        // font-size: 14px;
        // height: 100%;
        // color: @cl-font-white;
        // padding: 13px 28px;
        // display: inline-block;

        &:before {
            border-top-color: @cl-font-gray;
            top: 18px;
            right: 10px;

        //  content: '';
        //  display: inline-block;
        //  position: absolute;
        //  top: 22px;
        //  right: 15px;
        //  width: 0;
        //  height: 0;
        //  border-left: 4px solid transparent;
        //  border-right: 4px solid transparent;
        //  border-top: 4px solid @cl-rtd-white;
        }

        &.active {
            background-color: transparent;
        }

    }

    &__drop-down {
        position: static;
        box-shadow: none;
        background-color: @cl-rtd-body-table;
    }
}