/* 1440 + */
.b-list-profile {
    position: relative;
    min-width: 195px;

    &:not(:first-of-type) {
        margin-left: 15px;
    }

    &__preview {
        font-family: @font-din;
        font-size: 14px;
        height: 100%;
        color: @cl-font-white;
        padding: 13px 35px 13px 28px;
        display: inline-block;
        width: 100%;
        transition: background-color 0.3s;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 22px;
            right: 15px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid @cl-rtd-white;
        }

        &.active {
            background-color: @cl-rtd-blue;
        }

    }

    &__drop-down {
        display: none;
        position: absolute;
        background-color: @cl-rtd-white;
        padding: 15px 20px;
        z-index: 100;
        width: 100%;
        box-shadow:  0 2px 20px 0 @cl-rtd-login-account-block-shadow;
    }

    &__item {
        font-family: @font-din;
        line-height: 0;
        list-style: none;
        margin-bottom: 15px;

        &--name {
            font-size: 10px;
            border-bottom: 1px solid @cl-rtd-border-body-table;
            margin-right: -20px;
            margin-left: -20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 17px;
        }

        &--logout {
            margin-top: 44px;
            margin-bottom: 0px;
        }
    }

    &__name,
    &__login {
        display: block;
        line-height: 11px;
        letter-spacing: 0.2px;
    }

    &__name {
        color: @cl-rtd-title;
    }

    &__login {
        color: @cl-rtd-login-account;
    }
}