/* 320 + */
.b-selected-item {

    &--new-phone {
        margin-bottom: 20px;
    }

    &--one-width {
        flex-basis: 100%;
        min-height: 130px;
        margin-bottom: 20px;
    }
    &--two-width {
        flex-basis: 100%;
        min-height: 130px;
        margin-bottom: 20px;
    }
}