/* 768 + */
.b-selected-item {
    padding: 16px 18px;

    &--one-width {
        flex-basis: 330px;
        min-height: 160px;
        margin-left: 0px;
    }
    &--two-width {
        flex-basis: 680px;
        min-height: 160px;
        margin-bottom: 20px;
    }

}