/* 1440 + */
.b-selected-item {
    padding: 16px 20px;
    border: 1px solid @cl-rtd-border-body-table;

    &--new-phone {
        display: flex;
        flex-wrap: wrap;

        .b-selected-item__selected {
            padding-top: 6px;
            padding-bottom: 3px;
        }
    }

    &--one-width {
        flex-basis: 270px;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 20px;
    }
    &--two-width {
        flex-basis: 560px;
        justify-content: space-between;
        flex-direction: column;
    }

    &__title {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: @cl-font-light;
        font-family: @font-base;
    }

    &__selected {
        font-size: 24px;
        color: @cl-font-gray;
        font-family: @font-base;
        font-weight: bold;
        margin-left: auto;
    }
}