/* 1440 + */
.b-compare-phone {
    padding: 28px 30px;
    background-color: @cl-rtd-body-table;
    margin-top: 12px;
    margin-bottom: 25px;

    &--without-padding {
        padding: 28px 0 46px 30px;
    }

    &--second-tab {
        margin-top: 20px;
        margin-bottom: 21px;
    }

    &__list-of-numbers {
    	margin-top: 40px;
        font-size: 0;
        margin-bottom: 11px;

        &--second-tab {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__container-items {
        display: inline-block;
        min-width: 200px;
        max-height: 170px;
        vertical-align: top;
        overflow-y: hidden;
        font-size: 0;

        &--compare {
            margin-right: 102px;
            margin-bottom: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &--second-tab {
            min-width: 250px;
            margin-right: 60px;
            margin-bottom: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &--numbers {
            margin-right: 73px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }

    &__compare {
        margin-bottom: 20px;

        &:hover {
            .b-link--compare {
                opacity: 1;
            }
        }
    }
}
