//- ====================
//- Project: RT
//- 30-08-2017: Mell.Blimm
//- --------------------
//- список / выбор клиента
//- ====================

//- info (true/false) - чтобы показать сразу список заготовленный
mixin accordion(info)
    +b.accordion.js-accordion-scroll
        if info == true
            +accordion-item('Алькор и Ко', '', '')
                +accordion-item('Московская обл.', '', '')
                    +accordion-item('Сергиев Посад', '', '')
                        +accordion-item('', 'ЛС: 8500000049228 ООО «АЛЬКОР И К»', '')
            +accordion-item('Алькор и Ко', '', '')
                +accordion-item('', '', '').group
                    +accordion-item('Московская обл.', '', '')
                        +accordion-item('Сергиев Посад', '', '')
                            +accordion-item('', 'ЛС: 8500000049228 ООО «АЛЬКОР И К»', '')
                    +accordion-item('Москвa', '', '')
                        +accordion-item('Москвa', '', '')
                            +accordion-item('', 'ЛС: 8500000049228 ООО «АЛЬКОР И К»', '')

        block

//- name - заголовок для ссылки
//- info - инвормация которая выведется в раскрытом списке
mixin accordion-item(name, info, tooltip)
    +e.item.js-accordion-item(class!=attributes.class)
        if name
            +e('a').link.js-accordion-link(href="javascript:void(0);" title="#{name}") #{name}
        else if info
            +e('div').tooltip.js-parent-tooltip-choose
                +e('a')(href="javascript:void(0);" class="info #{tooltip}" title="#{info}") #{info}
                if tooltip
                    +tooltip-choose('Добавить', 'Редактировать', 'Переименовать', 'Удалить').b-tooltip__list--choose-client

        block

mixin tooltip-choose(...items)
    .b-tooltip__hidden.b-tooltip__hidden--choose-client.js-tooltip-choose
        ul.b-tooltip__list(class!=attributes.class)
            each item in items
                li.b-tooltip__item
                    a.b-tooltip__link(href="javascript:void(0);" title="#{item}") #{item}