//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Заготовка для основных кнопок
//- ====================

mixin button(content)
    +b('a').button( href="javascript:void(0);" title='#{content}' class!=attributes.class ) #{content}
        block

mixin button-1(content)
    +b('button').button&attributes(attributes) #{content}

mixin button-data(content, data)
    +b('a')( href="javascript:void(0);" title='#{content}' data-retractable="#{data}").button&attributes(attributes) #{content}