mixin calendar()
    +b.calendar.js-open-calendar
        +b.tab-calendar
            +e('div').tab-nav-wrapper
                +e('ul').tab-nav-list
                    +e('li').tab-nav-item(class='active')
                        +e('a').link.js-tab-link-calendar(href="javascript:void(0);" title="Дата" data-tab="calendar-1") Дата
                    +e('li').tab-nav-item
                        +e('a').link.js-tab-link-calendar(href="javascript:void(0);" title="Период" data-tab="calendar-2") Период
                    +e('li').tab-nav-item
                        +e('a').link.js-tab-link-calendar(href="javascript:void(0);" title="Месяц" data-tab="calendar-3")
                            | Месяц
                    +e('li').tab-nav-item
                        +e('a').link.js-tab-link-calendar(href="javascript:void(0);" title="Квартал" data-tab="calendar-4") Квартал
                    +e('li').tab-nav-item
                        +e('a').link.js-tab-link-calendar(href="javascript:void(0);" title="Год" data-tab="calendar-5") Год
                +e('div').line-block
                    +e('div').line-nav.js-line-nav-calendar

            block

mixin button-calendar()
    +e.wrapper-button
        button(class="b-button b-button--orange b-button--calendar-filter") Выбрать

mixin slider-year()
    //- TODO: переделать стрелки влево и вправо на before и after. В плагине календаря тоже
    +b.calendar-filter--slider-nav.js-slider-cont
        nav
            div(class="pmu-prev pmu-button js-slide-move" data-move="left") ◀
            +e.slider-track
                +e.slider-list.js-slide-nav
                    div(class="pmu-month pmu-button js-slide-prev")
                    div(class="pmu-month pmu-button js-slide-curr")
                    div(class="pmu-month pmu-button js-slide-next")
            div(class="pmu-next pmu-button js-slide-move" data-move="right") ▶