//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Заготовка для основных кнопок
//- ====================

mixin cards()
    +b('ul').cards(class!=attributes.class)
        +e('li').item
            +e('img').image(alt='Visa' title='Visa' src='images/inhtml/visa.svg')
        +e('li').item
            +e('img').image(alt='Master-card' title='Master-card' src='images/inhtml/mastercard.svg')
        +e('li').item--mir
            +e('img').image(alt='Мир' title='Мир' src='images/inhtml/mir.svg')