//- ====================
//- Project: RT
//- 14-08-2017: Amedomary
//- --------------------
//- Блок пополнения счёта
//- ====================

//- Выбор даты, use +choice-date(название, ссылка сос трелкой)
//- include ./choice-date.jade

mixin charge(notFound)
    +b.charge
        +e.top-line
            +data-item('Текущий баланс', '-235,97 руб.').--half-width.--charge
            +data-item('Количество услуг', '12').--half-width.--charge
        +choice-date('Данные за', 'Март 2015').--charge

        if notFound
            +e('div').error
                +e('span').error-text #{notFound}

            +button-1('Пополнить счёт')(disabled="disabled").--full-width.--charge.--error

        else
            +data-item('Списания с НДС', '1476,74 руб.').--small.--half-width.--charge
            +data-item('Списания без НДС', '5476,74 руб.').--small.--half-width.--charge
            +data-item('Пополнения', '6176,14 руб.').--small.--half-width.--charge
            +button('Пополнить счёт').--orange.--full-width.--charge