//- ====================
//- RTD: checkbox
//- 03-08-2017: drtvader
//- --------------------
//- чекбокс
//- ====================
mixin checkbox(name, id, title, modificator)
    +b.checkbox(class!="#{modificator}")
        +e('input')(type="checkbox" name='#{name}' id='#{id}').input
        +e('label').name(for='#{id}' class!=attributes.class)
            if title
                +e.text #{title}
        block


mixin checkbox-right()
    +b.checkbox--right
        +e('input')(type="checkbox" name='right' id='id-right').input
        +e('label').name--right(for='id-right')
            +e.text--right Я согласен с 
                a.b-link(href='javascript:void(0);' title='') условиями
            +e.text--right  предоставления услуги

mixin checkbox-checked(name, id, title, modificator)
    +b.checkbox(class!="#{modificator}")
        +e('input')(type="checkbox" name='#{name}' id='#{id}' checked disabled).input
        +e('label').name(for='#{id}' class!=attributes.class)
            if title
                +e.text #{title}
        block

mixin checkbox-span(name, id, title, modificator, mark)
    +b.checkbox(class!="#{modificator}")
        +e('input')(type="checkbox" name='#{name}' id='#{id}').input
        +e('label').name(for='#{id}' class!=attributes.class)
            if title
                +e.text #{title}
                +e('span').text--color #{mark}
        block
