//- ====================
//- Project: RT
//- 14-08-2017: Amedomary
//- --------------------
//- блок выбора даты
//- ====================

//- title -- Жирный заголовок
//- preview -- Предворительная голубая

mixin choice-date(title, preview)
    +b('span').choice-date(class!=attributes.class) #{title} 
        +e('a').link.b-link.b-link--calendar(href='javascript:void(0)' title='') #{preview}
