//- ====================
//- Project: choice-size
//- 09-08-2017: Amedomary
//- --------------------
//- блок выбора размера файла в лиц счетах
//- ===================


//- Палзунок, +range().--mod
include ./range.jade
//- Подсказка, +tooltip(quest, ...items).--mod
//- mark = quest  -- если вам нужен знак вопроса вместо 3х точек
include ./tooltip.jade
//- Поле ввода, +input(id, input_type).--mod
include ./input.jade
//- Селект формата документа, Use +select-tiny('Pdf','Xls','Csv')(только три)
include ./select.jade


mixin choice-size(once)
    +b.choice-size(class!=attributes.class)
        if once == true
            +e('p').description Предпочтительный формат документов
            +select-tiny('Pdf','Xls','Csv').--gray
            +e('p').description--once Сформированный пакет документов будет отправлен Вам на электронную почту в формате ZIP.

        else
            +e('p').description Сформированный пакет документов будет ежемесячно направляться Вам на выбранный адрес электронной почты с архивированием в формате ZIP.
        
        +e('p').hint Максимальный размер 
            +e('span').hint--mobile-hide файла
            | , МБ
        //- include ./tooltip.jade
        +tooltip(quest, 'Если размер файлов будет превышать допустимый, пакет документов документов будет отправле отдельными письмами.').--size-doc
        //- include ./range.jade
        +range().--size
        +e('p').hint--password Пароль к архиву 
            +e('span').option-hint (Не&nbsp;обязательно)
        //- include ./tooltip.jade
        +tooltip(quest, 'Вы можете установить пароль для архива для повышения безопасности передаваемых данных.').--size-doc
        //- include ./input.jade
        +input('size-document', 'text', '', '').--size-password