//- ====================
//- Project: Compare-phone
//- 05-09-2017: MynameisIM
//- --------------------
//- Контейнер списка номеров
//- ====================

mixin compare-phone()
    +b.compare-phone
        +e.list-of-numbers
            block
