//- ====================
//- Project: Counter
//- 29-08-2017: MynameisIM
//- --------------------
//- Счётчик с подписью
//- ====================

mixin counter(count, label)
    +b.counter-items
        +e('span').count #{count}
        +e('span').label #{label}