//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- маленький элемент данных
//- ====================

//- up_name - верхняя подписка
//- main_value - нижнее значение

mixin data-item(up_name, main_value)
    +b('dl').data-item(class!=attributes.class)
        +e('dt') #{up_name}
        +e('dd').value(class!=attributes.class) #{main_value}