//- ====================
//- Project: Document type
//- 03-08-2017: Amedomary
//- --------------------
//- блок, Вид документа
//- ====================

//- Селект формата документа, Use +select-tiny('Pdf','Xls','Csv')(только три)
include ./select.jade
//- Чекбокс, use +checkbox('name', 'id', 'title', 'modificator')
include ./checkbox.jade

mixin doc-type()
    +b.doc-type(class!=attributes.class)
        +e('h4').caption Вид документа
        +e('h3').title Пакет финансовых документов
        +e.checkbox-block
            +e('ul').list
                +e('li').item
                    //- Чекбокс
                    //- mixin checkbox(name, id, title, modificator)
                    +checkbox('facture', 'facture-type', 'Счет-фактура', '--doc-type')
                        //- Селект
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('cheque-type', 'cheque-type-type', 'Счет', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('transcript-type', 'transcript-type', 'Расшифровка счета', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('certificate-completion', 'certificate-completion', 'Акт выполненных работ', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
            +e('ul').list

mixin doc-type-once()
    +b.doc-type(class!=attributes.class)
        +e('h4').caption Вид документа
        //- +e('a').title.b-link(href="javascript:void(0);" title='' class!=attributes.class) Пакет финансовых документов
        +select-type-doc('Пакет финансовых документов','Акт сверки взаимных расчётов')
        +e.checkbox-block
            +e('ul').list
                +e('li').item
                    +checkbox('facture', 'facture-type-2', 'Счет-фактура', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('cheque-type', 'cheque-type-type-2', 'Счет', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('transcript-type', 'transcript-type-2', 'Расшифровка счета', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('certificate-completion', 'certificate-completion-2', 'Акт выполненных работ', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
            +e('ul').list
                +e('li').item
                    +checkbox('correction-in', 'correction-in-2', 'Корректировочный счёт-фактура', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('corrective-in', 'corrective-in-2', 'Корректировочный счёт-фактура на авансы', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')
                +e('li').item
                    +checkbox('act-of-work', 'act-of-work-2', 'Исправленный акт выполненных работ', '--doc-type')
                        +select-tiny('Pdf','Xls','Csv')

        block