include ./money-min.jade
//- ====================
//- Project: RT
//- 10-08-2017: drtvader
//- --------------------
//- выпадающий блок
//- ====================


//- title заголовок
//- info текст внутри
//- history_payment try если нужно показать список документов
//- item текст для ссылки обычной
//- other это если футере
mixin dropdown-block(title, info, history_payment, item, other)
    +b.dropdown-block(class!=attributes.class)
        +e.wrapper
            +e.column
                +e.link.js-open-dropdown(href="javascript:void(0);" title="#{title}")
                    +e.title #{title}
                    if info
                        +e.info #{info}

            +e.column
                if history_payment
                    +history-payment(history_payment, 'XLS', 'PDF', 'CSV')
                if item
                    +b('a').link(href="javascript:void(0);" title="#{item}" class!=attributes.class) #{item}
                else if other == true
                    +e.block
                        +e.info.--pay Подключение
                        +e.money 3500 руб.
                        +button('Оформить заказ').--orange.--get-order

        +e.hidden-block.js-hidden-dropdown
            +e.hidden-wrapper(class!=attributes.class)
                block

//- миксин контента в выпадашке
//- title заголовок
//- info информация о услуге
//- money миксин денег
//- sum сумма
//- link ссылка
mixin dropdown-content(title, info, money, sum, link)
    +b.dropdown-content(class!=attributes.class)
        +e.column.first
            +e.title(class!=attributes.class) #{title}
            +e.info(class!=attributes.class) #{info}
        if money
            +e.column.second
                +money-min(money)(class!=attributes.class)
        +e.column.third
            +e.sum #{sum}
        if link
            +e.column.four
                +b('a').link.--option(href="javascript:void(0);" title="Изменить") Изменить
        +e.column.five
            +e.close.js-close-dropdown(href="javascript:void(0);" title="закрыть")
                span.icon-close