//- ====================
//- Project: RT
//- 29-08-2017: Amedomary
//- --------------------
//- Расширяющийся блок
//- ====================

mixin expanding-block(before, after)
    +b.expanding-block
        | #{before}
        +e.dots
        | #{after}