//- ====================
//- Project: feedback error
//- 07-08-2017: Amedomary
//- --------------------
//- Блок с "Нашли ошибку?"
//- ===================

mixin feedback-error()
	+b.feedback-error
		+e.button--first ctrl
		+e.button--second enter
		+e('p').find Нашли ошибку на сайте? Сообщите нам!
			+e('span').how-send Выделите ошибочный фрагмент текста и нажмите Ctrl+Enter