//- ====================
//- Project: RT footer-popup-dropdown
//- 06-09-2017: Mell.Blimm
//- --------------------
//- Попап в футеле с оформлением услуг
//- ====================

mixin footer-popup-dropdown()
    +b('div').down-up
        +b('a').button--orange.--footer-popup(href="javascript:void(0)" title="Оформить 3 услуги на 3500 руб.") Оформить 3 услуги на 3500 руб.
        +e.wrapper--footer-popup
            .b-container
                +e.block--left
                    +b('h2').title--h2 Ваш выбор
                    +b('a').link--dropdown.active.js-footer-dropdown--link(href='javascript:void(0)' title='') 3 услуги
                +e.block
                    +b('h2').title--h2.--gray Подключение
                    +money-min('3500 руб.', '', 'nothing').--order.--subscription-fee
                    
                    +b('a').button--orange.--tariff(href="javascript:void(0)" title="Оформить заказ") Оформить заказ
        +e.wrapper--footer-popup.--hidden.active.js-footer-dropdown--popup
            .b-container
                +table-footer-popup-dropdown()