//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Гамбургер
//- ====================

mixin hamburger-button()
	+b('a').hamburger-button(class!=attributes.class href='javascript:void(0)' title='')
		+e('span').inner

mixin hamburger-menu()
	+b.hamburger-menu(class!=attributes.class)
		block