//- ====================
//- Project: RT
//- 10-08-2017: drtvader
//- --------------------
//- список в документах
//- ====================

mixin history-payment(title, ...items)
    +b.history-payment(class!=attributes.class)
        +e.text #{title}
        +e('ul').payment-list(class!=attributes.class)
            each item in items
                +e.payment-item(class!=attributes.class)
                    +b('a').link(href="javascript:void(0);" title="#{item}" class!=attributes.class) #{item}