//- ====================
//- RosTelecom
//- --------------------
//- Общий файл для подключения всех своих миксинов
//- ====================

//- Коментарий: Краткое описание блока
//- include ./xxxxxxx.jade


//- Используем RTB: template-page.jade: template-page()
include ./template-page.jade
//- Используем RTB: title.jade: title()
include ./title.jade
//- Используем RTB: counter.jade: counter()
include ./counter.jade
//- Используем RTB: tab.jade: tab()
include ./tab.jade
//- Используем RTB: table-sort.jade: table-sort()
include ./table-sort.jade
//- Используем RTB: checkbox.jade: checkbox()
include ./checkbox.jade
//- Используем RTB: radio.jade: radio()
include ./radio.jade
//- Используем RTB: retractable-block.jade: retractable-block()
include ./retractable-block.jade
//- Используем RTB: service.jade: service()
include ./service.jade
//- Используем +pagination()
include ./pagination.jade
//- Используем +toggle-button('1й текст', '2й текст', "1й id", "2й id")
include ./toggle-button.jade
//- Используем +show-more()
include ./show-more.jade
//- Блок выбора размера файла  use +choice-size((once=true/false))
include ./choice-size.jade
//- Блок выбора размера файла  use +info-list()
include ./info-list.jade
 //- Блок выбора типа документа, use +doc-type()
include ./doc-type.jade
//- Футер в выплывашке заказать документы, use +request-footer()
include ./request-footer.jade
//- Выбор даты, use +choice-date(название, ссылка сос трелкой)
include ./choice-date.jade
//- Пополнить счёт, use +charge()
include ./charge.jade
//- Мелкий блок данных, use + data-item(upName, value)
include ./data-item.jade
//- Блок списка номеров
include ./compare-phone.jade
//- Серый блок со статусом подключенмия, use +status()
include ./status.jade
//- Сама таблица без заголовка Use +table()
include ./table.jade
//- 3
include ./label.jade
//- Блок оплаты личного счёта +pay-account
include ./pay-account.jade
//- Список с платёжными системами
include ./cards.jade
//- Используем +input-mixin()
include ./input-mixin.jade
//- Блок со стоймостью
include ./price-number.jade
//- Форма с плюсом, минусом и числом
include ./plus-minus.jade
//- 1
include ./textarea.jade
//- 2
include ./template-popup.jade
//- Текстовый блок
include ./text-block.jade
//- Блок цитаты с линией слева
include ./reply-quote.jade
//- Инпут для загрузки файлов (перетаскивание в область загрузки)
include ./uploadfile.jade
//- Синие ссылочки
include ./history-payment.jade
//- блок
include ./dropdown-block.jade
//- Блок круговой диаграммы
include ./statistics-chart.jade
//- Блок круговой диаграммы
include ./value-statistics.jade
//- Элемент сервиса информации (выпадашка на сервис-телефон)
include ./service-info.jade
//- Добавление блока выбронного элемента
include ./selected-item.jade
//- Общий блок для выбора тарифа
include ./tariff.jade
//- Тариф - элемент
include ./tariff-item.jade
//- Название тарифа
include ./name-tariff.jade
//- Элемент, отделный товар
include ./item-product.jade
//- Расширяющийся блок
include ./expanding-block.jade
//- Аккордион для списка
include ./accordion.jade
//- Радио батн большая кнопка
include ./radio-button.jade
//- Элемент, отделный товар
include ./item-product.jade
//- Расширяющийся блок
include ./expanding-block.jade
//- Тариф - подробнее - информация
include ./tariff-read-more.jade
//- Попап в футеле с оформлением услуг
include ./footer-popup-dropdown.jade
//- блок выбора периода в календаре
include ./period.jade
//- фильтр календаря
include ./calendar.jade
//- Поле ввода для редактирования названия документа
include ./input-edit.jade
//- Превью новости
include ./news-preview.jade