//- ====================
//- Project: RT
//- 10-08-2017: drtvader
//- --------------------
//-
//- ====================

mixin info-list(info)
    +b('ul').info-list(class!=attributes.class)
        each item in info.items
            +e.item(class!=attributes.class)
                +e.title(class!=attributes.class) #{item.title}
                +e.info(class!=attributes.class) #{item.info}


//- пример работы
    +info-list({"items": [{"title": "Design duration:", "info": "flexible, anytime"}, {"title": "Start construction date:", "info": "flexible, anytime"}, {"title": "Move in date:", "info": "flexible, anytime"}]}).--time