//- ====================
//- RTD: input
//- 08-08-2017: drtvader, MynameisIM
//- --------------------
//- Инпут
//- ====================
//- id - Идентификатор который будет установлен в связке label + input
//- labet_title - Текст который содержится в label
//- input - Переменная которая добавляет/скрывает элемент input в миксине
//- input_type - Значение которое определяет тип input'а
//- input_class - Устанавливает класс для input'а
//- error - Переменная которая добавляет/скрывает текст ошибки валидатора
//- select - Переменная которая добавляет/скрывает элемент select в миксине
//- textarea - Переменная которая добавляет/скрывает элемент textarea в миксине
//- password_help - Переменная которая добавляет/скрывает проверку сложности пароля в миксине
//- user_info - Переменная которая добавляет/скрывает блок с перс.данными пользователя
//- upload_file - Переменная которая добавляет/скрывает блок для загрузки файла на сайт
//- upload - Идентификатор к которому прикручен js-загрузчик

mixin input-mixin(id, labet_title, input, input_type, input_class, error, select, textarea, password_help, user_info, upload_file, upload)
    +label(id, labet_title)(class!=attributes.class)
    if input == true
        +e.validator
            +input(id, input_type, input_class, '')
            if error == true
                +e('span').error-text.js-val-check-false Текст ошибки
    if select == true
        +select()
            block
    if textarea == true
        +textarea()
    if password_help == true
        +e.password-help
            +e('span').password-recomendation Длина пароля от 6 до 12 символов
            +e('span').password-recomendation.js-condition-match Содержит заглавную букву
            +e('span').password-recomendation Содержит строчную букву
    if user_info == true
        +e.user-info
            block
    if upload_file == true
        +uploadfile(upload)