//- ====================
//- Project: RT
//- 15-10-2017: VD
//- --------------------
//- Поле ввода для редактирования названия документа
//- ====================

mixin input-edit(value)
    +b.input-edit(class!=attributes.class).js-input-edit
        +e('input')(type='text' value='#{value}').input
        +e.validation
            span 15 
            | из 
            span 20 
            | символов