//- ====================
//- Project: popup
//- 04-08-2017: MynameisIM
//- --------------------
//- Input для формы
//- ====================
//- id - Устанавливает id для input
//- input_type - Устанавливает тип input'а
//- input_class - Устанавливает класс для input'а

mixin input(id, input_type, input_class, placeholder)
    +b('input').input(type ="#{input_type}" id="#{id}" class="#{input_class}" placeholder="#{placeholder}" class!=attributes.class)
    block

mixin input-max(id, input_type, input_class, placeholder)
    +b('input').input(type ="#{input_type}" id="#{id}" class="#{input_class}" placeholder="#{placeholder}" maxlength="1" class!=attributes.class)
    block
