//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Элемент, отделный товар
//- ====================

//- продукция TV со списком
mixin item-product-tv(h3, url, ...items)
    +b.item-product(class!=attributes.class)
        +e.block-image
            img(src='#{url}' alt='' title='')

        +e.block-properties
            +e('h3').title(class!=attributes.class) #{h3}
            +e('ul').list
                each item in items
                    +e('li').item #{item}

        +e.block-interactive
            +e('span').count-text Количество
            +plus-minus()
            //- +селект()
            span Селект ^
            //- +цена()
            span Цена250руб
            //- +радиобатн(выбрать)
            span выбрать


//- продукция телефонов с подробнее
mixin item-product-phone(h3, url, text)
    +b.item-product(class!=attributes.class)
        +e.block-image
            img(src='#{url}' alt='' title='')

        +e.block-properties
            +e('h3').title(class!=attributes.class) #{h3}
            +e('p').description #{text}
            +e('a').link-more(href='javascript:void(0)' title='') Подробнее

        +e.block-interactive
            +e('span').count-text Количество
            +plus-minus()
            //- +селект()
            span Селект ^
            //- +цена()
            span Цена250руб
            //- +радиобатн(выбрать)
            span выбрать