//- ====================
//- Project: popup
//- 03-08-2017: MynameisIM
//- --------------------
//- Лейбл  для формы
//- ====================
//- id - Устанавливает id который связывает label с input'ом
//- labet_title - Устанавливает текст который будет в label

mixin label(id, labet_title)
    +b('label').label(for="#{id}" class!=attributes.class) #{labet_title}
    block
