//- ====================
//- Project: popup
//- 04-08-2017: MynameisIM
//- --------------------
//- Лейбл плюс input для формы
//- ====================

mixin label_input(input_id, title, input_type)
    +e.group
        +b('label').label(for="#{input_id}") #{title}
        +b('input').input(type ="#{input_type}" id="#{input_id}" class!=attributes.class)
            block