//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Заготовка для основных кнопок
//- ====================

mixin list-profile(preview, item, ...items)
    +b.list-profile(class!=attributes.class)
        +e('a').preview(href='javascript:void(0)' title='').js-link-submenu= preview
        if item == true
            +e('ul').drop-down.js-block-submenu
                +e('li').item--name
                    +e('span').name Александрова Анна Дмитриева
                    +e('span').login im3333333
                each item in items
                    +e('li').item
                        a(href="javascript:void(0);" title="#{item}").b-link.b-link--header-profile= item
                +e('li').item--logout
                    a(href="javascript:void(0);" title="#{item}").b-link.b-link--logout Выйти из кабинета