//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- информационный Список изначально для хедера
//- ====================

mixin list-info()
	+b('ul').list-info(class!=attributes.class)
		+e('li').item
			+e('a').link(href='javascript:void(0)' title='') Лицевые счета
			.b-counter 1
		+e('li').item
			+e('a').link(href='javascript:void(0)' title='') Подключение услуг
		+e('li').item
			+e('a').link(href='javascript:void(0)' title='') Обращения