//- ====================
//- Project: RT
//- 11-08-2017: drtvader/Amedomary
//- --------------------
//- деньги, которые мелким шрифтом
//- ====================

mixin money-min(money, pre, text)
    +b.money-min(class!=attributes.class)
        if pre
            +e.pre(class!=attributes.class) #{pre}
        +e.money(class!=attributes.class) #{money}
        if text == ''
            +e.text(class!=attributes.class)
                span рублей 
                span в&nbsp;месяц

        else if text == 'gb'
            +e.text(class!=attributes.class)
                span Гб 
                span в&nbsp;месяц

        else if text == 'рублей в минуту'
            +e.text(class!=attributes.class)
                span рублей 
                span в&nbsp;минуту

        else if text == 'рублей за минуту'
            +e.text(class!=attributes.class)
                span рублей 
                span за&nbsp;минуту

        else if text == 'рублей в месяц'
            +e.text(class!=attributes.class)
                span рублей 
                span в&nbsp;месяц

        else if text == 'рублей за Мб'
            +e.text(class!=attributes.class)
                span рублей 
                span за&nbsp;Мб

        else if text == 'рублей в сутки'
            +e.text(class!=attributes.class)
                span рублей 
                span в&nbsp;сутки

        else if text != 'nothing'
            +e.text(class!=attributes.class) #{text}