//- ====================
//- Project: RT
//- 29-08-2017: VD
//- --------------------
//- Название тарифа
//- ====================

//- name - название тарифа
//- additional - дополнительная информация о тарифе
//- link - ссылка "подробнее"

mixin name-tariff(name, additional, link)
    +b.name-tariff(class!=attributes.class)
        +e('p').name !{name}
        if additional
            +e('span').additional #{additional}
        if link == true
            a(href="javascript:void(0)" title="").b-link.b-link--history.b-link--tariff-more.js-tariff-read-more Подробнее
        else if link == false
            //- a() Отсутствие блока
        else
            a(href="javascript:void(0)" title="").b-link.b-link--history.b-link--tariff-more.js-tariff-read-more #{link}