//- ====================
//- Project: RT
//- 21-10-2017: VD
//- --------------------
//- Превью новости
//- ====================

mixin news-preview(data, title, date, text)
    +b('section').news-preview
        +e('a').link.js-open-retractable(href="javascript:void(0);" title="#{title}" data-retractable="#{data}")
            +e('h3').title #{title}
            +e('div').date #{date}
            p #{text}
