//- ====================
//- Project: page404
//- 00-00-2017: default
//- --------------------
//- Страница не найдена
//- ====================

mixin page404()
    +b.page404
        +e('h1').404 404