//- ====================
//- Project: pagination
//- 03-08-2017: Amedomary
//- --------------------
//- Нумерация страниц (пагинация)
//- ====================

mixin pagination()
	+b('ul').pagination(class!=attributes.class)
		+e('li').item--prev
			+e('a').link
		+e('li').item--page
			+e('a').link  1
		//- +e('li').item--more-prev
		//- 	+e('span').dot
		//- +e('li').item--page
		//- 	+e('a').link 33
		+e('li').item--page.active
			+e('a').link 34
		+e('li').item--page
			+e('a').link  35
		+e('li').item--more-next
			+e('span').dot
		+e('li').item--page.--last
			+e('a').link 69
		+e('li').item--next
			+e('a').link