//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Блок оплаты личного счёта
//- ====================

mixin pay-account(id, preload, nul, error)
    +b.pay-account(class!=attributes.class)

        if error == true
            +e.line.--error
                +label('blank','Лицевой счёт').--pay
                +select()
                    //- include select.jade
                    +option('89002003020')
                    +option('89001113020')
                +e('span').error Не доступен для заказа отложенного платежа
        else
            +e.line
                +label('blank','Лицевой счёт').--pay
                +select()
                    //- include select.jade
                    +option('89002003020')
                    +option('89001113020')

        if nul == true

        else
            +e.line
                +label(id, 'сумма платежа').--pay
                +input(id, '', '', '')
                +e('span').currency Руб

        if preload == true
            +e('span').close
                +e('span').preload
        else
            +e('a').close(href='javascript:void(0)' title='')
                span.icon-close-search
