mixin period(data)
    +b.select-period(class!=attributes.class)
        each item in data.items
            +e('input')(type="#{item.type}" id="#{item.id}" name="#{item.name}").input
            +e('label')(for="#{item.id}").label #{item.text}