//- ====================
//- Project: plus-minus
//- 16-08-2017: Malich + iAmed73
//- --------------------
//- Увеличение или уменьшение числа
//- ====================

mixin plus-minus()
    +b.plus-minus.js-plus-minus-cont(class!=attributes.class)
        +e('a').minus.js-minus(href="javascript:void(0);")
        +e('input').count.js-plus-minus-count(value="1")
        +e('a').plus.js-plus(href="javascript:void(0);")