//- ====================
//- RTD: Price
//- 04-09-2017: MynameisIM
//- --------------------
//- Блок со стоймостью
//- ====================
mixin price-number()
    +b.price-number
        +e.column-title
            +e('span').title-left Выбранный номер
            +e('span').title-right Стоимость выбранного номера
        +e.items
            +e('span').selected-item 8 (999) 777-77-74
            +e('span').value 0
        +e.items
            +e('span').selected-item 8 (999) 777-77-74
            +e('span').value 5 000
        +e.items
            +e('span').selected-item 8 (999) 777-77-74
            +e('span').value 2 500
