//- ====================
//- RTD: radio
//- 29-08-2017: swhistle
//- --------------------
//- радио-кнопка
//- ====================
mixin radio(name, id, title, modificator, checked)
  +b.radio(class!="#{modificator}")
    if checked
      +e('input')(type="radio" name='#{name}' id='#{id}' checked).input
    else
      +e('input')(type="radio" name='#{name}' id='#{id}').input
    +e('label').name(for='#{id}' class!=attributes.class)
      if title
        +e.text(class!="#{modificator}") #{title}
      block