//- ====================
//- Project: RT
//- 31-08-2017: Amedomary
//- --------------------
//- радио-кнопка большая
//- ====================

mixin radio-button(name, id, checked)
    +b.radio-button(class!=attributes.class)
        +e('input')(type="radio" name='#{name}' id='#{id}').input
        +e('label').label(for='#{id}' class!=attributes.class)