//- ====================
//- Project: range
//- 03-08-2017: Malich
//- --------------------
//- Палзунок
//- ====================

mixin range(line)
    +b.range.js-slider-range(class!=attributes.class)
        if line == true
            +e.line
                +e('span').value--initial 1
                +e('span').value--final 10
        +e('input').count.js-toddle-count