//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Блок цитаты с линией слева
//- ====================

mixin reply-quote()
    +b.reply-quote
        block