//- ====================
//- RTD: request-footer
//- 03-08-2017: Amedomary
//- --------------------
//- Футер в выплывашке заказать документы
//- ====================

//- Инпут use +input('id', 'input_type', 'input_class')
include ./input.jade

mixin request-footer()
    +b('div').request-footer(class!=attributes.class)
        +e('label').input-name(for='request-footer') Электронная почта
        +input('request-footer', 'text', '--request-footer', '')
        a.b-link.b-link--request-footer(href='javascript:void(0)' title='') Добавить адрес
        +button-1('Заказать').--orange.--no-flex.--request-footer
        block