//- ====================
//- RTD: retractable_block
//- 07-08-2017: drtvader
//- --------------------
//- выдвигающийся блок
//- ====================

mixin retractable-block(id)
    +b.retractable-block.js-retractable-block(data-retractable-content="#{id}")
        +e.wrapper.js-retractable-wrapper
            block