//- ====================
//- Project: popup
//- 03-08-2017: MynameisIM
//- --------------------
//- Селект для формы
//- ====================

mixin select()
    +b('select').select(name="" class!=attributes.class).js-select-main
        block

mixin option(item)
    option(value='') #{item}

//- Amedomary
//- tiny select
mixin select-tiny(...items)
    +b('select').select.js-tiny-select(name style="width: 70px" class!=attributes.class)
        each item in items
            option(value='') #{item}


//- Amedomary
//- doc-type-select
mixin select-type-doc(...items)
    +b('select').select.js-type-doc-select(name style="width: 288px" class!=attributes.class)
        each item in items
            option(value='') #{item}

mixin select-numbers(...items)
    +b('select').select--numbers.js-numbers-select(name style="width: 200px" class!=attributes.class)
        each item in items
            option(value='') #{item}

//- Amedomary
//- virtual-cod
mixin select-virtual-cod(...items)
    +b('select').select.js-select-virtual-cod(name class!=attributes.class)
        each item in items
            option(value='') #{item}

//- Amedomary
//- virtual-cod iops
mixin select-virtual-cod--iops(...items)
    +b('select').select.js-select-virtual-cod--iops(name class!=attributes.class)
        each item in items
            option(value='') #{item}

mixin select-filter-document
    +b('select').select(name="" class!=attributes.class).js-select-filter-document
        block