//- ====================
//- RTD: Container
//- 28-08-2017: drtvader
//- --------------------
//- Блок с номером
//- ====================
mixin selected-item(modificator, title, selected)
    +b.selected-item(class!="#{modificator}")
        if title
            +e('span').title #{title}
        if selected
            +e('span').selected #{selected}
        block

mixin selected-item--title()
    +e('span').title
        block

mixin selected-item--info()
    +e('span').selected
        block
