//- ====================
//- 25-08-2017: Amedomary
//- --------------------
//- Элемент сервиса информации (выпадашка на сервис-телефон)
//- ====================

mixin service-info(title, description, link, money, check)
    +b.service-info
        +e.item-icon
            i.icon-service-phone
        +e.item-stretch
            +e('h4').title #{title}
            //- +money-min(money, 'от').--service
            +e.description
                p Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.
            a.b-link(href='javascript:void(0)' title='') Полное описание
        +e.item-price
            if money
                +money-min(money, 'от').--service
        +e.item-button
            if check
                +b.radio-button
                    +e('input')(type="checkbox" name='service-tariff' id='#{check}').input
                    +e('label').label(for='#{check}')
            else
                +button('Выбрать тариф', '').--transparent.--full-width
