//- ====================
//- RTB: service
//- 08-08-2017: drtvader
//- --------------------
//- Выбор услуг
//- ====================

mixin service()
    +b('ul').service-list(class!=attributes.class)
        block


mixin service-item(number, title)
    +b.service(class!=attributes.class)
        +e.service-number #{number}
        +e('span').name #{title}
        +e.control
            +e('a')(href="javascript:void(0);" title="").icon.--first.icon-ic-mode-edit-black-24-px-block
            +e('a')(href="javascript:void(0);" title="").icon.icon-combined-shape-exit
