//- ====================
//- RTD: show more
//- 09-08-2017: drtvader
//- --------------------
//- кнопка показать еще
//- ====================
mixin show-more()
    +b.show-more(href="javascript:void(0);" title="" class!=attributes.class)
        +e.dotted
            +e.dot
        +e.text Показать еще