//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Серый блок с кнопкой (статус подключения)
//- ====================

mixin status()
    +b.status(class!=attributes.class)
        block


//- left - слово из левого столбца
//- right - слово из правого столбца
mixin status-line(left, right)
    +e.line(class!=attributes.class) #{left}
        span #{right}