//- ====================
//- Project: RT
//- 24-08-2017: DV
//- --------------------
//- Блок круговой диаграммы
//- ====================

mixin statistics-chart
    +b('div').statistics-chart
        +e('div').item.js-statistics-chart 75%
        +e('div').content
            block