//- ====================
//- RTB: tab
//- 03-08-2017: drtvader
//- --------------------
//- Табы
//- ====================

mixin tab()
    +b.tab
        +e('div').tab-nav-wrapper
            +e('ul').tab-nav-list
                +e('li').tab-nav-item(class='active')
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Информация" data-tab="1") Информация
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Услуги" data-tab="2") Услуги
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Документы" data-tab="3")
                        | Документы
                        +e('span').number 1
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="История начислений" data-tab="4") История начислений
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="История платежей" data-tab="5") История платежей
            +e('div').line-block
                +e('div').line-nav.js-line-nav
        block

mixin tab-pay()
    +b.tab
        +e('div').tab-nav-wrapper
            +e('ul').tab-nav-list
                +e('li').tab-nav-item(class='active')
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Отложенный платеж" data-tab="1") Отложенный платеж
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Счет на оплату" data-tab="2") Счет на оплату
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Оплата картой" data-tab="3") Оплата картой
            +e('div').line-block
                +e('div').line-nav.js-line-nav
        block

mixin tab-connecting-services()
    +b.tab
        +e('div').tab-nav-wrapper
            +e('ul').tab-nav-list
                +e('li').tab-nav-item(class='active')
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Отложенный платеж" data-tab="1") Телефония
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Счет на оплату" data-tab="2") Интернет и ТВ
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Оплата картой" data-tab="3") Облачные сервисы
                +e('li').tab-nav-item
                    +e('a').link.js-tab-link(href="javascript:void(0);" title="Оплата картой" data-tab="4") Оборудование и другие услуги
            +e('div').line-block
                +e('div').line-nav.js-line-nav
        block

mixin tab-type-of-number()
    +b.tab--numbers
        +e('div').tab-nav-wrapper
            +e('ul').tab-nav-list
                +e('li').tab-nav-item(class='active')
                    +e('a').link--title.js-tab-link(href="javascript:void(0);" title="Акционные" data-tab="1") Акционные
                    +e('a').link--price.js-tab-link(href="javascript:void(0);" title="Акционные" data-tab="1") 2 500 руб
                +e('li').tab-nav-item
                    +e('a').link--title.js-tab-link(href="javascript:void(0);" title="Обычные" data-tab="2") Обычные
                    +e('a').link--price.js-tab-link(href="javascript:void(0);" title="Обычные" data-tab="2") Бесплатно
                +e('li').tab-nav-item
                    +e('a').link--title.js-tab-link(href="javascript:void(0);" title="Бронзовые" data-tab="3") Бронзовые
                    +e('a').link--price.js-tab-link(href="javascript:void(0);" title="Бронзовые" data-tab="3") 5 000 руб
                +e('li').tab-nav-item
                    +e('a').link--title.js-tab-link(href="javascript:void(0);" title="Серебрянные" data-tab="4") Серебрянные
                    +e('a').link--price.js-tab-link(href="javascript:void(0);" title="Серебрянные" data-tab="4") 15 000 руб
                +e('li').tab-nav-item
                    +e('a').link--title.js-tab-link(href="javascript:void(0);" title="Золотые" data-tab="5") Золотые
                    +e('a').link--price.js-tab-link(href="javascript:void(0);" title="Золотые" data-tab="5") 55 000 руб
                +e('li').tab-nav-item
                    +e('a').link--title.js-tab-link(href="javascript:void(0);" title="Платиновые" data-tab="6") Платиновые
                    +e('a').link--price.js-tab-link(href="javascript:void(0);" title="Платиновые" data-tab="6") По запросу
            +e('div').line-block
                +e('div').line-nav.js-line-nav
        block