//- ====================
//- RTD: table
//- 03-08-2017: drtvader
//- --------------------
//- таблица
//- ====================

//- Подсказка, +tooltip(...items).--mod
include ./tooltip.jade

//- mixin table-sort(name, id, checkbox, filter)
//-     +b.table-sort
//-         +e.search
//-             //- +e('a').search-link.js-open-search(href="javascript:void(0);" title="")
//-             //-     +e('span').search-text Поиск по таблице
//-             //-     span.icon-search
//-             +e('form')(action="./").hidden-search
//-                 +e.wrapper-search
//-                     +b('input').input.--search(type="text" placeholder="Поиск по таблице")
//-                     +b('button').button.--search
//-                         span.icon-search
//-                     +e('a').clear-search.js-clear(href="javascript:void(0);" title="")
//-                         span.icon-close-search
//-         +e.center
//-             +e.mobile
//-                 +b('a').link.--filter.js-open-filter(href="javascript:void(0);" title="Фильтр" data-filter="#{filter}") Фильтр
//-             +e.mobile-hidden(data-filter-block="#{filter}").js-filter-block
//-                 +e.wrapper
//-                     +e.mobile-title Фильтр
//-                     +e.select-block
//-                         +e('span').text Заказанные за 
//-                         +b('a').link.--calendar(href="javascript:void(0);" title="").js-link-open-calendar Март, 2015
//-                         //- добавляем календарь
//-                         block
//-                     if checkbox == true
//-                         +e.checkbox
//-                             +checkbox(name, id, 'Показывать только активные счета', '--filter')
//-                 +e.button
//-                     +button('применить', '').--apply-filter.--blue.js-close-filter
//-         +e.right
//-             //- include ./tooltip.jade
//-             +tooltip('Пополнить счет', 'Заказать документы', 'Подключить услугу')

//- новая версия
mixin table-sort(select, search, calendar, name, id, checkbox, filter, tooltip, calendarPeriod)
    +b.table-sort(class!=attributes.class).js-table-sort-parent
        if select == true
            +e.select.js-table-select-permutation
                +select-filter-document()
                    +option('Тип операции')
                    +option('Второй тип')
                    +option('Третий тип')
        else if select == 'stat'
            +e.select.js-table-select-permutation
                +select-filter-document()
                    +option('Выберите период')
                    +option('Выберите период 2')
                    +option('Выберите период 3')
        if search == true
            +e.search
                +e('form')(action="./").hidden-search
                    +e.wrapper-search
                        +b('input').input.--search(type="text" placeholder="Номер счета")
                        +b('button').button.--search
                            span.icon-search
                        +e('a').clear-search.js-clear(href="javascript:void(0);" title="")
                            span.icon-close-search
        +e.center
            +e.mobile
                +b('a').link.--filter.js-open-filter(href="javascript:void(0);" title="Фильтр" data-filter="#{filter}") Фильтр
            +e.mobile-hidden(data-filter-block="#{filter}").js-filter-block
                +e.wrapper
                    +e.mobile-title.js-after-permutation Фильтр
                    if calendar == true
                        +e.select-block

                            if calendarPeriod != true && calendarPeriod != 'stat' && calendarPeriod != 'hist'
                                +e('span').text Заказанные за 
                                +b('a').link.--calendar(href="javascript:void(0);" title="").js-link-open-calendar Март, 2015

                            if calendarPeriod == true
                                +e('span').text Выберите период 
                                +b('a').link.--calendar(href="javascript:void(0);" title="").js-link-open-calendar
                                    span 01.04.2017
                                    +e('span').delimiter-date
                                    span 30.04.2017
                            else if calendarPeriod == 'stat'
                                +b('a').link.--calendar(href="javascript:void(0);" title="").js-link-open-calendar
                                    span 01.04.2017
                                    +e('span').delimiter-date
                                    span 30.04.2017

                            else if calendarPeriod == 'hist'
                                +e('span').text Заказанные за 
                                +b('a').link.--calendar(href="javascript:void(0);" title="").js-link-open-calendar
                                    span 01.04.2017
                                    +e('span').delimiter-date
                                    span 30.04.2017

                            //- добавляем календарь
                            block
                    if checkbox == true
                        +e.checkbox
                            +checkbox(name, id, 'Показывать только активные счета', '--filter')
                +e.button
                    +button('применить', '').--apply-filter.--blue.js-close-filter
        if tooltip == true
            +e.right
                +tooltip('Пополнить счет', 'Заказать документы', 'Подключить услугу')