//- ====================
//- RTD: table
//- 03-08-2017: drtvader
//- --------------------
//- таблица
//- ====================

//- Подсказка, +tooltip(...items).--mod
include ./tooltip.jade

mixin table()
    +b.table
        +e.table-wrap
            +e('ul').table-header-list--stat
                +e('li').table-header-item.first
                    +e('a')(href="javascript:void(0);" title="Дата").link-sort.active Дата
                        span.icon-sort
                +e('li').table-header-item.second
                    +e('span').link-sort Показатель
                +e('li').table-header-item.three
                    +e('span').link-sort Значение
                
            +e('ul').table-list--stat
                +table-line-3('12.04.2017', 'Межгород (МТР)', '12 минут')
                +table-line-3('12.04.2017', 'АПУС, местная связь', '12 минут')
                +table-line-3('12.04.2017', 'Межгород (МТР)', '12 минут')
                +table-line-3('12.04.2017', 'АПУС, местная связь', '12 минут')
                +table-line-3('12.04.2017', 'АПУС, местная связь', '12 минут')
                +table-line-3('12.04.2017', 'Межгород (МТР)', '12 минут')


//- Миксин для Истории платежей в ДокументЛисте
mixin table-charge-history()
    +b.table
        +e.table-wrap
            +e('ul').table-header-list--charge
                +e('li').table-header-item.first
                    +e('span').link-sort Дата платежа
                +e('li').table-header-item.second
                    +e('span').link-sort Идентификатор
                +e('li').table-header-item.three
                    +e('span').link-sort Услуга
                +e('li').table-header-item.four
                    +e('span').link-sort Сумма
                +e('li').table-header-item.five
                    +e('span').link-sort Сумма с НДС
                
            +e('ul').table-list--charge
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-5('12.04.2017', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')

//- История платежей
mixin document-history
    +b.table
        +e.table-wrap
            +e('ul').table-header-list--document-history
                +e('li').table-header-item.first
                    +e('a')(href="javascript:void(0);" title="Дата").link-sort.active Дата
                +e('li').table-header-item.second
                    +e('span').link-sort Лицевой счёт
                +e('li').table-header-item.three
                    +e('span').link-sort Тип платежа
                +e('li').table-header-item.four
                    +e('span').link-sort Сумма с НДС

            +e('ul').table-list--document-history
                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

                +e('li').table-item
                    +e.column.first
                        +e.text.bold 14.04.2017
                    +e.column.second
                        +e.text №4210125236
                    +e.column.three
                        +e.text Банковский рублевой(ВОЛОГОДСКОЕ ОТДЕЛЕНИЕ №8638 ПАО СБЕРБАНК) №269
                    +e.column.four
                        +e.text.bold 20,11 руб.

//- Кредитный лимит таблица в документЛисте в табе информация
mixin credit-limit-information()
    +b.table
        +e.table-wrap
            +e('ul').table-header-list--credit-limit-information
                +e('li').table-header-item.first
                    +e('span').link-sort Сумма лимита порога отключения
                +e('li').table-header-item.second
                    +e('span').link-sort Сумма порога предупреждения
                +e('li').table-header-item.three
                    +e('span').link-sort Дата начала действий лимита
                +e('li').table-header-item.four
                    +e('span').link-sort Дата окончания действий лимита
                +e('li').table-header-item.five
                    +e('span').link-sort Ед. изм. лимита

            +e('ul').table-list--credit-limit-information
                +table-line-5('26.04.2017', '50', '01.08.2017', '01.08.2017', 'Руб.')
                +table-line-5('26.04.2017', '50', '01.08.2017', '01.08.2017', 'Руб.')
                +table-line-5('15.04.2017', '50', '01.08.2017', '01.08.2017', 'Руб.')
                +table-line-5('26.04.2017', '50', '01.08.2017', '01.08.2017', 'Руб.')

//- Миксин для Истории начислений в ДокументЛисте
mixin table-accrual-history()
    +b.table
        +e.table-wrap
            +e('ul').table-header-list--accrual
                +e('li').table-header-item.first
                    +e('a').link-sort.active(href="javascript:void(0);" title="Дата")
                        span Дата
                +e('li').table-header-item.second
                    +e('span').link-sort Лицевой счёт
                +e('li').table-header-item.three
                    +e('span').link-sort Идентификатор услуги
                +e('li').table-header-item.four
                    +e('span').link-sort Наименование услуги
                +e('li').table-header-item.five
                    +e('span').link-sort Сумма
                +e('li').table-header-item.six
                    +e('span').link-sort Сумма с НДС
                
            +e('ul').table-list--accrual
                +table-line-accrual('12.04.2017', '4210125236', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '4210125236', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '4210125236', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')
                +table-line-accrual('12.04.2017', '4210125236', '10125236', 'ГТС. Местн. Абон плата инд. сх. в пределах МО', '20,11 руб.', '20,11 руб.')


//- Миксин для Истории заказов на странице ОПЛАТЫ
mixin table-order-history()
    +b.table
        +e.table-wrap
            +e('ul').table-header-list--order
                +e('li').table-header-item.first
                    +e('span').link-sort Дата заказа
                +e('li').table-header-item.second
                    +e('span').link-sort Лицевой счёт
                +e('li').table-header-item.three
                    +e('span').link-sort Начало действия
                +e('li').table-header-item.four
                    +e('span').link-sort Окончание действия
                
            +e('ul').table-list--order
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')
                +table-line-4('14.04.2017', '10125236', '20.11.17', '20,11 руб', '24.11.17')


//- Миксин для История обращений
mixin table-request-history(first, second, third, four)
    +b.table.--request-history
        +e.table-wrap
            +e('ul').table-header-list.--request-history
                +e('li').table-header-item.first
                    +e('span').link-sort #{first}
                +e('li').table-header-item.second
                    +e('span').link-sort #{second}
                +e('li').table-header-item.three
                    +e('span').link-sort #{third}
                +e('li').table-header-item.four
                    +e('span').link-sort #{four}
            +e('ul').table-list
                +table-line-4-blue('17-12332', '14.04.2017', 'Работа системы «Личный кабинет»', 'Ожидание ответа клиента', 'request-history-page').js-open-retractable
                +table-line-4-blue('17-12332', '14.04.2017', 'Работа системы «Личный кабинет»', 'Ожидание ответа клиента', '')
                +table-line-4-blue('17-12332', '14.04.2017', 'Работа системы «Личный кабинет»', 'Ожидание ответа клиента', '')
                +table-line-4-blue('17-12332', '14.04.2017', 'Работа системы «Личный кабинет»', 'Ожидание ответа клиента', '')
                +table-line-4-blue('17-12332', '14.04.2017', 'Работа системы «Личный кабинет»', 'Ожидание ответа клиента', '')
                +table-line-4-blue('17-12332', '14.04.2017', 'Работа системы «Личный кабинет»', 'Ожидание ответа клиента', '')


//- Миксин для Подключение услуг
mixin table-connecting-service(first, second, third, four)
    +b.table.--request-history
        +e.table-wrap
            +e('ul').table-header-list.--request-history
                +e('li').table-header-item.first
                    +e('span').link-sort #{first}
                +e('li').table-header-item.second
                    +e('span').link-sort #{second}
                +e('li').table-header-item.three
                    +e('span').link-sort #{third}
                +e('li').table-header-item.four
                    +e('span').link-sort #{four}
            +e('ul').table-list
                +table-line-4-blue('17-71195', '14.04.2017   12:12', 'Бесплатный вызов (8-800)', 'Новая', 'requested-service-details')
                +table-line-4-blue('17-71195', '14.04.2017   12:12', 'Бесплатный вызов (8-800)', 'Новая', 'requested-service-details')
                +table-line-4-blue('17-71195', '14.04.2017   12:12', 'Бесплатный вызов (8-800)', 'Новая', 'requested-service-details')
                +table-line-4-blue('17-71195', '14.04.2017   12:12', 'Бесплатный вызов (8-800)', 'Новая', 'requested-service-details')
                +table-line-4-blue('17-71195', '14.04.2017   12:12', 'Бесплатный вызов (8-800)', 'Новая', 'requested-service-details')
                +table-line-4-blue('17-71195', '14.04.2017   12:12', 'Бесплатный вызов (8-800)', 'Новая', 'requested-service-details')

//- Таблица ддля "Попап в футеле с оформлением услуг"
mixin table-footer-popup-dropdown()
    +b.table
        +e.table-wrap
            +e('ul').table-list--footer-popup
                +table-footer-popup-dropdown--item('Новая телефония')
                +table-footer-popup-dropdown--item('Виртуальный ЦОД')
                +table-footer-popup-dropdown--item('Новая телефония')
                
//- Таблица - итем ддля "Попап в футеле с оформлением услуг"
mixin table-footer-popup-dropdown--item(name)
    +e('li').table-item--footer-popup.--middle
        +e.column.first
            +e.text.bold #{name}
            +e.text 8 (999) 700-77-74
        +e.column.second
            +e.text
                +money-min('600', '', 'рублей в месяц')
        +e.column.three
            +money-min('1500 руб.', '', 'nothing').--footer-popup.--subscription-fee
        +e.column.link
            +e.text
                a.b-link(href='javascript:void(0)' title='Изменить') Изменить
        +e.column.delete
            +b('a').close(href="javascript:void(0)" title="")
                span.icon-close



//- Строки
//- строка в таблице на 3 колонки
mixin table-line-3(first, second, third)
    +e('li').table-item
        +e.column.first
            +e.text.bold #{first}
        +e.column.second
            +e.text #{second}
        +e.column.three
            +e.text.bold #{third}

//- строка в таблице на 3 колонки
mixin table-line-4(first, second, third, four)
    +e('li').table-item
        +e.column.first
            +e.text.bold #{first}
        +e.column.second
            +e.text #{second}
        +e.column.three
            +e.text #{third}
        +e.column.four
            +e.text #{four}

mixin table-line-4-blue(first, second, third, four, data)
    +e('li').table-item.--request-history
        +e.column.first
            +e.text
                +e.blue.js-open-retractable(href="javascript:void(0);" title="" data-retractable="#{data}" class!=attributes.class) #{first}
        +e.column.second
            +e.text #{second}
        +e.column.three
            +e.text #{third}
        +e.column.four
            +e.text.bold #{four}


//- строка в таблице на 3 колонки
mixin table-line-5(first, second, third, four, five)
    +e('li').table-item
        +e.column.first
            +e.text.bold #{first}
        +e.column.second
            +e.text #{second}
        +e.column.three
            +e.text #{third}
        +e.column.four
            +e.text #{four}
        +e.column.five
            +e.text #{five}

mixin table-line-accrual(first, second, third, four, five, six)
    +e('li').table-item
        +e.column.first
            +e.text.bold #{first}
        +e.column.second
            +e.text
                if second
                    +e('span').character-number №
                    | #{second}
        +e.column.three
            +e.text #{third}
        +e.column.four
            +e.text #{four}
        +e.column.five
            +e.text #{five}
        +e.column.six
            +e.text.bold #{six}



//- Какая то старая таблица
//- +b.table
//- +e.table-wrap
    +e('ul').table-header-list.--history-payments
        +e('li').table-header-item.first
            +e('a').link-sort.active(href="javascript:void(0);" title="Дата заказа")
                span Дата платежа
                //- span.icon-sort
        +e('li').table-header-item.second
            +e('span').link-sort Идентификатор
        +e('li').table-header-item.three
            +e('span').link-sort Услуга
        +e('li').table-header-item.four
            +e('span').link-sort.--right Сумма
        +e('li').table-header-item.five
            +e('span').link-sort.--right Сумма с НДС
        +e('li').table-header-item.six
            +e('span').link-sort.--right Операция
    +e('ul').table-list
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Списание
                    span.icon-pay-icon-orange
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Пополнение (безнал)
                    span.icon-pay-icon-blue
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Списание
                    span.icon-pay-icon-orange
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Списание
                    span.icon-pay-icon-orange
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Пополнение (безнал)
                    span.icon-pay-icon-blue
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Пополнение (безнал)
                    span.icon-pay-icon-blue
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Списание
                    span.icon-pay-icon-orange
        +e('li').table-item.--history-payments
            +e.column.first
                +e.text.bold 26.04.2017
            +e.column.second
                +e.text 14-99815
            +e.column.three
                +e.text
                | ГТС. Местн. Абон плата 
                | инд. сх. в пределах МО
            +e.column.--right.four
                +e.text 20,11 руб.
            +e.column.--right.five
                +e.text 20,11 руб.
            +e.column.--right.six
                +e.text.bold Списание
                    span.icon-pay-icon-orange