//- ====================
//- Project: RT
//- 29-08-2017: VD
//- --------------------
//- Общий блок для выбора тарифа
//- ====================

mixin tariff(data)
    +b.tariff(class!=attributes.class).js-tariff-scroll
        +e('ul').list-name(class!=attributes.class)
            each item in data.items
                +e('li').item-name(class="#{item.modif}") !{item.name}
        block