//- ====================
//- Project: RT
//- 29-08-2017: VD
//- --------------------
//- Тариф - элемент
//- ====================

mixin tariff-item(nameButton, button, link, checkbox)
    +b.tariff-item(class!=attributes.class).js-tariff-item
        block
        if button && !checkbox
            +e.tariff-name.--button
                +radio-button(nameButton, button)(class!=attributes.class)
        if link
            a(href="javascript:void(0)" title="#{link}").b-link.b-link--tariff #{link}
        if checkbox == true
            +e.tariff-name.--button
                +checkbox-button(nameButton, button)(class!=attributes.class)


mixin checkbox-button(name, id, checked)
    +b.radio-button(class!=attributes.class)
        +e('input')(type="checkbox" name='#{name}' id='#{id}').input
        +e('label').label(for='#{id}' class!=attributes.class)


mixin tariff-dropdown()
    +e.tariff-dropdown(class!=attributes.class)
        block

//- default
mixin tariff-item-mobile()
    //- 1
    +tariff-item('tarif-step-1', 'id-ts1-1').--tariff-mobile
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Интернет для бизнеса', 'Тарифный план для модемов и планшетов', true)
        +e.tariff-name.--second
        +e.tariff-name.--third
        +e.tariff-name.--fourth
        +e.tariff-name.--fifth
            //- mixin money-min(money, pre, text)
            +money-min('0', '', '').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 2
    +tariff-item('tarif-step-1', 'id-ts1-2').--tariff-mobile
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 500', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('500', '', 'минут').--tariff
        +e.tariff-name.--third
            //- mixin money-min(money, pre, text)
            +money-min('500', '', 'SMS').--tariff
        +e.tariff-name.--fourth
            //- mixin money-min(money, pre, text)
            +money-min('5', '', 'Гб').--tariff
        +e.tariff-name.--fifth
            //- mixin money-min(money, pre, text)
            +money-min('350', '', '').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 3
    +tariff-item('tarif-step-1', 'id-ts1-3').--tariff-mobile
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 1500', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('1500', '', 'минут').--tariff
        +e.tariff-name.--third
            //- mixin money-min(money, pre, text)
            +money-min('1500', '', 'SMS').--tariff
        +e.tariff-name.--fourth
            //- mixin money-min(money, pre, text)
            +money-min('10', '', 'Гб').--tariff
        +e.tariff-name.--fifth
            //- mixin money-min(money, pre, text)
            +money-min('350', '', '').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 4
    +tariff-item('tarif-step-1', 'id-ts1-4').--tariff-mobile
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 3000', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('3000', '', 'минут').--tariff
        +e.tariff-name.--third
            //- mixin money-min(money, pre, text)
            +money-min('3000', '', 'SMS').--tariff
        +e.tariff-name.--fourth
            //- mixin money-min(money, pre, text)
            +money-min('15', '', 'Гб').--tariff
        +e.tariff-name.--fifth
            //- mixin money-min(money, pre, text)
            +money-min('350', '', '').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 5
    +tariff-item('','',  'Перейти к выбору тарифа М2М').--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('М2М-решения', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Cпециальные тарифы для беспроводной передачи данных между устройствами с помощью технологий мобильной связи GPRS и SMS.

//- Selecting the type of connection
mixin tariff-item-classic-phone-1()
    +tariff-item('','',  'Выбрать пакеты каналов').--classic-phone.--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Местная', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Услуга решает задачу подключения телефона в офис
    +tariff-item('','',  'Выбрать пакеты каналов').--classic-phone.--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Внутризоновая', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Возможность совершать звонки абонентам мобильных и фиксированных сетей связи Вашего региона (субъекта Российской Федерации)
    +tariff-item('','',  'Выбрать пакеты каналов').--classic-phone.--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Междугородняя и&nbsp;международная', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Позволят Вам легко и быстро связываться с партнерами в других городах через 8-ку. 

//- Select offer Interactive TV
mixin services-internet-interactive-tv-1()
    +tariff-item('','',  'Выбрать пакеты каналов').--tv.--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Для сферы услуг', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Установите Интерактивное ТВ в своем кафе, ресторане, фитнес- клубе, салоне, медицинском центре.
        +e.tariff-name.--third
            +money-min('1000', 'от', 'рублей в месяц').--subscription-fee
    +tariff-item('','',  'Выбрать пакеты каналов').--tv.--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Для офиса', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Установите Интерактивное ТВ в своем офисе, кабинете руководителя.
        +e.tariff-name.--third
            +money-min('550', 'от', 'рублей в месяц').--subscription-fee
    +tariff-item('','',  'Выбрать пакеты каналов').--tv.--three-column
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Для гостиницы', '', false).--three-column
        +e.tariff-name.--second
            +e('p').text Оставьте заявку для установки Интерактивного ТВ в гостинице и мы подготовим для Вас индивидуальное решение. 
        +e.tariff-name.--third
            +money-min('199', 'от', 'рублей в месяц').--subscription-fee

//-  Selecting a mobile Internet package
mixin tariff-item-mobile-2-1()
    //- 1
    +tariff-item('tarif-step-2', 'id-ts2-1').--package
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Интернет для бизнеса 7 Гб', '', false)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('5', '', 'gb').--tariff
        +e.tariff-name.--third
            +money-min('350', '', 'рублей в месяц').--tariff.--subscription-fee

    //- 2
    +tariff-item('tarif-step-2', 'id-ts2-2').--package
        +name-tariff('Интернет для бизнеса 15 Гб', '', false)
        +e.tariff-name.--second
            +money-min('10', '', 'gb').--tariff
        +e.tariff-name.--third
            +money-min('350', '', 'рублей в месяц').--tariff.--subscription-fee

    //- 3
    +tariff-item('tarif-step-2', 'id-ts2-3').--package
        +name-tariff('Интернет для бизнеса 30 Гб', '', false)
        +e.tariff-name.--second
            +money-min('15', '', 'gb').--tariff
        +e.tariff-name.--third
            +money-min('350', '', 'рублей в месяц').--tariff.--subscription-fee

//-  Selecting tariff web conference
mixin tariff-item-web-videoconference-1()
    //- 1
    +tariff-item('tarif-step-2', 'id-ts2-1').--web
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Экономный', '', false)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('10', '', ' ').--tariff
        +e.tariff-name.--third
            +money-min('650', '', 'рублей в месяц').--tariff.--subscription-fee

    //- 2
    +tariff-item('tarif-step-2', 'id-ts2-2').--web
        +name-tariff('Базовый', '', false)
        +e.tariff-name.--second
            +money-min('20', '', ' ').--tariff
        +e.tariff-name.--third
            +money-min('3300', '', 'рублей в месяц').--tariff.--subscription-fee

    //- 3
    +tariff-item('tarif-step-2', 'id-ts2-3').--web
        +name-tariff('Оптимальный', '', false)
        +e.tariff-name.--second
            +money-min('50', '', ' ').--tariff
        +e.tariff-name.--third
            +money-min('12 500', '', 'рублей в месяц').--tariff.--subscription-fee
    //- 4
    +tariff-item('tarif-step-2', 'id-ts2-4').--web
        +name-tariff('Максимальный', '', false)
        +e.tariff-name.--second
            +money-min('100', '', ' ').--tariff
        +e.tariff-name.--third
            +money-min('29 500', '', 'рублей в месяц').--tariff.--subscription-fee

//-  tariff choice new telephony
mixin service-phone-new-phone-2()
    //- 1
    +tariff-item('tarif-step-2', 'id-ts2-1').--phone-choice
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +e.tariff-name.--first
            +money-min('550', '', 'рублей в месяц').--phone-choice.--subscription-fee
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('5', '', ' ').--phone-choice
        +e.tariff-name.--third
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fourth
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fifth
            +money-min('0', '', 'рублей').--subscription-fee
    //- 2
    +tariff-item('tarif-step-2', 'id-ts2-2').--phone-choice
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +e.tariff-name.--first
            +money-min('550', '', 'рублей в месяц').--phone-choice.--subscription-fee
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('5', '', ' ').--phone-choice
        +e.tariff-name.--third
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fourth
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fifth
            +money-min('1200', '', 'рублей').--subscription-fee
    //- 3
    +tariff-item('tarif-step-2', 'id-ts2-3').--phone-choice
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +e.tariff-name.--first
            +money-min('600', '', 'рублей в месяц').--phone-choice.--subscription-fee
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('10', '', ' ').--phone-choice
        +e.tariff-name.--third
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fourth
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fifth
            +money-min('3500', '', 'рублей').--subscription-fee
    //- 4
    +tariff-item('tarif-step-2', 'id-ts2-4').--phone-choice
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +e.tariff-name.--first
            +money-min('1100', '', 'рублей в месяц').--phone-choice.--subscription-fee
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('15', '', ' ').--phone-choice
        +e.tariff-name.--third
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fourth
            +money-min('0,38 / 1,20', '', 'рублей за минуту').--phone-choice
        +e.tariff-name.--fifth
            +money-min('30 000', '', 'рублей').--subscription-fee

//-  Selecting the M2M tariff
mixin tariff-item-mobile-2-2()
    //- 1
    +tariff-item('tarif-step-2', 'id-ts2-1').--m2m
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('M2M Федеральный 30', '', false)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('30', '', 'Мб').--tariff
        +e.tariff-name.--third
            +money-min('1,40', '', 'рублей за Мб').--tariff
        +e.tariff-name.--fourth
            +money-min('350', '', 'рублей в месяц').--tariff.--subscription-fee

    //- 2
    +tariff-item('tarif-step-2', 'id-ts2-2').--m2m
        +name-tariff('M2M Федеральный 100', '', false)
        +e.tariff-name.--second
            +money-min('100', '', 'Мб').--tariff
        +e.tariff-name.--third
            +money-min('1', '', 'рублей за Мб').--tariff
        +e.tariff-name.--fourth
            +money-min('350', '', 'рублей в месяц').--tariff.--subscription-fee

    //- 3
    +tariff-item('tarif-step-2', 'id-ts2-3').--m2m
        +name-tariff('M2M Федеральный 300', '', false)
        +e.tariff-name.--second
            +money-min('300', '', 'Мб').--tariff
        +e.tariff-name.--third
            +money-min('0,90', '', 'рублей за Мб').--tariff
        +e.tariff-name.--fourth
            +money-min('350', '', 'рублей в месяц').--tariff.--subscription-fee

//-  Selecting the .--add-services
mixin tariff-item-mobile-2-3()
    //- 1
    +tariff-item('tarif-step-3', 'id-ts3-1').--add-services
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Мобильный APN', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('2000', '', 'рублей').--tariff
        +e.tariff-name.--third
            +money-min('20', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 2
    +tariff-item('tarif-step-3', 'id-ts3-2').--add-services
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Белый статический IP-адрес', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('800', '', 'рублей').--tariff
        +e.tariff-name.--third
            +money-min('0', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

//- Комент
mixin tariff-item-virtual-office-1
    //- 1
    +tariff-item('virtual-office-1', 'id-virtual-office-1', false).--virtual-office-one
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Корпоративная почта', '', true)
        +e.tariff-name.--second
            +e('p').text Тарифный план для модемов и планшетов
        +e.tariff-name.--third
            //- mixin money-min(money, pre, text)
            +money-min('7,60', '', 'рублей в сутки').--tariff.--subscription-fee
    +tariff-dropdown().--virtual-office-one.js-tariff-dropdown
        +tariff-read-more({'items': [
            {
                'name': 'Почтовый клиент Outlook',
                'price': '3 руб./сутки'
            },
            {
                'name': 'Архивный почтовый ящик',
                'price': '4 руб./сутки'
            },
            {
                'name': 'Ресурсный почтовый ящик',
                'price': '4 руб./сутки'
            },
            {
                'name': 'Расширение почтового ящика на 1 Гб',
                'price': '1 руб./сутки'
            }
        ]})
    //- 2
    +tariff-item('virtual-office-1', 'id-virtual-office-2', false).--virtual-office-one
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Microsoft Office + Портал', '', true)
        +e.tariff-name.--second
            +e('p').text Веб-версии офисных приложений.
            +e('p').text Портал от 10 Гб на компанию.
        +e.tariff-name.--third
            //- mixin money-min(money, pre, text)
            +money-min('24,50', '', 'рублей в сутки').--tariff.--subscription-fee
    +tariff-dropdown().--virtual-office-one.js-tariff-dropdown
        +tariff-read-more({'items': [
            {
                'name': 'Расширение дискового портала на 1 Гб',
                'price': '1 руб./сутки'
            }
        ]})

    //- 3
    +tariff-item('virtual-office-1', 'id-virtual-office-3', false).--virtual-office-one
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Коммуникатор', '', false)
        +e.tariff-name.--second
            +e('p').text Аудио / видео- конференции до 250 пользователей.
            +e('p').text Создание Федерации.
        +e.tariff-name.--third
            //- mixin money-min(money, pre, text)
            +money-min('6,10', '', 'рублей в сутки').--tariff.--subscription-fee

//-  Selecting the classic-phone-2-1
mixin tariff-item-classic-phone-2-1()
    //- 1
    +tariff-item('tarif-step-4', 'id-ts4-1').--local-rate-fare
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 500', '', true)
        +e.tariff-name.--second
        +e.tariff-name.--third
            +money-min('0', '', 'Минут').--tariff
        +e.tariff-name.--fourth
            +money-min('210', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 2
    +tariff-item('tarif-step-4', 'id-ts4-2').--local-rate-fare
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 1500', '', true)
        +e.tariff-name.--second
        +e.tariff-name.--third
            +money-min('350', '', 'минут').--tariff
        +e.tariff-name.--fourth
            +money-min('370', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 3
    +tariff-item('tarif-step-4', 'id-ts4-3').--local-rate-fare
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 1500', '', true)
        +e.tariff-name.--second
        +e.tariff-name.--third
            +money-min('450', '', 'минут').--tariff
        +e.tariff-name.--fourth
            +money-min('380', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 4
    +tariff-item('tarif-step-4', 'id-ts4-4').--local-rate-fare
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 1500', '', true)
        +e.tariff-name.--second
        +e.tariff-name.--third Безлимит
        +e.tariff-name.--fourth
            +money-min('640', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 5
    +tariff-item('tarif-step-4', 'id-ts4-5').--local-rate-fare
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 1500', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('27', '', 'услуг').--tariff
        +e.tariff-name.--third Безлимит
        +e.tariff-name.--fourth
            +money-min('900', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

    //- 6
    +tariff-item('tarif-step-4', 'id-ts4-6').--local-rate-fare
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Бизнес 1500', '', true)
        +e.tariff-name.--second
            //- mixin money-min(money, pre, text)
            +money-min('36', '', 'услуг').--tariff
        +e.tariff-name.--third Безлимит
        +e.tariff-name.--fourth
            +money-min('1200', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

//- Выбор тарифа междугородней и международной связи (long-distance)
mixin tariff-item-classic-phone-2-3-1()
    //- 1
    +tariff-item('tarif-step-7', 'id-ts7-1').--long-distance
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Предварительный выбор Ростелеком', 'Стоимость звонка зависит от города', false)
        +e.tariff-name.--second
            +money-min('1,8', '', 'рублей в минуту').--tariff
        +e.tariff-name.--third
            +money-min('300', '', 'рублей в месяц').--tariff.--subscription-fee
    //- 2
    +tariff-item('tarif-step-7', 'id-ts7-2').--long-distance
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Выбор Ростелеком при каждом звонке', 'Стоимость звонка зависит от отдаленности города от Москвы. Исключение: Санкт-Петербург', false)
        +e.tariff-name.--second
            +money-min('1,8', '', 'рублей в минуту').--tariff
        +e.tariff-name.--third
            +money-min('300', '', 'рублей в месяц').--tariff.--subscription-fee

//- Внутризоновая телефонная связь
mixin tariff-item-classic-phone-2-2()
    //- 1
    +tariff-item().--intrazone
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Внутризоновая телефонная связь', '', false)
        +e.tariff-name.--second
            +money-min('210', '', 'рублей в минуту').--tariff.--subscription-fee

//- Выбор основных пакетов телеканалов
mixin tariff-item-interactive-tv-2()
    //- 1
    +tariff-item('tarif-step-10', 'id-ts10-1').--pack-tv.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Базовый Деловой', '', '56 каналов')
        +e.tariff-name.--second
            +plus-minus.--height
        +e.tariff-name.--third
            +money-min('210', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown
    //- 2
    +tariff-item('tarif-step-10', 'id-ts10-2').--pack-tv.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Максимальный Деловой', '', '68 каналов')
        +e.tariff-name.--second
            +plus-minus.--height
        +e.tariff-name.--third
            +money-min('900', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

//- Выбор дополнительных пакетов телеканалов
mixin tariff-item-interactive-tv-3()
    //- 1
    +tariff-item('tarif-step-11', 'id-ts11-1').--pack-tv-3.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('HD Деловой', '', '4 канала')
        +e.tariff-name.--second
            //- +plus-minus.--height
        +e.tariff-name.--third
            +plus-minus.--height
        +e.tariff-name.--fourth
            +money-min('210', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown
    //- 2
    +tariff-item('tarif-step-11', 'id-ts11-2').--pack-tv-3.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Взрослый Деловой', '', '1 канал')
        +e.tariff-name.--second
            //- +plus-minus.--height
        +e.tariff-name.--third
            +plus-minus.--height
        +e.tariff-name.--fourth
            +money-min('900', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown
    //- 3
    +tariff-item('tarif-step-11', 'id-ts11-3').--pack-tv-3.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('КХЛ HD', '', '1 канал')
        +e.tariff-name.--second
            +plus-minus.--height
        +e.tariff-name.--third
            +plus-minus.--height
        +e.tariff-name.--fourth
            +money-min('900', '', 'рублей в месяц').--tariff.--subscription-fee
    +tariff-dropdown().js-tariff-dropdown

//- Виртуальный ЦОД
mixin tariff-item-service-vdc-2()
    //- 1
    +tariff-item('tarif-step-12', 'id-ts12-1').--vdc-2.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Windows Server Datacenter 2012', '', false)
        +e.tariff-name.--second
            +money-min('1', '', 'ядро').--tariff
        +e.tariff-name.--third
            +money-min('1', '', 'ГБ').--tariff
        +e.tariff-name.--fourth
            +select-virtual-cod('SATA','SAS', 'SSD')
            +money-min('40', '', 'ГБ').--tariff.--with-select
        +e.tariff-name.--fifth
            +select-virtual-cod--iops('100 IOPS','200 IOPS', '400 IOPS', '500 IOPS','600 IOPS', '700 IOPS')
        +e.tariff-name.--sixth
            +plus-minus.--height
        +e.tariff-name.--seventh
            +money-min('57,26', '', 'рублей в сутки').--tariff.--subscription-fee

    //- 2
    +tariff-item('tarif-step-12', 'id-ts12-2').--vdc-2.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Windows Server Datacenter 2012', '', false)
        +e.tariff-name.--second
            +money-min('1', '', 'ядро').--tariff
        +e.tariff-name.--third
            +money-min('1', '', 'ГБ').--tariff
        +e.tariff-name.--fourth
            +select-virtual-cod('SATA','SAS', 'SSD')
            +money-min('40', '', 'ГБ').--tariff.--with-select
        +e.tariff-name.--fifth
            +select-virtual-cod--iops('100 IOPS','200 IOPS', '400 IOPS', '500 IOPS','600 IOPS', '700 IOPS')
        +e.tariff-name.--sixth
            +plus-minus.--height
        +e.tariff-name.--seventh
            +money-min('57,26', '', 'рублей в сутки').--tariff.--subscription-fee

    //- 3
    +tariff-item('tarif-step-12', 'id-ts12-3').--vdc-2.--tv-button
        //- +e.tariff-name.--first
        //- mixin name-tariff(name, additional, link)
        +name-tariff('Windows Server Datacenter 2012', '', false)
        +e.tariff-name.--second
            +money-min('1', '', 'ядро').--tariff
        +e.tariff-name.--third
            +money-min('1', '', 'ГБ').--tariff
        +e.tariff-name.--fourth
            +select-virtual-cod('SATA','SAS', 'SSD')
            +money-min('40', '', 'ГБ').--tariff.--with-select
        +e.tariff-name.--fifth
            +select-virtual-cod--iops('100 IOPS','200 IOPS', '400 IOPS', '500 IOPS','600 IOPS', '700 IOPS')
        +e.tariff-name.--sixth
            +plus-minus.--height
        +e.tariff-name.--seventh
            +money-min('57,26', '', 'рублей в сутки').--tariff.--subscription-fee

    //- Last
    +tariff-item('', '').--tv-button.--last
        +e.tariff-name.--first Самостоятельное создание виртуальной машины
        +e.tariff-name.--second
            +button('Создать').--tv-button


//- Виртуальная ЦОД - 3
mixin tariff-item-service-vdc-3()

    //- Last
    +tariff-item('tarif-step-12', 'id-ts12-333').--vdc-2.--tv-button.--vdc-3
        +name-tariff('Windows Server Datacenter 2012', '', false)
        +e.tariff-name.--second
            +money-min('8', '', 'ядер').--tariff
        +e.tariff-name.--third
            +money-min('16', '', 'ГБ').--tariff
        +e.tariff-name.--third.--third-repeat
            +money-min('SATA', '', 'nothing').--tariff.--text-font
            +money-min('SSD', '', 'nothing').--tariff.--text-font
            +money-min('SAS', '', 'nothing').--tariff.--text-font
        +e.tariff-name.--fourth
            +money-min('40', '', 'ГБ').--tariff
            +money-min('40', '', 'ГБ').--tariff
            +money-min('40', '', 'ГБ').--tariff
        +e.tariff-name.--fifth
            +money-min('100', '', 'IOPS').--tariff.--text-font
        +e.tariff-name.--sixth
            +plus-minus.--height
        +e.tariff-name.--seventh
            +money-min('57,26', '', 'рублей в сутки').--tariff.--subscription-fee

    +tariff-dropdown().--show
        +b.choice-parameter
            +choice-parameter-item(
                'Ядра процессора',
                'SSD диск, ГБ',
                'Производительность SSD диска, IOPS',
                'Оперативная память, ГБ',
                'SAS диск, ГБ'
            )
            +e.item
                | windows server datacenter 2012
            +choice-parameter-item(
                'Количество IP-адресов',
                'SATA диск, ГБ'
            )

mixin choice-parameter-item(...items)
    each item in items
        +e.item
            +e('p').name #{item}
            +range(true).--size
