//- ====================
//- Project: RT
//- 01-09-2017: VD
//- --------------------
//- Тариф - подробнее - информация
//- ====================

mixin tariff-read-more(data)
    each item in data.items
        +b.tariff-read-more(class!=attributes.class)
            +e('span').name #{item.name}
            +e('span').price #{item.price}