//- ====================
//- Project: popup
//- 03-08-2017: MynameisIM
//- --------------------
//- Шаблон popup
//- ====================
//- title_text - Переменная которая устанавливает заголовок попапа
//- progress - Переменная которая устанавливает прогресс-линию 
//- step_start - Переменная которая устанавливает начало шага
//- nav_text - Переменная которая устанавливает шаг попапа
//- close_btn - Переменная которая добавляет/удаляет кнопку закрытия
//- content_title - Переменная которая устанавливает заголовок для содержимого попапа
//- price добавляет  надпись НДС под попап +использовать с модификатором --price

mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +b.popup-container.js-popup-shadow(class!=attributes.class class="#{js}")
        +b.modal(class!=attributes.class)
            if title_text
                +e.popup-header
                    +e.heading
                        +e('span').head-contain
                            +e('span').title #{title_text}
                            if step_start
                                +e('span').navigation-field Шаг #{step_start} из 2
                            if nav_text
                                +e('span').navigation-field #{nav_text}
                        if close_btn == true
                            +e('a').close-btn(href="javascript:void(0)" title="").js-popup-close
                                span.icon-close
                        if progress == true
                            +b.progress-bar
                        if progress == 'full'
                            +b.progress-bar--full

            if price == true
                +e('span').price Все цены указаны в рублях без учета НДС

            +b.popup-content(class!=attributes.class)
                if content_title
                    +e('h3').heading(class!=attributes.class) #{content_title}
                block