//- ====================
//- Project: page-temlate
//- 03-08-2017: drtvader
//- --------------------
//- Шаблон страниц
//- ====================

//- dropdown если true то появляется блок с выпадашкой
mixin template-page(title, dropdown, select)
    +b.template-page
        .b-container
            +e.head
                +title-h1(title)
                if dropdown == true
                    +e('a')(href="javascript:void(0)" title="").dropdown-block
                        +e.personal-account
                            | лицевой счет 
                            span №890000049228
                        +e('span').dropdown Кутузовский проспект
                if select == true
                    +b('select').select.js-select-template
                        option(value="") Санкт Петербург
                        option(value="") Ханты-Мансийский автономный округ
                        option(value="") Чукотский АО
                        option(value="") Немецкий АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Чукотский АО
                        option(value="") Немецкий АО
                        option(value="") Чукотский АО
                        option(value="") Немецкий АО
        +e.body
            .b-container
                +e.table
                    block