//- ====================
//- Project: popup
//- 03-08-2017: MynameisIM
//- --------------------
//- Лейбл плюс текстовое поле для формы
//- ====================

mixin textarea(id)
    +b('textarea').input--textarea(name="" id="#{id}" class!=attributes.class)