//- ====================
//- Project: RT
//- 03-08-2017: Amedomary
//- --------------------
//- Блок для текста <p>
//- ====================

mixin text-block(file, ...items)
    +b('div').text-block(class!=attributes.class)
        each item in items
            p !{item}
        if file == true
            +e.file
                +e('a')(href="javascript:void(0)" title="").file-link
                    +e('span').icon.icon-ic-attach-file
                    +e('span').text-file 1 файл