//- ====================
//- Project: title
//- 03-08-2017: drtvader
//- --------------------
//- Заголовок
//- ====================

mixin title-h1(title)
    +b('h1').title #{title}

mixin title-h2(title)
    +b('h2').title.--h2(class!=attributes.class) #{title}