//- ====================
//- RTD: toggle button
//- 03-08-2017: Amedomary
//- --------------------
//- Кнопка переключения
//- ====================

//- first_content  - вариант текста переключателя 1
//- second_content - вариант текста переключателя 2
//- first_id - id для первого радиобатана
//- second_id - id для второго радиобатана

mixin toggle-button(first_content, second_content, first_id, second_id)
	+b('div').toggle-button(class!=attributes.class)
		+e('input').radio--first(type='radio' name='toggle' checked='' id='#{first_id}')
		+e('label').label--first(for='#{first_id}') #{first_content}
		+e.switch
		+e('input').radio--second(type='radio' name='toggle' id='#{second_id}')
		+e('label').label--second(for='#{second_id}') #{second_content}

