//- ====================
//- RTD: tooltip
//- 03-08-2017: drtvader / Amedomary
//- --------------------
//- Тултип
//- ====================


//- mark = quest  -- если вам нужен знак вопроса вместо 3х точек

mixin tooltip(mark, ...items)
    //- тултип не нужен в новой версии
    //- +b.tooltip(class!=attributes.class)
    //-     +e('a').mark.js-open-tooltip(href="javascript:void(0);" title="")
    //-         if mark == quest
    //-             span.icon-question
    //-         else
    //-             span.dot

    //-     +e.hidden.js-tooltip-hidden
    //-         +e('ul').list(class!=attributes.class)
    //-             each item in items
    //-                 +e('li').item
    //-                     +e('a').link(href="javascript:void(0);" title="#{item}") #{item}

    +b.tooltip(class!=attributes.class)
        +e('a').mark.js-open-tooltip(href="javascript:void(0);" title="")
            if mark == quest
                span.icon-question
            else
                span.dot

        if mark == quest
            +e.hidden.js-tooltip-hidden
                +e('ul').list(class!=attributes.class)
                    each item in items
                        +e('li').item
                            +e('a').link(href="javascript:void(0);" title="#{item}") #{item}