//- ====================
//- Project: popup
//- 04-08-2017: MynameisIM
//- --------------------
//- Лейбл плюс поле загрузки файла для формы
//- ====================
//- Редактировал: VD
//- 1. Сменил +e на +b и переименовал переменную, чтобы было более понятно
//- 2. Добавил attributes
//- 3. Установил тип инпута.
//- ====================
//- Редактировал: Amedomary
//- 1. Добавил (href='javascript:void(0)' title='') ссылке
//- 2. Добавил новый общий блок
//- 3. Вынул крестик из лейбла
//- ====================

//- v1.03
mixin uploadfile(id)
    +b.uploadfile(class!=attributes.class)
        +e('a').link.icon-close-search(href='javascript:void(0)' title='')
        +e('label').label(class!=attributes.class)
            +e('input')(type="file" id="#{id}").input
            +e('span').load
                +e('span').format PDF
                +e('span').progress 56%
            +e('span').upload-place
                | Перетащите ваши файлы в эту область
                +e('span').size (200кб)

//- v1.02
//- mixin uploadfile(id)
    +b('label').uploadfile(class!=attributes.class)
        +e('input')(type="file" id="#{id}").input
        +e('span').load
            +e('span').format PDF
            +e('span').progress 56%
        +e('span').upload-place
            | Перетащите ваши файлы в эту область
            +e('span').size (200кб)
        +e('a').link.icon-close-search(href='javascript:void(0)' title='')

//- v1.01
//- Безвозвратно утерена