//- ====================
//- Project: RT
//- 24-08-2017: VD
//- --------------------
//- Значение статистики
//- ====================

mixin value-statistics(nameValue, itemValue, color)
    +b('div').value-statistics
        +e('div').color(class="#{color}")
        +e('div').info
            +e('p').name-value #{nameValue}
            +e('p').item-value #{itemValue}