/* 1440 + */
.b-money-min {
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: @font-base;

    &--order {
        margin: 0px 40px 0px 10px;
    }

    &--tariff {
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

    &--with-select {
        margin-left: 15px;
    }

    &--phone-choice {
        justify-content: flex-start;
    }

    &--footer-popup {
        width: 110px;
    }

    &--text-font {

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__pre {
        font-size: 12px;
        line-height: 1;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        margin-right: 12px;
        font-weight: normal;

        &--service {
            margin-right: 4px;
            width: 12px;
            margin-left: auto;
        }
    }

    &__money {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.03;
        letter-spacing: -0.2px;
        color: @cl-font-gray;

        &--service {
            font-size: 24px;
            line-height: 0.83;
            letter-spacing: -0.6px;
        }

        &--tariff {
            display: inline-block;
            text-align: left;
        }

        &--subscription-fee {
            font-size: 24px;
        }

        &--text-font {
            font-size: 14px;
            font-weight: bold;
            color: @cl-font-gray;
            font-family: @font-base;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 1;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        margin-left: 12px;
        // max-width: 45px;
        width: auto;
        font-weight: normal;
        text-align: left;

        & span {
            display: block;
        }

        &--service {
            margin-left: 4px;
            width: 50px;
        }

        &--tariff {
            display: inline-block;
            text-align: left;
            margin-left: 4px;
        }

        &--text-font {
            font-size: 14px;
            font-weight: bold;
            color: @cl-font-gray;
            font-family: @font-base;
        }
    }

    .b-table__text &__text {
        span {
            background: transparent;
        }
    }
}