/* 768 + */
.b-money-min {
    &__money {
        font-size: 14px;

        &--service {
            font-size: 24px;
        }

        &--tariff {
            font-size: 18px;
        }

        &--subscription-fee {
            font-size: 24px;
        }

        &--text-font {
            font-size: 14px;
        }
    }
}