/* 1440 + */
.b-news-preview {
    border-bottom: 1px solid @cl-rtd-border;
    padding-top: 29px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    margin-bottom: 13px;

    p {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: 0.2px;
        color: @cl-font-gray;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    &--article {
        max-width: 605px;
        border-bottom: none;

        p {
            margin: 0px;
            line-height: 1.72;
        }
    }

    &--read-also {
        display: inline-block;
        border-bottom: none;
        padding-left: 0px;
        padding-top: 22px;
        margin-right: 65px;
    }

    &__link {
        display: inline-block;
        width: 100%;
        max-width: 560px;
    }

    &__title {
        font-family: @font-base;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-font-gray;
    }

    &__date {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-font-light;
    }

    &--article & {
        &__date {
            margin-bottom: 28px;
        }
    }

    &__read-link {
        display: block;
    }

    &--read-also & {
        &__title {
            color: @cl-font-light;
        }
    }
}