/* 1440 + */
.b-item-product {
    background-color: @cl-rtd-body-table;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;

    &--just-list {
        background: none;
        padding: 0px;
        margin: 0px;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    &__block-image {
        float: left;
        width: 320px;
        padding: 35px;
        text-align: center;

        & img {
            max-height: 100%;
        }
    }

    // правый блок свойст
    &__block-properties {
        width: 60%;
        margin-left: 320px;
        padding-bottom: 25px;
    }

    &__title {
        font-family: @font-base;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-rtd-gray;

        &--interactive-tv {
            margin-bottom: 8px;
        }
    }

    &__list {
        list-style: none;
        // margin-top: 8px;
        padding-left: 15px;
    }

    &__item {
        position: relative;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-font-light;
        list-style: none;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: @cl-rtd-blue;
            border-radius: 50%;
            left: 5px;
            left: -15px;
            top: 50%;
            margin-top: -2px;
        }
    }

    &--just-list &__item {
        font-size: 16px;
        line-height: 24px;
    }

    &__description {
        margin: 0 0 5px;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        text-align: left;
        color: @cl-font-light;
    }

    &__link-more {
        position: relative;
        font-family: @font-base;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
        color: @cl-font-blue;
        
        &:before {
            content: '';
            position: absolute;
            right: -18px;
            top: 50%;
            margin-top: -2px;
            display: inline-block;
            border: 4px solid transparent;
            border-top: 4px solid  @cl-font-blue
        }

    }

    // Нижний блок - футер
    &__block-interactive {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-top: 1px solid @cl-rtd-border-body-table;
        margin-left: 320px;
        padding-top: 15px;
    }

    &__count-text {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        text-align: left;
        color: @cl-font-light;
    }
}