/* 320 + */
.b-item-product {
    padding: 15px 15px 20px;

    // правый блок свойст
    &__block-image {
        width: 100%;
        padding: 10px;
    }

    &__block-properties {
        width: 100%;
    }

    // Нижний блок - футер
    &__block-interactive {
        flex-wrap: wrap;
        margin-top: 0;
    }
}