/* 768 + */
.b-item-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    // правый блок свойст
    &__block-image {
        float: none;
        width: 260px;
        padding: 20px;
        // text-align: center;
    }

    &__block-properties {
        margin-left: 0;
    }

    &__title {
        margin-top: 23px;

        &--interactive-tv {
            margin-bottom: 0;
        }
    }

    // &__list {
    //     margin-top: 0;
    // }

    // Нижний блок - футер
    &__block-interactive {
        margin-top: 20px;
        margin-left: 0;
        padding-top: 20px;
        width: 100%;
    }
}