/* 320 + */
.b-tab-calendar {
    height: 100%;

    &__content {
        min-height: calc(~"100% - 52px");
        padding-bottom: 75px;

        &:after {
            display: none;
        }

        form {
            flex-direction: column;
        }
    }

    &__wrapper-left,
    &__wrapper-right {
        display: block;
        width: auto;
        text-align: center;
    }

    &__wrapper-button {
        position: fixed;
        left: 100%;
        bottom: 0px;
        background: @cl-rtd-back-calendar-content;
        height: 64px;
        width: 100%;
        z-index: 10;
        transition-duration: 0.3s;
        transition-property: left;
    }

    .b-calendar.active &__wrapper-button {
        left: 0px;
    }
}