/* 1440 + */
.b-tab-calendar {
    width: 100%;
    max-width: 544px;

    &__tab-nav-list {
        background-color: @cl-rtd-back-calendar-tab;
        padding-left: 0px;
        width: 544px;
        display: flex;
        flex-direction: row;
        height: 52px;
    }

    &__tab-nav-wrapper {
        overflow-x: auto;
        width: 100%;
    }

    &__tab-nav-item {
        list-style: none;
        display: inline-block;
        flex-grow: 1;
        flex-shrink: 0;
    }

    &__link {
        width: 100%;
        display: inline-block;
        text-align: center;
        height: 52px;
        line-height: 56px;
        vertical-align: middle;
        color: @cl-rtd-white;
        font-family: @font-din-medium;
        font-size: 14px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
    }

    &__line-nav {
        height: 4px;
        background-color: @cl-rtd-orange;
        position: absolute;
    }

    &__line-block {
        height: 4px;
        position: relative;
        margin-top: -4px;
    }

    &__content {
        display: none;
        background-color: @cl-rtd-back-calendar-content;
        font-size: 0;
        position: relative;

        &:after {
            content: '';
            display: block;
            border-right: 1px solid @cl-rtd-calendar-border;
            height: calc(~"100% - 4px");
            width: 1px;
            position: absolute;
            top: 2px;
            right: 50%;
            margin-right: -1px;
        }

        &.active {
            display: block;
        }

        form {
            display: flex;
            flex-direction: row;
        }
    }

    &__wrapper-button {
        margin-top: auto;
    }

    &__wrapper-left,
    &__wrapper-right {
        display: inline-block;
        width: 272px;
        vertical-align: top;
    }

    &__wrapper-left {
        display: flex;
        flex-direction: column;
    }
}