/* 320 + */
.b-table {

    &--archive-operation {
        padding-left: 0px;
    }

    &--stat-organization {
        padding-left: 0px;
    }

    &__table-wrap {
        padding: 0 15px;
    }

    &__table-header-list--document,
    &__table-item--document {

        & .second {
            width: 15%;
        }

        & .four {
            width: 12%;
        }
    }

    .b-dropdown-block__hidden-wrapper--information &__table-wrap {
        padding-left: 0px;
    }
}