/* 768 + */
.b-table {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    &__table-wrap {
        width: 1078px;
        padding-right: 20px;
    }

    &__table-header-list,
    &__table-item {
        white-space: normal;
    }


    &__table-header-list--document,
    &__table-item--document {

        & .second {
            width: 17%;
        }

        & .three {
            width: 10%;
        }

        & .four {
            width: 10%;
        }

        & .five {
            width:  16%;
        }

        & .six {
            width:  17%;
        }

        & .seven {
            width: 25%;
        }
    }

    .b-dropdown-block__hidden-wrapper--information &__table-wrap {
        padding-right: 0;
    }
}