/* 1440 + */
.b-table {
    width: 100%;

    &--info {
        margin-bottom: 28px;
    }

    &--request-history {
        margin-bottom: 8px;
    }

    &--stat-organization {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__table-wrap {

        &--service {
            margin-bottom: 26px;
        }
    }
    &__table-header-list,
    &__table-item,
    &__link-block {
        display: flex;
    }

    &__table-header-list {
        border-bottom: 1px solid @cl-rtd-border-header-table;
    }

    &__table-header-list,
    &__table-list {
        padding: 0;
    }

    &__table-list {

        &--service {
            margin-bottom: 19px;
        }
    }

    &__table-header-item {
        list-style-type: none;
    }

    &__table-item {
        padding: 15px 0;
        border-bottom: 1px solid @cl-rtd-border-body-table;
        align-items: flex-start;

        &:last-child {
            border: 0;
        }

        &--line {
            &:last-child {
                border-bottom: 1px solid @cl-rtd-border-body-table;
            }
        }

        &--middle {
            align-items: center;
        }
    }

    &__table-header-list--document &__table-header-item,
    &__table-item--document &__table-header-item { 
        padding-top: 5px;
    }
    &__table-header-list--document &__column,
    &__table-item--document &__column, { 
        padding-top: 4px;
    }

    &__table-header-list--document,
    &__table-item--document {
        & .first {
            width: 5%;
            padding-top: 0px;
        }

        & .second {
            width: 15%;
            padding-right: 19px;
        }

        & .three {
            width: 10%;
        }

        & .four {
            width: 15%;
        }

        & .five {
            width:  20%;
        }

        & .six {
            width:  17%;
        }

        & .seven {
            flex-direction: column;
            align-items: flex-start;
            width: 18%;
        }
    }

    &__table-header-list--subscribe,
    &__table-item--subscribe {

        & .first {
            width: 21%;
            padding-right: 39px;
        }

        & .second {
            width: 9%;
            padding-right: 5px;
        }

        & .three {
            width: 18%;
        }

        & .four {
            width: 28%;
            padding-right: 100px;
        }

        & .five {
            width: 24%;
            padding: 0;
        }
    }

    &__table-header-list--order,
    &__table-list--order {

        & .first {
            width: 25%;
            // padding-right: 39px;
        }

        & .second {
            width: 25%;
            // padding-right: 5px;
        }

        & .three {
            width: 25%;
        }

        & .four {
            width: 25%;
        }
    }


    &__table-header-list--history-payments,
    &__table-item--history-payments {

        & .first {
            width: 16%;
            padding-right: 32px;
        }

        & .second {
            width: 15%;
            padding-right: 5px;
        }

        & .three {
            width: 18%;
        }

        & .four {
            width: 17%;
        }

        & .five {
            width: 15%;
        }

        & .six {
            width: 19%;
            padding: 0;

            & .icon-pay-icon-blue,
            & .icon-pay-icon-orange {
                font-size: 12px;
                line-height: 13px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }

            & .icon-pay-icon-blue {
                color: @cl-rtd-border-dwopdown;
            }

            & .icon-pay-icon-orange {
                color: @cl-rtd-number-background;
            }
        }
    }

    &__table-header-list--service,
    &__table-item--service {
        & .icon-sort {
            margin-left: 5px;
        }

        & .first {
            width: 4%;
        }

        & .second {
            width: 18%;
            padding-right: 33px;
        }

        & .three {
            width: 16%;
        }

        & .four {
            width: 19%;
        }

        & .five {
            width: 18%;

            & .b-table__name {
                margin-right: 8px;
            }
        }

        & .six {
            width: 13%;
            padding: 0;
        }

        & .seven {
            width: 12%;
        }
    }

    &__table-header-list--info,
    &__table-item--info {

        & .first {
            width: 4%;
        }

        & .second {
            width: 18%;
            padding-right: 43px;
        }

        & .three {
            width: 18%;
        }

        & .four {
            width: 27%;
        }

        & .five {
            width: 18%;

            & .b-table__name {
                margin-right: 8px;
            }
        }

        & .six {
            width: 15%;
            padding: 0;

            & .b-table__name {
                margin-right: 8px;
            }
        }
    }

    &__table-header-list--request-history,
    &__table-item--request-history {

        & .first {
            width: 17%;
        }

        & .second {
            width: 16%;
            padding-right: 36px;
        }

        & .three {
            width: 58%;
        }

        & .four {
            width: 9%;
            padding: 0;
        }
    }

    &__table-list--stat {
        margin-bottom: 28px;
    }

    &__table-header-list--stat,
    &__table-list--stat {

        & .first {
            width: 22%;
        }

        & .second {
            width: 58%;
            padding-left: 25%;
        }

        & .three {
            width: 20%;
            text-align: right;

            & .b-table__text,
            & .b-table__link-sort {
                width: 100%;
                display: inline-block;
            }
        }

        & .b-table__table-item:last-child {
            border-bottom: 1px solid @cl-rtd-border-body-table;
        }
    }

    //- Стили для Истории платежей в ДокументЛисте
    &__table-header-list--charge,
    &__table-list--charge {
    
        .b-table__table-item {
            padding: 16px 0;
        }

        & .four,
        & .five {
            & .b-table__link-sort {
                justify-content: flex-end;
            }
        }

        & .first {
            width: 25%;
            padding-right: 125px;
            justify-content: flex-start;
        }

        & .second {
            width: 20%;
        }

        & .three {
            width: 25%;
            & .b-table__text {
                max-width: 165px;
            }
        }

        & .four {
            width: 15%;
            justify-content: flex-end;
        }

        & .five {
            width: 20%;
            justify-content: flex-end;
        }
    }

    //- Стили для Истории начислений в ДокументЛисте
    &__table-header-list--accrual,
    &__table-list--accrual {

        .b-table__table-item {
            padding: 16px 0px;
        }

        & .first {
            width: 15%;
            padding-right: 70px;
            justify-content: flex-start;
        }

        & .second {
            width: 16%;
            padding-right: 20px;
            justify-content: flex-start;
        }

        & .three {
            width: 20%;
            justify-content: flex-start;
        }

        & .four {
            width: 17%;
            justify-content: flex-start;
        }

        & .five {
            width: 11%;
            justify-content: flex-end;
            padding-right: 0;

            .b-table__link-sort {
                justify-content: flex-end;
            }
        }

        & .six {
            width: 21%;
            justify-content: flex-end;
            padding-right: 0;

            .b-table__link-sort {
                justify-content: flex-end;
            }
        }
    }

    &__table-item--stat-organization {
        & .first {
            width: 27%;
        }

        & .second {
            max-width: 73%;
        }
    }


    //- Стили для попапа в футере "выбранные услуги"
    &__table-header-list--footer-popup,
    &__table-list--footer-popup {
        padding: 0px 20px;

        .b-table__table-item {
            padding: 10px 0;
        }

        & .first {
            width: 665px;
            & .b-table__text {
                font-family: @font-base;
                font-size: 18px;
                line-height: 1.33;
                color: @cl-font-light;

                &.bold {
                    color: @cl-font-gray;
                    margin-right: 20px;
                }
            }
        }

        & .second {
            width: 142px;
        }

        & .three {
            width: 190px;

            & .b-table__text {
                font-family: @font-base;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 0px;
                color: @cl-font-gray;
            }
        }

        & .link {
            width: 114px;
        }

        & .delete {
            width: 36px;
            padding: 0px;
            margin-right: -10px;
        }
    }



    &__column {
        display: flex;
        align-items: center;
        padding-right: 15px;

        &--right {
            justify-content: flex-end;
            padding-right: 0;
        }

        &--center {
            justify-content: center;
        }

        &.seven {
            padding-right: 0px;
        }
    }

    &__link-block {
        margin-bottom: 4px;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;

        .b-table__text {
            padding-right: 15px;
        }
    }

    &__link-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        text-decoration: none;
        padding-bottom: 13px;

        & .icon-sort {
            font-size: 8px;
            line-height: 8px;
            margin-top: 4px;
        }

        &.active {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                border-bottom: 4px solid @cl-rtd-border-dwopdown;
            }

            & .icon-sort {
                color: @cl-rtd-border-dwopdown;
            }
        }

        &--right {
            justify-content: flex-end;

            & .b-table__name {
                text-align: right;
            }
        }

        &--center {
            justify-content: center;
        }
    }

    a&__link-sort {
        transition: color 0.3s;

        .no-touchevents &:hover {
            color: @cl-rtd-title;
        }
    }


    &__text {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;

        &.bold {
            font-weight: bold;
        }

        &--right {
            text-align: right;
        }

        &.orange {
            color: @cl-rtd-number-background;
            font-weight: bold;
        }

        &--column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        span {
            background-color: @cl-rtd-choose-client-info;
        }

        &.red {
            color: @cl-rtd-payment-error;
        }
    }

    &__new {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: @cl-rtd-number-background;
        margin-left: 3px;
    }

    &__info {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        font-weight: normal;
    }

    &__blue {
        display: inline-block;
        font-weight: bold;
        color: @cl-rtd-border-dwopdown;
        // margin-bottom: 5px;
        margin-bottom: 0;
    }

    &__number {
        line-height: 1.6;

        span {
            background-color: @cl-rtd-choose-client-info;
            display: inline-block;
        }
    }

    span&__character-number {
        background-color: transparent;
    }

    &--archive-operation {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__table-header-list--archive-operation,
    &__table-item--archive-operation {

        & .first {
            width: 4%;
        }

        & .second {
            width: 26%;
            padding-right: 142px;
        }

        & .three {
            width: 19%;
        }

        & .four {
            width: 25%;
        }

        & .five {
            width: 26%;
        }
    }

    &__table-header-list--document-history,
    &__table-list--document-history {

        .b-table__column {
            padding-right: 0;
        }

        & .first {
            width: 19%;
            padding-right: 115px;
        }

        & .second {
            width: 29%;
            padding-right: 20px;
        }

        & .three {
            width: 32%;
            padding-right: 55px;
        }

        & .four {
            width: 20%;
            justify-content: flex-end;

            .b-table__link-sort,
            .b-table__text {
                text-align: right;
                justify-content: flex-end;
            }
        }
    }

    &__table-header-list--credit-limit-information,
    &__table-list--credit-limit-information {
        & .first {
            width: 17%;
            padding-right: 65px;
        }

        & .second {
            width: 22%;
            padding-right: 105px;
        }

        & .three {
            width: 21%;
            padding-right: 110px;
        }

        & .four {
            width: 23%;
            padding-right: 120px;
        }

        & .five {
            width: 17%;
            padding-right: 20px;
        }
    }

    &__table-header-list--credit-limit-information & {
        &__link-sort {
            align-items: flex-end;
            height: 100%;
        }
    }

    &__table-header-list--credit-limit-information {
        border-color: @cl-rtd-border-body-table;
    }
}