/* 1440 + */
.b-header {
    flex: 0 0 auto;

    &__top-line {
        height: 48px;
        background-color: @cl-rtd-gray;
        color: @cl-font-white;
    }

    & .b-container {
        height: 100%;
    }

    &__top-wrapper {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__phone {
        padding: 15px 0;
        font-family: @font-din-medium;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: @cl-font-white;
        margin-right: 50px;
    }

    &__bot-line {
        height: 92px;
        background-color: @cl-Project-white;
        // box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
        color: @cl-font-gray;

        & .b-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }

    &__logo {
        width: 162px;
        height: 52px;
    }

    &__profile-link {
        font-family: @font-base;
        font-weight: bold;
        color: @cl-font-gray;
        font-size: 14px;
        line-height: 16px;
        margin-right: auto;
        margin-left: 15px;
        padding-left: 15px;
        flex-basis: 150px;
        border-left: 1px solid @cl-rtd-border-link;
    }

    &__back-portal {
        margin-right: auto;
    }

    &__portal-link {
        display: inline-block;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        color: @cl-rtd-back-portal;
        padding-top: 17px;
        padding-bottom: 13px;
    }
}