/* 768 + */
.b-header {
    &__bot-line {
        height: 154px;

        & .b-container {
            flex-wrap:wrap;
            align-items: flex-end;
        }
    }

    &__profile-link {
        margin-bottom: 15px;
    }

    &__phone {
        flex-shrink: 0;
        margin-right: 40px;
    }

    &__back-portal {
        align-self: center;
    }

    &__portal-link {
        padding: 6px 0px;
    }
}