/* 320 + */
.b-header {
    &__top-wrapper {
        display: block;
        height: auto;
        line-height: 40px;
        padding: 15px 15px 10px;
        background-color: @cl-rtd-body-table;
        border-bottom: 1px solid @cl-rtd-border-header-menu;
    }

    &__phone {
        color: @cl-font-gray;
    }

    &__logo-link {
        margin: auto;
        padding-right: 30px;
    }

    &__profile-link {
        display: block;
        text-align: center;
        font-family: @font-base;
        font-weight: normal;
        color: @cl-font-white;
        border: none;
        padding: 0;
        margin: 0;
        line-height: 48px;
    }

    &__bot-line {
        height: 72px;
    }
}