/* 320 + */
/* 1440 + */
.b-text-block {
    // font-family: @font-base;
    // font-size: 16px;
    // line-height: 1.5;
    // letter-spacing: -0.2px;
    // margin: 0;

    // p {
    //     margin: 0;
    // }

    // //  стилизауия
    // &--gray {
    //     color: @cl-font-light;
    // }

    //позиционирование
    &--request {
        padding: 0;
        max-width: auto;
    }

    &--reply {
        padding: 0;
        max-width: auto;
    }
}