/* 1440 + */
.b-text-block {
    font-family: @font-base;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    margin: 0;

    p {
        margin: 0;
    }

    //  стилизауия
    &--gray {
        color: @cl-font-light;
    }

    &--ex-small {
        font-size: 14px;   
    }

    //позиционирование
    &--request {
        max-width: 600px;
        margin-top: 10px;
        margin-bottom: 25px;
        padding-right: 30px;
    }

    &--reply {
        max-width: 600px;
        margin-top: 10px;
        margin-bottom: 0;
        padding-right: 30px;
    }

    &--connect {
        margin: 10px 0;
        max-width: 620px;
    }

    &--connect-border {
        max-width: 620px;
        padding-bottom: 25px;
        border-bottom: 1px solid @cl-rtd-border-body-table;
        margin-bottom: 45px;
        margin-right: 5px;
    }

    &__icon {
        color: @cl-rtd-title;
        line-height: 2;
        font-size: 10px;
        padding-right: 3px;
    }

    &__text-file {
        font-family: @font-base;
        font-size: 12px;
        line-height: 2;
        letter-spacing: -0.1px;
        color: @cl-rtd-title;
        border-bottom: 1px dotted @cl-rtd-title;
    }
}