/* 1440 + */
.b-choice-parameter {
    font-size: 0px;
    line-height: 0px;
    padding-top: 12px;

    &__item {
        width: calc(~"100% / 3");
        display: inline-block;
        font-size: 14px;
        position: relative;
        padding-bottom: 16px;
        padding-right: 17px;
        padding-left: 18px;
        margin-bottom: 28px;
    }

    &__name {
        margin-top: 0px;
        margin-bottom: 6px;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-font-light;
    }
}