/* 1440 + */
.b-list-info {
	display: inline-block;
	padding: 0;

	&__item {
		display: inline-block;
		position: relative;
		list-style: none;
		padding: 0 15px;
	}

	&__link {
		font-family: @font-din-medium;
		color: @cl-font-gray;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: -0.2px;
		padding: 4px;
        transition: .3s;

		.no-touchevents &:hover,
        .touchevents &:active,
        &.active {
            color: @cl-rtd-hover-ling-alfa;
        }

        .no-touchevents &:active {
            color: @cl-font-gray;
        }
	}
}