/* 1440 + */
.b-calendar-filter {
    display: inline-block;
    width: 272px;
    vertical-align: top;
    margin-bottom: 9px;

    .pickmeup {
        touch-action: manipulation;
    }

    nav {
        display: flex;
        align-items: center;
        padding: 18px 20px 13px;
        border-bottom: 1px solid @cl-rtd-calendar-border;
        margin-bottom: 18px;
    }

    .pmu-month {
        flex-grow: 1;
        text-align: center;
        font-family: @font-din-medium;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.1px;
        color: @cl-rtd-exit-icon;
        text-transform: uppercase;
    }

    .pmu-next,
    .pmu-prev {
        color: @cl-rtd-exit-icon;
        font-size: 7px;
        padding: 0px 7px;
        cursor: pointer;
    }

    // .pmu-next {
    //     margin-right: -10px;
    // }

    // .pmu-prev {
    //     margin-left: -10px;
    // }

    .pmu-days {
        padding: 0 7px 0px 11px;

        div {
            display: inline-block;
        }

        .pmu-button {
            font-family: @font-din-medium;
            font-size: 14px;
            letter-spacing: 0.1px;
            color: @cl-rtd-exit-icon;
            width: 36px;
            transition-property: background;
            transition-duration: 0.3s;
            vertical-align: middle;
            text-align: center;
            line-height: 24px;
            height: 24px;
            cursor: pointer;
            background: transparent;
            margin-bottom: 12px;
            &:hover {
                .b-calendar-filter__span-day {
                    border: solid 1px @cl-rtd-back-format-file;
                }
            }
        }

        // .pmu-selected {
        //     background: @cl-rtd-back-format-file;
        // }

        .pmu-not-in-month {
            color: @cl-rtd-light;
        }
    }

    &__span-day {
        display: inline-block;
        width: 15px;
        text-align: right;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid transparent;
        vertical-align: middle;
        line-height: 20px;
        padding-right: 2px;
    }

    .pmu-selected &__span-day {
        background: @cl-rtd-back-format-file;
    }

    &__slider-track {
        flex-grow: 1;
        flex-shrink: 0;
        width: 193px;
        overflow: hidden;
    }

    &__slider-list {
        width: 300%;
    }

    &--period {
        .pmu-days .pmu-selected {
            background: @cl-rtd-calendar-back-select;
        }

        .pmu-selected .b-calendar-filter__span-day {
            background: transparent;
        }

        .pmu-start,
        .pmu-finish {
            vertical-align: top;

            .b-calendar-filter__span-day {
                background: @cl-rtd-back-format-file;
            }
        }

        .pmu-start {

            &.pmu-selected {
                background: none;
            }

            &:before {
                content: '';
                background: @cl-rtd-calendar-back-select;
                display: inline-block;
                height: 24px;
                width: 29px;
                margin-right: -27px;
                vertical-align: top;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }

        .pmu-finish {

            &.pmu-selected {
                background: none;
            }

            &:after {
                content: '';
                background: @cl-rtd-calendar-back-select;
                display: inline-block;
                height: 24px;
                width: 29px;
                margin-left: -27px;
                vertical-align: top;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }

    &--slider-nav {
        .pmu-month {
            display: inline-block;
            width: 33.33%;
            vertical-align: middle;
        }

        nav {
            margin-bottom: 6px;
        }
    }

    .pmu-day-of-week,
    .pmu-years,
    .pmu-months {
        display: none;
    }
}