/* 320 + */
.b-calendar-filter {
    width: 100%;
    position: relative;

    .pmu-days {
        padding: 0 33px 0 33px;
    }

    .pmu-instance {
        width: 318px;
        margin: 0px auto;
    }

    nav {
        padding-left: 42px;
        padding-right: 42px;
        border: none;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: 51px;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid @cl-rtd-calendar-border;
        }
    }

    &.js-calendar-one {
        margin-bottom: -3px;
    }

    &.js-calendar-two {
        margin-bottom: 14px;
    }
}