include ../../node_modules/bemto.jade/bemto.jade

//- Используем Project: template footer_main.jade: mixin +footer_main()
include layout/footer
//- Используем Project: Project_layout/header: +header
include layout/header

//- set_bemto_settings({ prefix: 'b-', element: '__', modifier: '--', default_tag: 'div', global_classes_prefix: 'g-' })

block variables
- var requireJS = false

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")
        meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="google" value="notranslate")
        meta(name="format-detection" content="telephone=no")

        block styles
            //- link(href="css/normalize/normalize.css" rel="stylesheet")
            link(href="css/main.css?#{new Date().getTime()}" rel="stylesheet")

        //- jquery подключаем в шапке т.к. какой-то js может быть внутри компонентов
        block scripts
            script(src='js/jquery/jquery.min.js')

        block head
        title= pageTitle || ''
        meta(name='description' content=pageDescription || '')
        meta(name='keywords' content=pageKeywords || '')

        <!--[if lte IE 9]>
        script(src="js/html5shiv/html5shiv.min.js")
        <![endif]-->
    body
        +b.global-wrapper
            //- layout/header
            +header-menu()
            +b.page-wrapper
                +header()
                +b('main').wrapper
                    +e.main
                        block content
                +footer_main()

        if requireJS == true
            - var js_filename = 'config'
            if (typeof(file_name) !== 'undefined')
                - var js_filename = file_name
            script(src="js/require.js?#{new Date().getTime()}" data-main="js/#{js_filename}")
        else
            script(src="js/external.js")
            script(src="js/internal.js")