include ../../node_modules/bemto.jade/bemto.jade

block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")
        meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="google" value="notranslate")
        meta(name="format-detection" content="telephone=no")

        block styles
            //- link(href="css/normalize/normalize.css" rel="stylesheet")
            link(href="css/main.css" rel="stylesheet")

        // jquery подключаем в шапке т.к. какой-то js может быть внутри компонентов
        // block scripts
            //- script(src='js/jquery/jquery.min.js')

        block head
        title= pageTitle || ''
        meta(name='description' content=pageDescription || '')
        meta(name='keywords' content=pageKeywords || '')

        <!--[if lte IE 9]>
        script(src="js/html5shiv/html5shiv.min.js")
        <![endif]-->

    body
        block content