/* 1440 + */
.b-counter-items {
	display: inline-block;
    font-family: @font-base;
    font-size: 18px;
    line-height: 24px;
    color: @cl-font-light;

    &__count {
        margin-right: 5px;
    }
}
