/* 1440 + */
.b-charge {
    width: 380px;
    background-color: @cl-rtd-body-table;
    padding: 28px 20px;
    font-size: 0;

    &__top-line {
        padding-bottom: 20px;

        &:after {
            content: '';
            display: block;
            width: calc(~'100% + 40px');
            height: 1px;
            margin-top: 20px;
            margin-left: -20px;
            margin-right: -20px;
            background-color: @cl-rtd-border-body-table;
        }
    }

    &__error {
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__error-text {
        font-family: @font-base;
        font-size: 18px;
        letter-spacing: -0.2px;
        text-align: center;
        color: @cl-rtd-light;
        text-align: center;
    }
}