/* 1440 + */
.b-choice-size {
    display: inline-block;
    width: 380px;
    padding: 30px 20px; 
    background-color: @cl-rtd-body-table;

    &__description {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-font-light;
        margin: 0;

        &--once {
            margin-top: 10px;
        }
    }

    &__hint {
        display: inline-block;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-font-gray;
        margin-bottom: 9px;
    }

    &__option-hint {
        color: @cl-font-light;
    }

    &--document {
        margin-top: 20px;
    }
}
