/* 320 + */
.b-choice-size {
    width: 100%;
    // min-width: 280px;
    padding: 30px 15px;

    &__hint {
        width: calc(~'100% - 24px');
        margin-bottom: 30px;

        &--mobile-hide {
            display: none;
        }

        &--password {
            margin-bottom: 18px;
        }
    }

    &__option-hint {
        margin-right: 5px;
    }

    &--document {
        margin-top: 30px;
    }
}