/* 1440 + */
.b-statistics-chart {
    width: 220px;
    height: 220px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 28px;

    &__item {
        width: 100%;
        height: 100%;
        display: inline-block;
        margin: 10px;
        transform: rotate(-90deg);
        margin: 0;

        svg {
            border-radius: 50%;
        }

        circle {
            fill: @cl-rtd-back-statistics-chart;
            stroke: @cl-rtd-blue;
            stroke-width: 32;
        }
    }

    &__content {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        width: 164px;
        height: 164px;
        border-radius: 50%;
        background-color: @cl-rtd-body-table;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__time {
        font-family: Arial;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
    }

    &__additional {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-theme-grey;

        &--number {
            margin-bottom: 12px;
            margin-bottom: 12px;
            margin-top: 10px;
        }

        &--date {
            margin-top: 20px;
        }
    }
}