/* 1440 + */

.b-footer {
    width: 100%;
    border-top: 1px solid @cl-rtd-border-body-table;
    padding: 30px 0 45px;

    & .b-container:first-child {
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        width: 240px;
        // margin-left: 65px;
        font-family: @font-base;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.2px;
        text-align: left;
        color: @cl-font-gray;
    }

    &__age {
        margin-right: auto;
        align-self: flex-end;
        font-family: @font-base;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-font-light;
        transform: translateY(5px);
    }

    &__link-wrapper {
        margin-top: 50px;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}