/* 320 + */
/* 1440 + */

.b-footer {
	& .b-container {
		padding: 0 15px;
	}

	&__age {
		margin-right: 0;
		margin-left: auto;
		transform: none;
	}

    &__link-wrapper {
        margin-top: 10px;
        display: block;
    }
}