/* 768 + */
/* 1440 + */

.b-footer {
	// width: 100%;
	// border-top: 1px solid @cl-rtd-border-body-table;
	// padding: 40px 0 50px;

	& .b-container {
		padding: 0 25px;
	}

	&__copyright {
		width: 240px;
		margin-left: 0;
	}

	// &__age {
	// 	margin-right: auto;
 //    	align-self: flex-end;
	// 	font-family: @font-base;
	// 	font-size: 18px;
	// 	line-height: 1.33;
	// 	letter-spacing: -0.2px;
	// 	color: @cl-font-light;
	// }
}