/* 1440 + */
.b-popup-container {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 105;
    background-color: @cl-rtd-popup-background;
    overflow-y: auto;
}