/* 1440 + */
.b-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.02), -4px 0 4px 0 rgba(0, 0, 0, 0.06);
    transition: transform .3s;
    background-color: @cl-rtd-white;

    &.opened {
    	transform: translateX(~'calc(100% - 60px)');
    }

    &.active {
        overflow: hidden;
    }
}