/* 768 + */
.b-tab {

    &__tab-nav-wrapper{
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
    }

    &__wrapper-title {
        &--service {
            margin-top: 10px;
        }
    }

    &__tab-nav-list {
        width: auto;
        // overflow-x: auto;
        overflow: hidden;
        white-space: nowrap;
        flex: 1 0 auto;
        min-width: 100%;
    }

    &__line-block {
        flex-basis: 1px;
    }

    &__new-doc-desktop {
        display: none;
    }

    &__tab-nav-item {
        padding: 0;
        flex: 1 0 auto;
    }

    &__content {
        overflow: hidden;
        padding: 0 0 0 20px;

        &--noscroll {
            padding: 0 20px; 
        }

        &--second-tab {
            padding: 0 18px;
        }

        &--special {
            padding-top: 18px;
            padding-bottom: 30px;
        }
    }

    &__list-of-numbers {

        &--second-tab {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }

    &__link {
        padding: 22px 26px 24px;

        &--title {
            padding: 22px 26px 0;
        }

        &--price {
            padding: 0 26px 24px;
        }
    }

    &__head {

        &--document,
        &--history,
        &--request-history,
        &--service {
            padding: 23px 20px 28px 0;
        }

        &--document {
            .b-tab__column--info {
                justify-content: flex-start;
                margin-top: 10px;
            }

            .b-history-payment {
                padding-top: 0px;
            }
        }

        &--history {
            flex-direction: column;

            & .b-tab__column {
                margin-bottom: 17px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &--service {
            flex-direction: column;
            padding-top: 32px;
        }

        &--gui {
            padding-right: 20px;

            .b-table-sort {
                width: 100%;
            }
        }
    }

    &__column {
        &--content {
            width: 100%;
            flex-basis: 550px;
            padding-right: 0px;
        }

        &--new-tel {
            padding-top: 15px;
        }

        &--statistics {
            margin-top: 35px;
            padding:0px;
        }

        &--pay {
            padding-top: 15px;
            padding-right: 36px;
            margin-left: auto;
        }

        &--footer-low {
            padding-top: 25px;
        }

        &--table-circle {
            padding-right: 0px;
        }

        &--info {
            margin-top: 20px;
        }

        &--payment-page {
            margin-right: -20px;
            flex-grow: 1;
        }
    }

    // &__number-of-documents {
    //     padding-left: 17px;
    // }

    &__service {
        margin: 0 20px 37px 0;
    }

    &__text {

        &--footnote {
            margin-top: -5px;
        }
    }

    &__footer-table-wrapper {
        padding-right: 0px;
        width: 100%;
    }

    &__read-also {
        padding-right: 30px;
    }

    &__status {
        align-self: flex-start;
    }
}