/* 1440 + */
.b-tab {
    &__tab-nav-list {
        display: flex;
        padding: 0;
        border-bottom: solid 1px @cl-rtd-border-body-table;
    }

    &__tab-nav-item {
        // width: 20%;
        // flex: 0 0 20%;
        flex: 1 1 auto;
        list-style-type: none;
        text-align: center;

        &.active {
            position: relative;
            // &:after {
            //     content: '';
            //     position: absolute;
            //     bottom: -1px;
            //     left: 0;
            //     right: 0;
            //     border-bottom: 4px solid @cl-rtd-number-background;
            // }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        font-family: @font-din-medium;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        text-transform: uppercase;
        padding: 23px 0;
        position: relative;
        transition: color 0.3s;

        &--title {
            padding: 18px 0 0;
        }

        &--price {
            padding: 0 0 14px;
            color: @cl-font-light;
            text-transform: none;
        }

        .no-touchevents &:hover {
            color: @cl-rtd-hover-ling-alfa;
        }
    }

    &__list-of-numbers {
        margin-top: 40px;
        font-size: 0;
        margin-bottom: 11px;

        &--second-tab {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__contact-data {
        max-width: 620px;
    }

    &--numbers {
        border-top: 1px solid @cl-rtd-border-body-table;
        border-bottom: 1px solid @cl-rtd-border-body-table;
    }

    &__number {
        display: inline-block;
        vertical-align: middle;
        font-family: @font-din;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.2px;
        color: @cl-Project-white;
        padding: 0 5px;
        border-radius: 2px;
        background-color: @cl-rtd-number-background;
        text-align: center;
        line-height: 16px;
        max-width: 33px;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -9px;
        margin-right: -70px;

    }

    &__content {
        padding: 0 20px;
        position: relative;
        overflow: hidden;
        display: none;

        &.active,
        &--active {
            display: block;
        }

        &--numbers {
            padding: 0 0 0 18px;
            margin-bottom: 37px;
        }

        &--second-tab {
            padding: 0 18px;
            margin-bottom: 35px;
        }

        &--special {
            padding-top: 18px;
            padding-bottom: 30px;
        }
    }

    &__compare {
        margin-bottom: 20px;

        &:hover {
            .b-link--compare {
                opacity: 1;
            }
        }
    }

    &__compare-phone {
        padding: 28px 30px;
        background-color: @cl-rtd-body-table;
        margin-top: 12px;
        margin-bottom: 25px;

        &--without-padding {
            padding: 28px 0 46px 30px;
        }

        &--second-tab {
            margin-top: 20px;
            margin-bottom: 21px;
        }
    }

    &__form-container {
        min-width: 100%;
        border-top: 1px solid @cl-rtd-border-body-table;
        margin-top: 42px;
    }

    &__head {
        display: flex;
        justify-content: space-between;

        &--history,
        &--request-history,
        &--service {
            padding: 45px 0 23px;
        }
        &--document {
            padding: 32px 0 30px;
            flex-wrap: wrap;

            .b-tab__column--info {
                justify-content: flex-end;
                margin-top: 0px;
            }

            .b-history-payment {
                padding-top: 0px;
            }
        }
        &--connect {
            padding: 45px 0 25px;
        }
        &--service {
            align-items: flex-start;
            padding-bottom: 40px;
        }
        &--gui {
            flex-wrap: wrap;
        }
        &--top {
            padding-top: 28px;
        }
        &--toggle {
            display: block;
            padding: 30px 0 40px;
        }
        .b-tab__column--service-details {
            padding-top: 13px;
        }
        .b-tab__column--requested-service {
            margin-top: 55px;
        }

        &--request-history {
            padding-top: 34px;
            padding-bottom: 28px;
        }
    }

    &__head--news-special & {

        &__link-forward {
            margin-left: 18px;
        }
    }

    &__block-link {
        width: 100%;
        text-align: right;

        & a:first-child {
            margin-right: 40px;
        }

        &--info-prospekt {
            width: auto;
            margin-left: auto;

            & a:first-child {
                margin-right: 0px;
            }
        }
    }

    &__container-items {
        display: inline-block;
        min-width: 200px;
        max-height: 170px;
        vertical-align: top;
        overflow-y: hidden;
        font-size: 0;

        &--compare {
            margin-right: 102px;
            margin-bottom: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &--second-tab {
            min-width: 250px;
            margin-right: 60px;
            margin-bottom: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &--numbers {
            margin-right: 73px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }

    &__column {
        display: flex;
        align-items: center;

        &--requested-service {
            align-items: flex-start;
            align-self: flex-start;
        }

        &--no-center {
            flex-direction: column;
            align-items: flex-start;
            // margin-top: 52px;
        }

        &--info {
            margin-top: 44px;
            width: 380px;
            align-items: start;
        }

        &--document {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &--content {
            flex-direction: column;
            align-items: flex-start;
            // width: 60%;
            flex-grow: 1;
            flex-basis: 500px;
            padding: 30px 30px 0 0;
        }

        &--info-block {
            flex-direction: column;
        }

        &--personal-info {
            padding: 75px 0 0 0;
        }

        &--footer {
            flex-wrap: wrap;
            width: 100%;
            padding: 50px 0 50px;
            border-top: 1px solid @cl-rtd-border-body-table;
            margin-top: 35px;
            align-items: flex-start;
        }
        &--footer-low {
            padding-top: 45px;
            padding-bottom: 25px;
        }

        &--new-tel {
            padding-top: 45px;
        }

        &--pay {
            padding-top: 95px;
        }

        &--list-info {
            padding: 40px 0 0;
        }

        &--statistics {
            padding: 0px;
        }

        &--table {
            padding-top: 0;
        }

        &--dropdown {
            padding: 20px 0 0 0;
        }

        &--table-circle {
            padding-right: 30px;
        }

        &--payment-template {
            margin-bottom: 35px;
        }

        &--padding {
            padding-bottom: 28px;
            flex-wrap: wrap;
            width: 100%;
        }

        &--add-dropdown {
            padding-top: 21px;
        }
    }

    &__wrapper-title {
        display: flex;
        align-items: center;

        &--service {
            margin-bottom: 28px;
        }

        &--list-info {
            width: 100%;
            margin-bottom: 0px;

            .b-title {
                width: 100%;
            }
        }

        &--mobile {
            flex-wrap: wrap;
        }
    }

    &__number-of-documents {
        font-family: @font-din;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.6px;
        color: @cl-rtd-account;
        // padding-left: 20px;
    }

    &__link-forward {
        display: inline-block;
        font-family: @font-din-medium;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: -1px;
        color: @cl-rtd-number-background;
        position: relative;
        padding-left: 15px;
        margin-bottom: 15px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 2px;
            background-color: @cl-rtd-number-background;
            width: 2px;
            height: 8px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
            top: 9px;
        }

        &--document {
            width: 100%;
        }

        &--list-info {
            margin-top: 35px;
            margin-bottom: 10px;
        }

        &--service {
            margin-bottom: 11px;
        }
    }

    &__text {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;

        &--footnote {
            margin-top: -12px;
        }

        &--stat {
            margin-left: auto;
        }
    }

    &__service {
        margin-bottom: 42px;
    }

    &__show-more {
        text-align: center;
        margin-bottom: 26px;
    }

    &__order-doc {
        &--service {
            margin: 17px 0 20px;
            width: 100%;
            text-align: right;
        }

        &--connecting {
            align-self: flex-end;
            padding-top: 0;
        }
    }

    &__footer-stat-line {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: @font-din-medium;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -.6px;
        color: @cl-font-gray;
        padding-bottom: 20px;
        justify-content: space-between;

    }

    &__footer-table-wrapper {
        flex-grow: 1;
        flex-basis: 500px;
        padding-right: 60px;
    }

    &__footer-graph-wrapper {
        margin-left: auto;
        width: 380px;
        background-color: aliceblue;
    }

    &__status {
        width: 380px;
        background-color: @cl-rtd-body-table;
        padding: 28px 20px;
        align-self: flex-end;
    }

    &__line-block {
        position: relative;
        height: 4px;
        margin-top: -4px;
    }

    &__line-nav {
        width: 10px;
        position: absolute;
        border-bottom: 4px solid @cl-rtd-number-background;
        height: 4px;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    &__read-also {
        width: 100%;
        padding-left: 18px;
        margin-top: 78px;
        margin-bottom: 12px;
    }
}