/* 320 + */
.b-tab {
    &__tab-nav-item {
        flex: 0 0 auto;
    }

    &__head,
    &__wrapper-title {
        flex-direction: column;
        align-items: flex-start;
    }

    &__column,
    &__order-doc {
        width: 100%;
    }

    &__wrapper-title {
        &--list-info {
            padding: 0px 10px;
        }

        &--service {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    &__column {
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 15px;

        &--service {
            flex-wrap: wrap;
        }

        &--info {
            margin-top: 0;
            // padding-right: 15px;
            // padding-left: 15px;
        }

        &--subscription {
            margin-bottom: 24px;
        }

        &--content,
        &--info-block {
            padding: 30px 15px;
            flex-basis: auto;
        }

        &--footer {
            padding: 30px 15px;
        }

        &--footer-low {
            padding-top: 30px;
            margin-top: 25px;
        }

        &--statistics {
            padding: 0;
        }

        &--dropdown {
           padding: 30px 0;
        }

        &--table {
            margin: 0 -30px;
            width: calc(~'100% + 60px');
        }

        &--pay {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        &--payment-page {
            margin: 0px;
            padding-top: 15px;
            padding-bottom: 0px;
        }

        &--flex-end {
            justify-content: flex-end;
        }
    }

    &__head {
        &--document,
        &--history,
        &--request-history,
        &--service {
            padding: 30px 15px 0;
            flex: 0 0 auto;
        }

        &--history {
            & .b-tab__column {
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 24px;
                }
            }
        }

        &--toggle {
            display: block;
            padding: 30px 15px;
        }

        &--connect {
            margin: 0 15px;
            flex-direction: row;
            align-items: baseline;
            border-bottom: 1px solid @cl-rtd-border-body-table;
            padding: 30px 0 0;
        }

        &--service {
            padding-top: 36px;
        }

        &--gui {
            padding-right: 0px;
        }
    }

    &__link {
        padding: 24px 26px;

        &--title {
            padding: 24px 26px 0;
        }

        &--price {
            padding: 0 26px 24px;
        }
    }

    &__content {
        padding: 0;

        &--special {
            padding-top: 18px;
            padding-bottom: 30px;
        }
    }

    &__number-of-documents {
        padding: 0;
        display: block;
        width: 100%;
    }

    &__subscribe {
        margin-bottom: 18px;
    }

    &__text {
        margin-bottom: 8px;
        margin-right: 19px;

        &--footnote {
            letter-spacing: -.3px;
            margin-right: 0;
        }
    }

    &__service {
        padding: 0 15px;
        margin-right: 0;
    }

    &__footer-table-wrapper {
        width: 100%;
        padding: 0;
        margin-bottom: 25px;

        & .b-table-sort {
            margin-right: 0;
            margin-left: 0;
        }

        & .b-table__table-wrap {
            width: auto;
            min-width: 500px;
            padding-left: 0;
        }
    }

    &__container-items {

        &--numbers {
            margin-right: 0;
        }
    }

    &__status {
        width: 100%;
        padding: 28px 16px;
    }

    &__order-doc {

        &--service {
            margin: 0 0 33px;
            text-align: left;
        }
    }

    &__link-forward {
        &--list-info {
            margin-left: 10px;
        }
    }

    &__block-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .b-link {
            margin-top: 24px;
        }

        &--info-prospekt {
            margin-left: 0;
        }
    }

    &__footer-stat-line {
        flex-wrap: wrap;
    }

    &__head--news-special & {

        &__link-forward {
            margin-left: 0px;
        }
    }

    &__read-also {
        padding-left: 0;
        padding-right: 0;
    }
}