/* 1440 + */
.b-status {
    width: 380px;
    padding: 28px 20px;
    background-color: @cl-rtd-body-table;

    &--flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &--pay {
        padding-top: 13px;
        margin-bottom: 10px;
    }

    &--requested-service {
        padding: 28px 22px;
    }

    &--connect {
        margin-top: 35px;
    }

    &--treatment {
        margin-top: 79px;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 16px 0;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: -0.2px;
        color: @cl-font-gray;
        border-bottom: 1px solid @cl-rtd-border-body-table;

        &--header {
            color: @cl-font-light;
            padding-bottom: 6px;
        }

        &--cost {
            font-weight: bold;
            letter-spacing: normal;
        }

        &--total {
            font-size: 18px;
            padding: 18px 0px;
        }

        &--link {
            border-bottom: none;

            span {
                margin: 0px 3px;
            }

            span:first-of-type {
                margin-left: auto;
            }

            span:last-of-type {
                margin-right: 0px;
            }
        }
    }

    &__title-statistics {
        text-align: center;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -1.2px;
        text-align: center;
        color: @cl-rtd-title;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &__title-additionaly {
        display: block;
        color: @cl-rtd-account;
        font-weight: normal;
        letter-spacing: 0;
    }

    &__value-statistics {
        font-size: 0;
    }

    &__text {
        margin: 20px 0 0;
        font-family: @font-base;
        color: @cl-font-light;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        text-align: center;
    }

    &__link-block {
        width: 100%;
        text-align: center;
        line-height: 0;
        margin-top: 20px;
    }
}