/* 768 + */
.b-input {

    &--form-input {
        width: 436px;
    }

    &--user-data {
        max-width: 400px;
    }

    &--input-default {
        // max-width: 400px;
        max-width: 395px;
        padding: 15px 20px 15px;
    }

    &--input-search {
        max-width: 500px;
        padding: 16px 20px;
    }

    &--input-long {
        max-width: 480px;
    }
    &--search {
        width: 140px;
        padding-right: 24px;

        // &:focus {
        //     margin-top: -16px;
        //     height: 36px;
        // }
    }

    &--search-big {
        max-width: none;
    }
}