/* 1440 + */
.b-input {
    padding: 18px 20px 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    border-color: @cl-rtd-border-body-table;
    border-radius: 2px;

    &--request-footer {
        padding: 16px 20px;
        max-width: 320px;
        margin-right: 40px;
    }

    &--card-num {
        padding: 15px 20px 16px;
    }

    &--long-distance {
        display: inline-block;
        max-width: 420px;
        border-radius: 2px;
    }

    &--form-input {
        width: 438px;
        padding: 17px 20px 17px;
    }

    &--user-data {
        max-width: 480px;
        padding: 18px 20px 16px;
    }

    &--input-default {
        max-width: 480px;
        padding: 16px 20px;
    }

    &--input-long {
        max-width: 480px;
        padding: 16px 20px;
    }

    &--input-search {
        position: relative;
        max-width: 480px;
        padding: 16px 60px 16px 20px;
        color: @cl-rtd-account;
    }

    &--search-big {
        max-width: none;
        border-radius: 2px;
        padding: 16px 20px;
        color: @cl-rtd-account;

        &::-webkit-input-placeholder {
            color: @cl-rtd-account;
        }
        &::-moz-placeholder          {
            color: @cl-rtd-account;
        }
        &:-moz-placeholder           {
            color: @cl-rtd-account;
        }
        &:-ms-input-placeholder      {
            color: @cl-rtd-account;
        }
    }

    &--ui-kit {
        width: 480px;
        padding: 17px 20px 17px;
    }

    &--user-phone {
        max-width: 480px;
    }

    &--size-password {
        padding: 15px;
    }

    &--textarea {
        width: 100%;
        height: 200px;
        padding: 17px 20px;
        resize: none;
    }

    &--comment {
        height: 80px;
    }

    &--card {
        width: 150px;
    }

    &--search {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        // color: @cl-rtd-account;
        padding: 6px 30px 6px 5px;
        height: 32px;
        width: 300px;
        position: static;
        // top: 50%;
        // left: 20px;
        // max-width: 620px;
        overflow: hidden;
        // background-color: @cl-rtd-body-table;
        // z-index: 1;
        // border-color: transparent;
        text-overflow: ellipsis;

        // &:focus {
        //     transition: width .3s;
        //     margin: -16px 0 0 0;
        //     position: absolute;
        //     width: 100%;
        //     background-color: @cl-Project-white;
        //     border-color: @cl-rtd-border-body-table;

        // }

        &::-webkit-input-placeholder {
            color: @cl-rtd-account;
        }
        &::-moz-placeholder          {
            color: @cl-rtd-account;
        }
        &:-moz-placeholder           {
            color: @cl-rtd-account;
        }
        &:-ms-input-placeholder      {
            color: @cl-rtd-account;
        }
    }

    &--desired-number {
        display: inline-block;
        padding: 0px 0px;
        text-align: center;
        width: 41px;
        height: 41px;
        margin-right: 2px;
    }
}