/* 320 + */
.b-input {

    &--form-input {
        width: 280px;
        padding: 17px 20px 15px;
        color: @cl-rtd-account;
        box-sizing: border-box !important;
    }

    &--request-footer {
        max-width: 100%;
        width: 100%;
        margin: 0 0 24px 0;
    }

    &--input-search {
        min-width: 100%;
    }

    &--user-data {
        max-width: 100%;
    }

    &--input-default {
        max-width: 100%;
        padding: 16px 20px;
    }

    &--user-phone {
        max-width: 100%;
    }

    &--input-long {
        max-width: 100%;
    }
    &--search {
        // &:focus {
        //     width: 220px;
        //     margin-top: -16px;
        // }
    }
}