/* 1440 + */
.select2-hidden-accessible {
        display: none;
    }

//блок Select и Выпадашки
.select2-container--tiny {
    position: relative;
    display: inline-block;
    font-family: @font-din-medium;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
    color: @cl-font-blue;
    text-transform: uppercase;
    background-color: transparent;
    flex-shrink: 0;
    border-radius: 2px;

    &.select2-container--open .selection {
        border-radius: 50px;
    }

    // зона клика
    .select2-selection--single {
        width: 100%;
        display: block;
        cursor: pointer;
        border-radius: 2px 2px 0 0;
        background-color: transparent;
        height: 30px;
        padding: 5px 0;

        &[aria-expanded="true"] {
            box-shadow: 4px -2px 6px -1px @cl-rtd-shadow, -4px -2px 6px -1px @cl-rtd-shadow;
            background-color: @cl-rtd-white;
        }
    }

    // Стрелочка вниз/верх
    .select2-selection__rendered {
        padding: 13px 6px;
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            top: -3px;
            left: 40px;
            width: 6px;
            height: 6px;
            border-bottom: 2px solid #00ace9;
            border-left: 2px solid #00ace9;
            border-radius: 2px;
            transform: scaleY(-1) rotate(135deg);
            transition: .3s;
        }
    }

    *:focus {
        outline: 0;
    }
}

// блок option
.select2-container--tiny.select2-container--open {
    z-index: 50;
    border-radius: 2px;

    &:after {
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        display: block;
        position: absolute;
        top: -9px;
        border-radius: 2px;
        z-index: -1;
        background-color: @cl-rtd-white;
        box-shadow: 4px 5px 6px -1px @cl-rtd-shadow, -4px 5px 6px -1px @cl-rtd-shadow;
    }

    &.select2:after {
        display: none;
    }

    &.select2-container--focus {
        &:after {
            display: none;
        }
    }

    .select2-dropdown--below {
        display: block;
    }

    //стрелочка
    & .select2-selection__rendered {
        &:before {
            top: 1px;
            // transform: rotate(135deg);
            transform: scaleY(1) rotate(135deg);
        }
    }

    // Список
    ul.select2-results__options {
        padding: 0;
        line-height: 25px;
        padding: 0 15px;
        border-radius: 0 0 2px 2px;
        background-color: @cl-rtd-white;
    }
    
    // элемент списка
    li.select2-results__option {
        cursor: pointer;
        list-style: none;
        color: @cl-font-light;
    }

    // Выбранный элемент
    li.select2-results__option.select2-results__option--highlighted {
        color: @cl-font-blue;
    }
    li.select2-results__option[aria-selected="true"] {
        display: none;
    }
}


.b-select--gray + .select2-container--tiny {
    background-color: @cl-rtd-body-table;
    margin-left: -14px;
}