/* 1440 + */
.b-global-wrapper {
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // min-height: 100%;
    height: 100%;
    background-color: @cl-rtd-white;
    -webkit-overflow-scrolling: touch;
    transition: transform .3s;
    z-index: 50;

    &.opened {
        position: absolute;
        width: 100%;
    	height: 100%;
        overflow: hidden;
    }
}