/* 1440 + */
.b-radio-button {
    &__label {
        display: inline-block;
        font-family: @font-din;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.1px;
        text-align: left;
        color: @cl-rtd-border;
        border-radius: 2px;
        background-color: @cl-rtd-white;
        border: solid 1px @cl-rtd-border;
        width: 160px;
        height: 52px;
        flex: 0 0 160px;
        text-align: center;
        line-height: 52px;
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s;

        &--tv-button {
            width: 135px;
            flex-basis: 135px;
            font-size: 16px;
        }

        &:hover {
            color: @cl-rtd-light;
            border-color: @cl-rtd-light;
        }

        &:before {
            content: 'Выбрать'
        }
    }

    &__input {
        display: none;

        &:checked+label {
            border: solid 1px @cl-rtd-blue;
            color: @cl-font-blue;

            &:before {
                content: 'Выбран'
            }
        }
    }
}