/* 1440 + */
.b-cards {
    padding: 10px;
    text-align: center;

    &--status {
        margin-top: 10px;
        padding-left: 20px;
    }

    &__item {
        list-style: none;
        display: inline-block;
        width: 50px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-right: 20px;

        &--visa {
        }

        &--mastercard {
        }

        &--mir {
            width: 65px;
        }
    }

    &__image {
        vertical-align: middle;
        max-height: 100%;
    }
}