/* 768 + */
.b-profile-container {
    padding: 34px 18px 29px 20px;

    &__profile-form {
        width: 100%;
        margin-right: 0;
        max-width: none;
    }

    &__profile-asite {
        width: 380px;
        margin-left: 0;
        margin-top: 20px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 26px;
    }

    &__buttons {
        justify-content: flex-start;

        &--password {
            width: 100%;
        }
    }
}