/* 1440 + */
.b-profile-container {
    padding: 34px 18px 29px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__profile-form {
        // width: 620px;
        flex-grow: 1;
        max-width: 620px;
        margin-right: 30px;
    }

    &__profile-asite {
        width: 380px;
        // margin-left: 140px;
        margin-top: 0;
    }

    &__title {
        font-family: @font-din;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.6px;
        color: @cl-rtd-title;
        margin-top: 10px;
        margin-bottom: 24px;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;

        &--password {
            width: 100%;
        }
    }
}