/* 768 + */
.b-pay-account {
    padding-right: 36px;

    &__line {
        padding-right: 0;
    }

    &__close {
        right: -8px;
    }

    &:after {
        // width: calc(~'100% - 40px');
        width: 100%;
    }

    &__currency {
        right: 1px;
    }

    &__error {
        left: 260px;
        margin-left: 0;
    }
}