/* 320 + */
.b-pay-account {
    padding-right: 0;

    &__line {
        flex-wrap: wrap;
        padding-right: 0px;
    }

    &__close {
        right: -8px;
    }

    &:after {
        // width: calc(~'100% - 50px');
        width: 100%;
    }

    &__currency {
        top: auto;
        bottom: 0;
        height: 54px;
    }

    &__error {
        left: 0px;
        top: 107px;
    }
}