/* 1440 + */
.b-pay-account {
    position: relative;
    width: 100%;
    margin-top: 20px;

    &__line {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-right: 110px;
        margin-bottom: 20px;
        position: relative;

        &--error {
            .b-select + .select2-container--select-main {
                border-color: @cl-rtd-payment-error;
            }
        }
    }

    &__close {
        position: absolute;
        right: 65px;
        top: 9px;
        width: 32px;
        height: 32px;
        padding: 8px;
        line-height: 16px;
        font-size: 15px;
        color: @cl-rtd-light;
    }

    &:after {
        content: '';
        display: block;
        width: calc(~'100% - 110px');
        height: 1px;
        background-color: @cl-rtd-border-body-table;
    }

    &--last {
        &:after {
            display: none;
        }

        .b-pay-account__line--error {
            margin-bottom: 45px;
        }
    }

    &__currency {
        position: absolute;
        right: 111px;
        top: 0px;
        display: inline-block;
        height: 100%;
        line-height: 54px;
        vertical-align: middle;
        text-align: center;
        width: 65px;
        letter-spacing: -0.2px;
        color: @cl-rtd-gray;
    }

    &__preload {
        background: url(../../../images/inhtml/oval-4.png) center center no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;

        animation-name: loader;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }

    &--no-border {
        &:after {
            display: none;
        }
    }

    &__error {
        font-family: @font-base;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: @cl-rtd-payment-error;

        position: absolute;
        left: 35%;
        top: 55px;
        margin-left: -39px;
    }

    
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}