@font-face {
    font-family: 'DINPro-Black-Regular';
    src: url('../fonts/DINPro-Black-Regular.eot');
    src: url('../fonts/DINPro-Black-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Black-Regular.woff') format('woff'),
         url('../fonts/DINPro-Black-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Light-Regular';
    src: url('../fonts/DINPro-Light-Regular.eot');
    src: url('../fonts/DINPro-Light-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Light-Regular.woff') format('woff'),
         url('../fonts/DINPro-Light-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Regular';
    src: url('../fonts/DINPro-Regular.eot');
    src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Regular.woff') format('woff'),
         url('../fonts/DINPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium.eot');
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINWebPro-Medium.woff') format('woff'),
         url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}