/* 1440 + */
.b-down-up {
    flex-shrink: 0;
    overflow: hidden;
    // height: auto;
    box-shadow: 0 -3px 20px 0 @cl-rtd-shadow;
    transition: height .3s;

    &__wrapper {
        // box-shadow: 0 -3px 20px 0 @cl-rtd-shadow;

        .b-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &--hidden {
            display: none;
            border-top: 1px solid @cl-rtd-light;

            &.active {
                display: block;
            }
        }
    }

    &__left-side {
        padding: 15px 20px;

        .b-link,
        .b-button {
            margin-right: 40px;
        }
    }

    &__right-side {
        padding: 15px 20px;

        .b-link,
        .b-button {
            margin-left: 40px;
        }
    }

    &__block {
        display: flex;
        padding: 15px 20px;
        align-items: center;
    }
}