//- ====================
//- Project: footer
//- 07-08-2017: Amedomary
//- --------------------
//- Футер страниц
//- ===================

//- используем +feedback-error()
include ../../section/feedback-error.jade

block footer
    - var footerPopUp = false
    - var footerPopUpDropdown = false

mixin footer_main()
    +b('footer').footer
        .b-container
            +e('small').copyright © 2017 ПАО «Ростелеком» Все права защищены
            +e('span').age [18+]
            +feedback-error()
        .b-container
            +link-footer('Аудиоконференция', 'Новая телефония', 'Web-конференция', 'ЦОД', 'Бесплатный вызов 8-800')

    if footerPopUp == true
        +b('div').down-up
            +e.wrapper
                .b-container
                    //- //- 1
                    +e.left-side(style="display:none")
                        a.b-link(href='javascript:void(0)' title='') Скачать выбранные документы
                    +e.right-side(style="display:none")

                    //- //- 2
                    +e.left-side(style="display:none")
                        a.b-link(href='javascript:void(0)' title='') Пополнить счета
                        a.b-link(href='javascript:void(0)' title='') Подключить услугу
                    +e.right-side(style="display:none")
                        +button('Управление группами').--order

                    //- 3
                    +e.left-side
                        a.b-link(href='javascript:void(0)' title='') Заказать детализацию выбранных услуг
                    +e.right-side
                        a.b-link(href='javascript:void(0)' title='') История заказов
                        +button('Подключить услугу').--order
    if footerPopUpDropdown == true
        +footer-popup-dropdown()

mixin link-footer(...items)
    each item in items
        +e.link-wrapper
            +b('a')(href="javascript:void(0);" title="#{item}").link--footer #{item}