//- ====================
//- Project: Rostelecom
//- 02-08-2017: Amedomary
//- --------------------
//- Шапка
//- ====================

//- используем +button(name).--mod
include ../../section/button.jade
//- используем +list-info().--mod
include ../../section/list-info.jade
//- используем +list-profile(preview, ...item).--mod
include ../../section/list-profile.jade
//- используем +hamburger-button().--mod +hamburger-menu().--mod 
include ../../section/hamburger.jade




//- Состояние для мобилки (после пермутейшена) с 320 до 768
mixin header()
    +b('header').header
        +e.top-line
            .b-container.js-premutation-container-top
                //- пермутация 1  из
                //- пермутация 2 в
                +e('a').profile-link.js-premutation-link(href="javascript:void(0)" title='Войти') Личный кабинет юридических лиц
        +e.bot-line
            .b-container.js-premutation-container-bot
                +hamburger-button().js-open-menu
                +e('a').logo-link(href='javascript:void(0)' title='Ростелеком')
                    +e('img').logo(alt='Ростелеком' src='images/inhtml/logo-rt.svg' title='Ростелеком')
                //- пермутация 2 из
                //- пермутация 3 из
                +button('оплата', '').--transparent.--header.js-premutation-button

mixin header-menu()
    +hamburger-menu().js-premutation-burger-menu
        //- пермутация 1  в
        .b-header__top-wrapper.js-premutation-header-wrapper
            a.b-header__phone(href="tel:+78002003000" title="Позвонить") 8-800-200-3000
            div.b-header__back-portal
                a.b-header__portal-link(href="javascript:void(0);" title="Перейти на портал «Ростелеком»") Перейти на&nbsp;портал &laquo;Ростелеком&raquo;
            +list-profile('ООО «АЛЬКОР И К»').--company
            //- mixin list-profile(preview, item, ...items)
            +list-profile('Константинов К. К.', true, 'Управление профилем','Управление структурой', 'Управление подписками', 'Архив операций').--name
        //- пермутация 3 в
        +list-info().js-permutation-list-info