/* 1440 + */
.b-pagination {
	padding: 0;
	font-size: 0;

    &--service {
        margin-bottom: 15px;
    }

    &--special {
        margin-top: 30px;
    }

	&__item {
		display: inline-block;
		min-width: 28px;
		height: 28px;
		vertical-align: top;
		border-radius: 2px;
		background-color: @cl-rtd-pagination;
		font-family: ;
		font-size: 16px;
		letter-spacing: -0.2px;
		line-height: 16px;
		text-align: center;
		margin-right: 12px;
		cursor: pointer;
		transition: .3s;

		&.active {
            background-color: @cl-rtd-pagination-active;

            .b-pagination__link {
                color: @cl-font-white;
            }

			.no-touchevents &:hover,
        	.touchevents &:active {
            	background-color: @cl-rtd-pagination-active;
        	}
		}

		.no-touchevents &:hover,
        .touchevents &:active {
            background-color: @cl-rtd-pagination-hover;
        }

        &:last-child {
            margin: 0;
        }

        &--more-prev,
        &--more-next {
        	font-size: 0;
        	cursor: auto;
        	padding: 7px 5px 5px;

        	.no-touchevents &:hover,
        	.touchevents &:active {
            	background-color: @cl-rtd-pagination;
        	}

            &:before,
            &:after,
            .b-pagination__dot {
            	content: '';
            	display: inline-block;
            	width: 4px;
            	height: 4px;
            	border-radius: 100%;
            	background-color: @cl-rtd-blue;
            	margin-top: 5px;
            }
        }


        .b-pagination__dot {
        	margin: 0 2px;
        }

        &--next .b-pagination__link:before,
        &--prev .b-pagination__link:before {
        	content: '';
        	display: inline-block;
        	position: relative;
    		top: -1px;
    		left: 1px;
        	width: 6px;
        	height: 6px;
        	transform: rotate(45deg);
        	border-bottom: 2px solid @cl-rtd-blue;
        	border-left: 2px solid @cl-rtd-blue;
        	border-radius: 2px;
        }
        &--next .b-pagination__link:before {
        	transform: rotate(-135deg);
        	left: -1px;
        }
	}

	&__link {
		display: inline-block;
		color: @cl-font-blue;
		padding: 7px 5px 5px;
	}
}