/* 768 + */

.b-dropdown-content {
    padding: 14px 0;
    &__column {
        &.first {
            width: 40%;
            margin-right: initial;
        }
    }

    // &__title,
    // &__info {
    //     display: inline-block;
    // }

    &__title {
    //     font-family: @font-base;
        font-size: 14px;
    //     font-weight: bold;
    //     line-height: 1.33;
    //     letter-spacing: -0.2px;
    //     color: @cl-rtd-title;
    }

    &__info {
        // font-family: @font-base;
        font-size: 14px;
        // line-height: 1.33;
        // color: @cl-rtd-account;
        margin-left: 0;
    }

    &__sum {
        // font-family: @font-base;
        font-size: 14px;
        // font-weight: bold;
        // letter-spacing: 0px;
        // color: @cl-rtd-title;
    }

    // &__close {
    //     display: inline-block;
    //     width: 100%;
    //     height: 100%;

    //     span {
    //         font-size: 15px;
    //         line-height: 15px;
    //         color: @cl-rtd-account;
    //     }
    // }
}