/* 1440 + */
.b-dropdown-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @cl-rtd-border-body-table;
    padding: 16px 0;

    &--first {
        border-top: 1px solid @cl-rtd-border-body-table;
        margin-top: 12px;
    }

    &:last-child {
        border: 0;
    }

    &__column {
        padding-right: 5px;

        &.first {
            width: 58%;
            margin-right: auto;
        }

        &.second {
            width: 13%;
        }

        &.third {
            width: 17%;
        }

        &.four {
            width: 10%;
        }

        &.five {
            width: 2%;
            padding-right: 0;
        }
    }

    &__title,
    &__info {
        display: inline-block;
    }

    &__title {
        font-family: @font-base;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
    }

    &__info {
        font-family: @font-base;
        font-size: 18px;
        line-height: 1.33;
        color: @cl-rtd-account;
        margin-left: 17px;
    }

    &__sum {
        font-family: @font-base;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0px;
        color: @cl-rtd-title;
    }

    &__close {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: right;

        span {
            font-size: 15px;
            line-height: 15px;
            color: @cl-rtd-account;
        }
    }
}