/* 320 + */
.b-dropdown-content {

    &--two-column {
        .b-dropdown-content__column {
            &.first {
                width: 50%;
                .b-dropdown-content__title--two-column {
                    word-wrap: break-word;
                }
            }

            &.third {
                width: 40%;
                & .b-dropdown-content__sum {
                    word-wrap: break-word;
                }
            }

            &.five {
                width: 6%;
            }
        }
    }

    &__sum {
        text-align: right;
    }
}