/* 1440 + */
.b-expanding-block {
    display: flex;
    font-family: @font-base;
    color: @cl-font-light;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: left;
    width: 480px;
    margin: 10px 0;

    &__dots {
        flex-grow: 1;
        background-image: url(/images/inhtml/dot.svg);
        background-repeat-x: repeat;
        background-repeat-y: no-repeat;
        background-position: 0 calc(~'100% - 6px');
        min-width: 30px;
        margin: 0 7px 0 4px;
    }
}