/* 768 + */
.b-modal {
    &--contacting {
        width: 722px;
    }

    &--selected-number {
        .b-modal__title {
            font-size: 24px;
        }
    }

    &--payment,
    &--phone-choice {
        width: 722px;
    }

    &__head-contain {
        padding: 15px 20px 19px;
    }

    &--payment {
        .b-modal__head-contain {
            padding: 15px 20px 19px;
        }
    }

    &--select-list {
        .b-popup-content {
            padding: 28px 0 20px 19px;
        }

        .b-modal__head-contain {
            padding: 15px 20px 19px;
        }

        .b-modal__title {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.6px;
        }
    }
    
    &--tariff-selection-mobile {
        width: calc(~"100% - 48px");
    }
}