/* 1440 + */
.b-modal {
    display: inline-block;
    position: relative;
    width: 742px;
    min-width: 300px;
    border: 1px solid @cl-rtd-border-body-table;
    display: block;
    margin: 30px auto;
    background-color: @cl-rtd-white;
    z-index: 106;

    &--new-phone,
    &--tariff-selection-mobile,
    &--phone-choice {
        max-width: 1180px;
        width: calc(~'100% - 20px');
        margin: 30px auto;

        .b-modal__head-contain {
            justify-content: space-between;
        }
    }

    &--select-list {
        .b-popup-content {
            padding: 28px 0 28px 19px;
        }
    }
    &--service {
        max-width: 1180px;
        width: calc(~'100% - 20px');
    }

    &--phone-setting {
        max-width: 1180px;
        width: calc(~"100% - 20px");
    }

    &--phone-setting {
        min-height: 615px;
    }

    // price добавляет  надпись НДС под попап
    &--price {
        margin-bottom: 95px;
    }

    &--table-setting {
        width: calc(~"100% - 20px");
        max-width: 420px;
    }

    &__price {
        position: absolute;
        bottom: -35px;
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-font-light;
    }

    &__close-btn {
        width: 59px;
        height: 59px;
        background-color: @cl-rtd-blue;
        padding: 19px 15px;
        text-decoration: none;

        & .icon-close {
            text-decoration: none;
            color: @cl-rtd-exit-icon;
            font-size: 28px;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 60px;
        border-bottom: 1px solid @cl-rtd-border-body-table;

        &--underline {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 50%;
                height: 4px;
                background-color: @cl-rtd-blue;
            }
        }

        &--underline-full {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
                background-color: @cl-rtd-blue;
            }
        }
    }

    &__title {
        font-family: @font-din;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.6px;
        color: @cl-rtd-title;
        flex-grow: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 15px;
        max-width: 100%;
    }

    &__navigation-field {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
        font-family: @font-din;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.6px;
        color: @cl-rtd-account;
        flex-shrink: 0;
    }

    &__head-contain {
        flex-grow: 1;
        display: flex;
        width: 80%;
        padding: 15px 20px 5px;
        justify-content: space-between;
    }

}