/* 320 + */
.b-modal {
    width: 100%;

    &__title {
        font-family: @font-base;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.2px;
        flex-grow: 0;
        font-weight: bold;
        padding-right: 0;
    }

    &--selected-number {
        .b-modal__head-contain {
            padding: 16px 21px 19px 14px;
        }
    }

    &--payment {
        .b-modal__head-contain {
            padding: 29px 21px 19px 13px;
        }
    }

    &--select-list {
        .b-modal__head-contain {
            padding: 17px 21px 16px 13px;
        }
        .b-modal__title {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.2px;
        }
        .b-popup-content {
            padding: 30px 15px 20px 14px;
        }
    }

    &__navigation-field {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    &__heading {
        height: 83px;

        &--underline {
            display: flex;
            justify-content: space-between;

            &:after {
                width: 50%;
            }
        }
    }

    &__close-btn {
        width: 59px;
        height: 82px;
        padding: 31px 16px;
    }

    &__head-contain {
        flex-grow: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 15px 21px 19px 20px;
        width: calc(~"100% - 59px");
    }
}