/* 1440 + */
.b-natification-setting {
    width: 380px;
    background-color: #f7f8f8;
    margin-top: 20px;
    margin-bottom: 28px;
    padding: 28px 20px 13px;

    &--new-phone {
        margin-top: 12px;
    }

    &__title {
        display: block;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.6px;
        font-weight: bold;
        color: @cl-rtd-title;
        margin: 0 0 19px;

        &--adress {
            margin-bottom: 20px;
        }
    }

    &__text {
        display: block;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        margin-bottom: 20px;
    }

    &__adress {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        margin-bottom: 15px;
        margin-right: -20px;

        &:hover {
            .b-link--adress {
                font-weight: bold;
            }

            .b-natification-setting__close-btn {
                opacity: 1;
                transition: 0.3s;
            }
        }
    }

    &__close-btn {
        align-self: center;
        font-size: 17px;
        padding: 5px;
        margin-right: 9px;
        color: @cl-rtd-light;
        opacity: 0;
        transition: 0.3s;
    }
}