/* 320 + */
.b-popup-content {
    padding: 28px 15px;

    &--table-setting {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    &__request-heading {
        font-size: 24px;
        line-height: 23px;
        letter-spacing: -0.6px;
        margin: 120px auto 15px;

        &--order {
            font-size: 20px;
        }

        &--mobile {
            font-size: 21px;
        }
    }

    &__buttons {

        &--newappeal {
            flex-direction: column;
            margin-top: 115px;
            margin-bottom: 0;
        }

        &--new-phone {
            flex-direction: column;
            margin-left: -15px;
            margin-right: -15px;
            width: calc(~'100% + 30px');
        }

        &--list {
            margin-top: 26px;
            width: calc(~'100% + 30px');
        }

        &--compare {
            margin-top: 25px;
        }

        &--numbers {
            padding: 28px 0 0 0;
            margin: 0px;
        }

        &--between {
            flex-direction: column;
            align-items: left;
        }
    }

    &__request-text {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.43px;
        max-width: 229px;
        text-align: center;
    }

    &__column-left {
        min-width: 100%;
    }

    &__column-right {
        width: 310px;
        max-width: 100%;
    }

    &__header {
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
    }

    &__heading {
        &--status {
            margin-bottom: 15px;
        }
    }

    &__link-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__footer {
        &--between {
            flex-wrap: wrap;
            min-height: 100px;
        }
    }

    &__footer-setting {
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}