/* 768 + */
.b-popup-content {

    &--tariff-selection-mobile {
        padding: 38px 20px 22px;
    }

    &__heading {
        display: none;

        &--status {
            display: block;
        }
    }

    &__request-heading {
        margin: 98px auto 27px;
    }

    &__buttons {

        &--newappeal {
            margin-top: 46px;
            margin-bottom: 107px;
        }
    }

    // &__request-text {
    //     text-align: left;
    // }

    &__column-left {
        // width: 700px;
        min-width: 100%;
    }

    &__column-right {
        width: 380px;
        margin-left: 0;
    }
}