/* 1440 + */
.b-popup-content {
    padding: 28px 20px;

    &--service {
        position: relative;

        &::before {
            display: block;
            content: '';
            position: absolute;
            bottom: 108px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: @cl-rtd-border-body-table;
        }
    }

    &--error-message {
        padding: 21px 20px 24px;
    }

    &--table-setting {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    &--password-service {
        padding-top: 0;
    }

    &__header {
        width: 100%;
        display: flex;
        position: relative;
        margin-bottom: 18px;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        background: @cl-rtd-body-table;
        padding: 15px 20px;
    }

    &--new-phone-popup {
        align-self: center;
    }

    &__heading {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;
        margin: 0 0 20px;
        font-weight: bold;

        &--service {
            margin-bottom: 16px;
        }

        &--status {
            margin: 0px;
        }
    }

    &__popup-heading {
        font-family: @font-din-light;
        font-size: 32px;
        letter-spacing: -0.1px;
        color: @cl-rtd-title;
        margin: 96px 187px 16px;
    }

    &__column-container {
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }

    &__column-left {
        width: 700px;
        flex: 6 1 0;
    }

    &__column-right {
        width: 380px;
        flex: 3 1 0;
        margin-left: 20px;
    }

    &__popup-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: @cl-rtd-account;
        margin: 16px 124px;
    }

    &--numbers {
        padding: 28px 0;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 96px;

        &--newappeal {
            margin-top: 46px;
            margin-bottom: 66px;
            flex-direction: row;
        }

        &--new-phone {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(~'100% + 40px');
            margin-top: 30px;
            margin-bottom: 0;
            justify-content: space-between;
            flex-direction: row;
            border-top: 1px solid @cl-rtd-border-body-table;
            padding: 30px 20px 0;
        }

        &--contact {
            margin-top: 18px;
        }


        &--order {
            justify-content: flex-start;
            margin-top: 132px;
            margin-bottom: 15px;
        }

        &--mobile {
            justify-content: flex-start;
            margin-top: 135px;
            margin-bottom: 16px;
        }

        &--numbers {
            padding: 0px 20px;
            justify-content: flex-end;
        }
    }

    &__link-back {
        &--order-doc {
            margin-bottom: 20px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;

        &--between {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(~'100% + 40px');
            margin-top: 35px;
            margin-bottom: 0;
            justify-content: space-between;
            flex-direction: row;
            border-top: 1px solid @cl-rtd-border-body-table;
            padding: 30px 20px 0;
            align-items: center;
        }

        &--list {
            margin-top: 35px;
            width: calc(~'100% + 20px');
        }

        &--compare {
            margin-top: 35px;
        }

        &--numbers {
            justify-content: flex-end;
            margin: 0;
            padding: 28px 18px 0 20px;
        }
    }

    &__request-heading {
        font-family: @font-din-light;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -1px;
        color: @cl-rtd-title;
        text-align: center;
        margin: 55px auto 15px;

        &--order {
            margin-top: 112px;
            margin-bottom: 25px;
        }
    }

    &__link {
        text-align: center;

        &--mobile {
            min-width: 100%;
            text-align: center;
            margin-top: 127px;
            margin-bottom: 43px;
        }
    }

    &__request-text {
        font-family: @font-base;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.3px;
        color: @cl-rtd-account;
        text-align: center;
        margin: 0 auto;
    }

    &__footer {
        line-height: 0px;
        text-align: right;

        &--between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--request-second {
            margin-top: 40px;
        }
    }

    &__input-block {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 38px;
    }

    &__footer-setting {
        margin-left: -20px;
        margin-right: -20px;
        padding: 20px 20px 0px;
        border-top: 1px solid @cl-rtd-border-body-table;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--add-info {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__button-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__note {
        font-family: @font-base;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.2px;
        color: @cl-rtd-light;
        margin-top: 19px;
    }

    &__scroll-checkbox {
        overflow: hidden;
        position: relative;
        max-height: 305px;

        &--max {
            height: 138px;
            padding-top: 13px;
        }
    }

    &__text-question {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: 0.2px;
        color: @cl-font-gray;
        margin-top: 23px;

        &--margin {
            margin-top: 0;
            padding-right: 30px;
            margin-bottom: 38px;
        }
    }

    &__footer-info {
        font-family: @font-base;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: 0.2px;
        color: @cl-font-light;
        margin-bottom: 20px;
    }
}