//- ====================
//- Project: 404
//- 00-00-2017: author
//- --------------------
//- 404 страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Модифицируем base
block variables
    - var file_name = '404'

//- Модифицируем head
block head
    - var pageTitle = 'Страница не найдена';

//- Выводим content
block content
    //- Используем page404.jade: mixin +page404()
    //- +page404()