//- ====================
//- Project: RT
//- 04-09-2017: MynameisIM
//- --------------------
//- Попап 8-800-numbers-1-2
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Выбор номера. Бесплатный вызов (8-800)';

//- Выводим content
block content
    //- mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal("Выбор номера", false, "", "Бесплатный вызов (8-800)", true, "", false, "").--new-phone.--numbers
        +b("form").form(action='', method='post' novalidate)
            +e.group--numbers
                +label("label-test-id", "Подбор номера").--new-phone
                +e.validator--numbers
                    +input("label-test-id", "text", "--input-search", "")
                    +button("", "search").--search.--input-search
                        span.icon-search
                +e.container-search
                    +e('h4').title Искать
                    +select-numbers('В конце номера','В конце номера','В конце номера').--numbers
        +b("form").form(action='', method='post' novalidate)
            +tab-type-of-number()
                +e.content--numbers.js-tab-content.active(data-tab-content="1")
                    +b.checkbox-list
                        +e.column
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-1", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-2", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-3", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-4", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-5", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                        +e.column
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-6", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-7", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-8", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-9", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-10", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                        +e.column
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-11", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-12", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-13", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-14", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-15", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                        +e.column
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-16", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-17", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-18", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-19", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                            +e.compare
                                +checkbox("checkbox", "id-for-phone-20", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить

                    +b('a').link--new-phone(href="javascript:void(0);" title="") Обновить список номеров
                    +b('a').link--new-phone(href="javascript:void(0);" title="") Сравнить номера
                +e.content--numbers.--second-tab.js-tab-content(data-tab-content="2")
                    +e.compare-phone--second-tab
                        +title-h2("Сравнение номеров").--compare-phone
                        +counter("12", "номеров")
                        
                        +b.checkbox-list--scroll
                            +e.column
                                +e.compare
                                    +checkbox("checkbox", "id-for-phone-1", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                                +e.compare
                                    +checkbox("checkbox", "id-for-phone-2", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                                +e.compare
                                    +checkbox("checkbox", "id-for-phone-3", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                                +e.compare
                                    +checkbox("checkbox", "id-for-phone-4", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                            +e.column
                                +e.compare
                                    +checkbox("checkbox", "id-for-phone-5", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                                +e.compare
                                    +checkbox("checkbox", "id-for-phone-6", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                    +b('a').link--new-phone(href="javascript:void(0);" title="") Обновить список номеров
                    +b('a').link--new-phone(href="javascript:void(0);" title="") Сравнить номера
                +e.content--numbers.js-tab-content(data-tab-content="3")
                +e.content--numbers.js-tab-content(data-tab-content="4")
                +e.content--numbers.js-tab-content(data-tab-content="5")
                +e.content--numbers.js-tab-content(data-tab-content="6")
        +price-number()
        +e.buttons--numbers
            +button-1("Добавить к заказу").--orange.--numbers