//- ====================
//- RTD: accounts-error-message
//- 12-10-2017: VD
//- --------------------
//- Попап: Сообщение об ошибке на сайте
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Модифицируем base
block variables
    //- - var NameVar = true

//- Модифицируем head
block head
    - var pageTitle = 'Сообщение об ошибке на сайте';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Сообщение об ошибке на сайте', false, '', '', true, '', false, '').--error-message

        +b("form").form(action='/', method='get')
            +e.group
                //- mixin label(id, labet_title)
                +label('error-message-text', 'Часть текста, где есть ошибка').--form-label-textarea
                +textarea('error-message-text').--comment

            +e.group
                //- mixin label(id, labet_title)
                +label('error-message-comment', 'Комментарий').--form-label-textarea
                +textarea('error-message-comment')

        +e.footer
            +b('button').button--orange Отправить