//- ====================
//- RTD: calendar
//- 26-09-2017: VD
//- --------------------
//- Фильтр календарь
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- Модифицируем head
block head
    - var pageTitle = 'Календарь';

//- Выводим content
block content
    +calendar()
        //- Begin: Дата
        +e.content.js-tab-content-calendar.active(data-tab-content="calendar-1")
            form(method="get" action="./")
                +e.wrapper-left
                    +b.calendar-filter.js-calendar
                    +button-calendar()

                +e.wrapper-right
                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-date-current-month-3',
                        'name': 'period-check',
                        'text': 'Текущий месяц'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-date-last-month-3',
                        'name': 'period-check',
                        'text': 'Прошлый месяц'
                    }]}).js-area-temp

                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-date-current-quarter-3',
                        'name': 'period-check',
                        'text': 'Текущий квартал'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-date-last-quarter-3',
                        'name': 'period-check',
                        'text': 'Прошлый квартал'
                    }]}).js-area-temp

                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-date-this-year-3',
                        'name': 'period-check',
                        'text': 'Текущий год'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-date-last-year-3',
                        'name': 'period-check',
                        'text': 'Прошлый год'
                    }]}).js-area-temp

        //- End: Дата

        //- Begin: Период
        +e.content.js-tab-content-calendar(data-tab-content="calendar-2")
            form(method="get" action="./")
                +e.wrapper-left
                    +b.calendar-filter--period.js-calendar-one
                    +button-calendar()

                +e.wrapper-left
                    +b.calendar-filter--period.js-calendar-two
                    a(href="javascript:void(0)" title="Прошлый год" class="b-button b-button--transparent b-button--period-calendar") Прошлый год

        //- End: Период

        //- Begin: Месяц
        +e.content.js-tab-content-calendar(data-tab-content="calendar-3")
            form(method="get" action="./")
                +e.wrapper-left.js-area-month
                    //- TODO: Добавить слайдер месяца Макса. Только зачем он там нужен уточнить у клиента. У Макса много лишнего функционала в js-ке, js-ку нужно почистить от лишнего и сделать только слайдер для месяца и всё.
                    +slider-year()
                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-january-3',
                        'name': 'month',
                        'text': 'Январь'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-february-3',
                        'name': 'month',
                        'text': 'Февраль'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-march-3',
                        'name': 'month',
                        'text': 'Март'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-april-3',
                        'name': 'month',
                        'text': 'Апрель'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-may-3',
                        'name': 'month',
                        'text': 'Май'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-june-3',
                        'name': 'month',
                        'text': 'Июнь'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-jule-3',
                        'name': 'month',
                        'text': 'Июль'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-august-3',
                        'name': 'month',
                        'text': 'Август'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-september-3',
                        'name': 'month',
                        'text': 'Сентябрь'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-october-3',
                        'name': 'month',
                        'text': 'Октябрь'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-november-3',
                        'name': 'month',
                        'text': 'Ноябрь'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-december-3',
                        'name': 'month',
                        'text': 'Декабрь'
                    }]}).--month
                    +button-calendar()

                +e.wrapper-right.js-area-temporary
                    //- TODO: в этом периоде js класс для валидации добавить
                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-month-current-month-3',
                        'name': 'month-period-check',
                        'text': 'Текущий месяц'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-month-last-month-3',
                        'name': 'month-period-check',
                        'text': 'Прошлый месяц'
                    }]})

                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-month-current-quarter-3',
                        'name': 'month-period-check',
                        'text': 'Текущий квартал'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-month-last-quarter-3',
                        'name': 'month-period-check',
                        'text': 'Прошлый квартал'
                    }]})

                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-month-this-year-3',
                        'name': 'month-period-check',
                        'text': 'Текущий год'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-month-last-year-3',
                        'name': 'month-period-check',
                        'text': 'Прошлый год'
                    }]})
        //- End: Месяц

        //- Begin: Квартал
        +e.content.js-tab-content-calendar(data-tab-content="calendar-4")
            form(method="get" action="./")
                +e.wrapper-left.js-area-month
                    //- TODO: добавить слайдер месяца
                    +slider-year()
                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-first-quarter-3',
                        'name': 'quarter',
                        'text': 'I КВ'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-second-quarter-3',
                        'name': 'quarter',
                        'text': 'II КВ'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-third-quarter-3',
                        'name': 'quarter',
                        'text': 'III КВ'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-fourth-quarter-3',
                        'name': 'quarter',
                        'text': 'IV КВ'
                    }]}).--month

                    +button-calendar()

                +e.wrapper-right.js-area-temporary
                    //- TODO: в этом периоде js класс для валидации добавить
                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-quarter-current-month-3',
                        'name': 'quarter-period-check',
                        'text': 'Текущий месяц'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-quarter-last-month-3',
                        'name': 'quarter-period-check',
                        'text': 'Прошлый месяц'
                    }]})

                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-quarter-current-quarter-3',
                        'name': 'quarter-period-check',
                        'text': 'Текущий квартал'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-quarter-last-quarter-3',
                        'name': 'quarter-period-check',
                        'text': 'Прошлый квартал'
                    }]})
        //- End: Квартал

        //- Begin: Год
        +e.content.js-tab-content-calendar(data-tab-content="calendar-5")
            form(method="get" action="./")
                +e.wrapper-left
                    //- TODO: добавть слайдер месяца
                    +slider-year()
                    +button-calendar()

                +e.wrapper-right
                    +period({ 'items': [{
                        'type': 'checkbox',
                        'id': 'id-year-this-year-3',
                        'name': 'year-period-check',
                        'text': 'Текущий год'
                    }, {
                        'type': 'checkbox',
                        'id': 'id-year-last-year-3',
                        'name': 'year-period-check',
                        'text': 'Прошлый год'
                    }]})
        //- End: Год