//- ====================
//- Project: RT
//- 16-08-2017: MynameisIM
//- --------------------
//- Попап change-password
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Смена пароля';



//- Выводим content
block content
    +modal("Смена пароля","", "", "", true, "", false, "").--contacting
        +b("form").form(action='', method='post')
            +e.group--select
                +label("old-password", "Старый пароль").--form-label
                +e.validator
                    +input("old-password", "password", "--input-default", "")
            +e.group--password-check
                +label("new-password", "Новый пароль").--form-label.--new-password
                +e.validator
                    +input("new-password", "password", "--input-default", "")
                    +e.password-help
                        +e('span').password-recomendation Длина пароля от 6 до 12 символов
                        +e('span').password-recomendation.js-condition-match Содержит заглавную букву
                        +e('span').password-recomendation Содержит строчную букву
            +e.group--select
                +label("repeat-password", "Подтверждение пароля").--form-label
                +e.validator
                    +input("repeat-password", "password", "--input-default", "")
            +e.buttons--password
                +b('a').link--abort-pass(href="javascript:void(0);" title="") Отменить
                +b('button').button.--orange.--pass-save Сохранить