//- ====================
//- Project: RT
//- 10-11-2017: VD
//- --------------------
//- Попап change-password-service
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Смена пароля для доступа к услуге';



//- Выводим content
block content
    +modal("Смена пароля для доступа к услуге","", "", "", true, "", false, "").--contacting.--password-service

        +b.info-setting.--password-service
            +e('p').text.--password-service Внимание! Подтверждение ввода нового пароля для доступа к услуге влечет за собой изменение пароля на оборудовании. После ввода нового пароля, измените вручную пароль на роутере и/или приставке в зависимости от типа цслуги.

        +b("form").form(action='', method='post')
            +e.group--select
                +label("old-password-service", "Старый пароль").--form-label
                +e.validator
                    +input("old-password-service", "password", "--input-default", "")
            +e.group--password-check
                +label("new-password-service", "Новый пароль").--form-label.--new-password
                +e.validator
                    +input("new-password-service", "password", "--input-default", "")
                    +e.password-help
                        +e('span').password-recomendation Длина пароля от 6 до 12 символов
                        +e('span').password-recomendation.js-condition-match Содержит заглавную букву
                        +e('span').password-recomendation Содержит строчную букву
            +e.group--select
                +label("repeat-password-service", "Подтверждение пароля").--form-label
                +e.validator
                    +input("repeat-password-service", "password", "--input-default", "")
            +e.buttons--password
                +b('a').link--abort-pass(href="javascript:void(0);" title="") Отменить
                +b('button').button.--orange.--pass-save Сохранить