//- ====================
//- RTD: choice-additional-services
//- 19-10-2017: VD
//- --------------------
//- Попап "Выбор дополнительных услуг" - Мобильная связь
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Выбор дополнительных услуг - Мобильная связь';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Выбор дополнительных услуг', false, '', 'Мобильная связь', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Услуга',
                'modif': '--first'
            },
            {
                'name': 'Описание',
                'modif': '--second'
            }
        ]}).--choice-additional-services
            //- 1
            +tariff-item('choice-additional-services', 'id-choice-additional-services-1', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Автоматический определитель номера (АОН)', '', true)

                +e.tariff-name.--second
                    +e('p').text Услуга решает задачу подключения телефона в офис

            +tariff-dropdown().--virtual-office-one.js-tariff-dropdown
                +e('div').text-only
                    +e('p').paragraph Для того, чтобы на дисплее отражалось имя абонента, в телефонную книгу номер следует вносить в федеральном формате: +7 (код города) XXXXXX или +7 (код сети) XXXXX
                    +e('p').paragraph Услуга активируется автоматически на всех тарифных планах при подключении.
                    +e('p').paragraph Услуга бесплатная.

            //- 2
            +tariff-item('choice-additional-services', 'id-choice-additional-services-2', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Антиопределитель номера', '', true)

                +e.tariff-name.--second
                    +e('p').text Услуга позволяет скрыть определение Вашего номера мобильного телефона при звонке на номера других абонентов.

            +tariff-dropdown().--virtual-office-one.js-tariff-dropdown
                +tariff-read-more({'items': [
                    {
                        'name': 'Стоимость услуги',
                        'price': '0 руб'
                    },
                    {
                        'name': 'Архивный почтовый ящик',
                        'price': '0 руб'
                    },
                    {
                        'name': 'Ресурсный почтовый ящик',
                        'price': '3,70 руб./сутки'
                    }
                ]})

            //- 3
            +tariff-item('choice-additional-services', 'id-choice-additional-services-3', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Информер', '', true)

                +e.tariff-name.--second
                    +e('p').text Услуга разработана специально для случаев, когда на счете закончились деньги, а Вам срочно нужно позвонить или отправить SMS.

            +tariff-dropdown().--virtual-office-one.js-tariff-dropdown

            //- 4
            +tariff-item('choice-additional-services', 'id-choice-additional-services-4', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Персональный счет', '', true)

                +e.tariff-name.--second
                    +e('p').text Услуга позволяет воспользоваться услугами мобильной связи при исчерпании кредитного лимита за счет средств самого абонента (пользователя).

            +tariff-dropdown().--virtual-office-one.js-tariff-dropdown

            //- 5
            +tariff-item('choice-additional-services', 'id-choice-additional-services-5', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Об услуге SMS', '', true)

                +e.tariff-name.--second
                    +e('p').text Обменивайтесь письмами с мобильного телефона! Отправлять и получать SMS могут все абоненты Ростелеком.

            +tariff-dropdown().--virtual-office-one.js-tariff-dropdown

            //- 6
            +tariff-item('choice-additional-services', 'id-choice-additional-services-6', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Об услуге MMS', '', true)

                +e.tariff-name.--second
                    +e('p').text MMS является ступенью эволюции технологий обмена сообщениями в сетях сотовой связи и является логическим продолжением технологии SMS.

            +tariff-dropdown().--virtual-office-one.js-tariff-dropdown

            //- 7
            +tariff-item('choice-additional-services', 'id-choice-additional-services-7', false, true).--choice-additional-services
                //- mixin name-tariff(name, additional, link)
                +name-tariff('Прямой городской номер', '', true)

                +e.tariff-name.--second
                    +e('p').text Ваш городской номер смогут легко запомнить, Вам звонят на городской, Вы отвечаете с мобильного.

            +tariff-dropdown().--set-points.js-tariff-dropdown
                +e.set-points
                    +e('p').text Выберите муниципальное образование
                    +select-filter-document().--choice-additional-services
                        +option('Выберите МО')
                        +option('Выберите МО-2')
                        +option('Выберите МО-3')

                +e.set-points.--width
                    +e('p').text Укажите последние 4 цифры желаемого номера
                    //- input(id, input_type, input_class, placeholder)
                    +input-max('desired-number-1', 'text', '', '').--desired-number
                    +input-max('desired-number-2', 'text', '', '').--desired-number
                    +e('span').hyphen - 
                    +input-max('desired-number-3', 'text', '', '').--desired-number
                    +input-max('desired-number-4', 'text', '', '').--desired-number

                +e.set-points
                    +e('p').text Выберите тип нового номера
                    //- radio(name, id, title, modificator, checked)
                    +radio('set-points', 'set-points-radio-1', 'Обычный', '--choice-additional-services', '')
                    +radio('set-points', 'set-points-radio-2', 'Серебрянный', '--choice-additional-services', '')
                    +radio('set-points', 'set-points-radio-3', 'Золотой', '--choice-additional-services', '')
                    +radio('set-points', 'set-points-radio-4', 'Платиновый', '--choice-additional-services', '')

                +e.set-points.--width
                    +e('p').text Выберите понравившийся номер телефона
                    +e.like-number
                        //- checkbox-span(name, id, title, modificator, mark)
                        +checkbox-span('liked-number', 'liked-number-1', '8 (999) 200-', '--choice-additional-services', '12-12')
                        +checkbox-span('liked-number', 'liked-number-2', '8 (999) 200-', '--choice-additional-services', '12-12')
                        +checkbox-span('liked-number', 'liked-number-3', '8 (999) 200-', '--choice-additional-services', '12-12')
                        +checkbox-span('liked-number', 'liked-number-4', '8 (999) 200-', '--choice-additional-services', '12-12')
                        +checkbox-span('liked-number', 'liked-number-5', '8 (999) 200-', '--choice-additional-services', '12-12')
                        +checkbox-span('liked-number', 'liked-number-6', '8 (999) 200-', '--choice-additional-services', '12-12')

        +e.footer--between
            a(href="javascript:void(0)" title="Вернуться к выбору пакета интернета").b-link.b-link--start Вернуться к выбору пакета интернета
            a(href="javascript:void(0)" title="Добавить к заказу").b-button.b-button--orange.b-button--tariff Добавить к заказу