//- ====================
//- Project: RT
//- 30-08-2017: Mell.Blimm
//- --------------------
//- Попап request/choose clients
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Выбор клиента';

//- Выводим content
block content
    +b('div').kek
        +e('a').link.js-popup-link(href="javascript:void(0);" title="") Открыть попап
    +modal("Выбор подразделения","", "", "", true, "").js-popup-container
        +b("form").form(action='', method='post' novalidate)
            +e.group--full
                +e.validator
                    +input("organisation", "input", "--input-default --search-big", "Введите организацию")
                +button("Найти").--blue.--find.js-validator-check

        +e.header
            +e('h2').heading--status Организация
            +e.link-block
                +b('a').link--status(href="javascript:void(0);" title="") Обновить
                +b('a').link--status.js-accordion-close(href="javascript:void(0);" title="") Свернуть все

        //- accordion(info) //true чтобы вывести сразу список
        +accordion(true)