//- ====================
//- RTD: classic-phone-2-1
//- 28-08-2017: amedomary
//- --------------------
//- Попап "выбор тарифа" classic-phone-2-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Выбор тарифа местная телефонной связи';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор тарифа местная телефонной связи', true, '', 'Классическая телефония', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Тариф',
                'modif': '--first'
            },
            {
                'name': 'Количество доп. услуг',
                'modif': '--second'
            },
            {
                'name': 'Предоплаченые минуты',
                'modif': '--third'
            },
            {
            'name': 'Абонентская плата',
            'modif': '--fourth'
            }
        ]}).--local-rate-fare

            //- include section/tariff-item.jade
            //- +tariff-item-mobile-2-3()
            +tariff-item-classic-phone-2-1()

        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору вида связи
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--orange.b-button--tariff Добавить к заказу