//- ====================
//- RTD: classic-phone-2-1
//- 28-08-2017: amedomary
//- --------------------
//- Попап "выбор тарифа" classic-phone-2-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Модифицируем base
block variables
    //- - var NameVar = true

//- Модифицируем head
block head
    - var pageTitle = 'Внутризоновая телефонная связь';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Внутризоновая телефонная связь', true, '', 'Классическая телефония', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Услуга',
                'modif': '--first'
            },
            {
                'name': 'Стоимость звонка в Москву и МО',
                'modif': '--second'
            }
        ]}).--intrazone

            //- include section/tariff-item.jade
            +tariff-item-classic-phone-2-2()

        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору вида связи
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--orange.b-button--tariff Добавить к заказу