//- ====================
//- RTD: classic-phone-2-3-1
//- 28-08-2017: amedomary
//- --------------------
//- Попап "выбор тарифа" classic-phone-2-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Модифицируем base
block variables
    //- - var NameVar = true

//- Модифицируем head
block head
    - var pageTitle = 'Выбор тарифа междугородней и международной связи';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор тарифа междугородней и международной связи', true, '', 'Классическая телефония', true, '', true, '').--tariff-selection-mobile.--price

        +e.input-block
            //- mixin label(id, labet_title)
            +label('id-cp231','Куда будете звонить').--long-distance
            //- mixin input(id, input_type, input_class)
            +input('id-cp231','text','--long-distance', '')

        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Тариф',
                'modif': '--first'
            },
            {
                'name': 'Стоимость звонка в выбраный населенный пункт',
                'modif': '--second'
            },
            {
                'name': 'Абонентская плата',
                'modif': '--third'
            }
        ]}).--long-distance

            //- include section/tariff-item.jade
            +tariff-item-classic-phone-2-3-1()

        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору вида связи
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--orange.b-button--tariff Добавить к заказу