//- ====================
//- 23-08-2017: Amedomary
//- --------------------
//- Подключение услуг
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade подключений
include ./section/include-mixins.jade

block variables
block head
    - var pageTitle = 'Подключение услуг';

block footer
    - var footerPopUpDropdown = true

//- Выводим content
block content
    //- Используем template-page.jade: mixin +template-page()
    +template-page('Подключение услуг', false)
        //- section tab.jade
        +tab-connecting-services()
            //-  Первый таб
            +e.content--noscroll.js-tab-content.active(data-tab-content="1")
                +e.head--connect
                    +e.column
                        +title-h2('Телефония').--document
                    +e.column.--flex-end
                        a.b-link.js-open-retractable(href="javascript:void(0);" title="" data-retractable='ordered-services') История заказов
                //- Элемент сервиса информации (выпадашка на сервис-телефон) service-info(title, description, link)
                +service-info('Телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '210')
                +service-info('Новая телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '550')
                +service-info('Мобильная связь', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')
                +service-info('Бесплатный вызов (8-800)', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')

                +e.retractable-wrapper
                    //- сбоку выдвигашка по нажатию на (История заказов)  ordered-services Amedomary
                    +retractable-block('ordered-services')
                        +b.tab__head.b-tab__head--history
                            +e.column--no-center
                                +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку услуг
                                +e.wrapper-title
                                    +title-h2('Заказанные услуги')
                            +e.column
                                +e.order-doc.--connecting
                                    +history-payment('Скачать список услуг:', 'XLS', 'PDF', 'CSV').--history
                        //- section table-sort.jade -- +table-sort(name, id, checkbox, filter)
                        +table-sort(true, true, true, 'filter-sort-info', 'filter-sort-info', false, 'filter', true)
                        //-  table.jade +4столбца с синий первой
                        +table-connecting-service('Имя услуги', 'Дата заказа', 'Услуга', 'Статус')

                    //- сбоку выдвигашка по нажатию на (номер синенький) Amedomary
                    +retractable-block('requested-service-details')
                        +b.tab__head.b-tab__head--gui
                            +e.column.--content
                                +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку заказанных услуг
                                +e.wrapper-title--service
                                    +title-h2('Заявка № 17-70985')

                                +data-item('','Мобильная связь').--small
                                //- +text-block('Тариф ………………………………………. Интернет для бизнеса').--gray.--connect Вместо текста расшыряющийся блок сделан
                                +expanding-block('Тариф', 'Интернет для бизнеса')
                                +text-block('Доставка SIM-карты осуществляется на следующий или в последующие дни после подтверждения заказа и согласования времени доставки.').--gray.--ex-small.--connect-border
                                +data-item('Адрес','Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12').--small.--connect
                                +data-item('Контактное лицо','ИНН: 5042019531, Ирина').--small.--connect
                                +data-item('Контактные данные','+7 (999) 999-99-99, Irina.Mjelskaya@rt.ru').--small.--connect


                            +e.column.--info
                                +status().--flex.--connect
                                    +data-item('Тип заявки', 'Заказ услуг').--small.--connect.--half-width
                                    +data-item('Дата заявки', '21.04.2012').--small.--connect.--half-width
                                    +data-item('Срочность', 'Средняя').--small.--connect.--half-width
                                    +data-item('Статус заявки', 'Новая').--small.--connect.--half-width
                                    +data-item('Оператор', 'Алькор и Ко - Тест').--small.--connect
                                    +data-item('Договор', 'М-2012 от 13.12.2012').--small.--connect
                                    +data-item('Лицевой счет', '850000049228').--small.--connect
                                    +button('Изменить заявку', '').--orange.--full-width
                                    +e.link-block
                                        a.b-link.b-link--status(href='javascript:void(0)' title='') Отменить заявку

                            +e.column.--footer.--footer-low
                                +title-h2('Задать вопрос по заявке')
                                +b("form").form(action='/', method='post').--connect
                                    +e.group
                                        //- mixin label(id, labet_title)
                                        +label('new-request-message', 'Текст сообщения').--form-label-textarea
                                        +textarea('new-request-message')
                                    +e.group
                                        //- mixin label(id, labet_title)
                                        +label('', 'Вы можете приложить файл (не обязательно) максимальный размер файла - 5 мб').--form-label
                                        //- mixin uploadfile(id)
                                        +uploadfile('')
                                    +button-1('Отправить').--orange.--connect

            //- Второй таб
            +e.content--noscroll.js-tab-content(data-tab-content="2")
                +e.head--connect
                    +e.column
                        +title-h2('Интернет и ТВ').--document
                    +e.column.--flex-end
                        a.b-link.js-open-retractable(href="javascript:void(0);" title="" data-retractable='ordered-services-tab-2') История заказов
                //- Элемент сервиса информации (выпадашка на сервис-телефон) service-info(title, description, link)
                +service-info('Телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '210')
                +service-info('Новая телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '550')
                +service-info('Мобильная связь', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')
                +service-info('Бесплатный вызов (8-800)', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')

                +e.retractable-wrapper
                    //- сбоку выдвигашка по нажатию на (История заказов)  ordered-services-tab-2 Amedomary
                    +retractable-block('ordered-services-tab-2')
                        +b.tab__head.b-tab__head--history
                            +e.column--no-center
                                +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку услуг
                                +e.wrapper-title--service
                                    +title-h2('Заказанные услуги')
                            +e.column
                                +e.order-doc.--connecting
                                    +history-payment('Скачать список услуг:', 'XLS', 'PDF', 'CSV').--history
                        //- section table-sort.jade -- +table-sort(name, id, checkbox, filter)
                        +table-sort(true, true, true, 'filter-sort-info', 'filter-sort-info', false, 'filter', true)
                        //-  table.jade +4столбца с синий первой
                        +table-connecting-service('Имя услуги', 'Дата заказа', 'Услуга', 'Статус')


            //- Третий таб
            +e.content--noscroll.js-tab-content(data-tab-content="3")
                +e.head--connect
                    +e.column
                        +title-h2('Облачные сервисы').--document
                    +e.column.--flex-end
                        a.b-link.js-open-retractable(href="javascript:void(0);" title="" data-retractable='ordered-services-tab-3') История заказов
                //- Элемент сервиса информации (выпадашка на сервис-телефон) service-info(title, description, link)
                +service-info('Телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '210')
                +service-info('Новая телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '550')
                +service-info('Мобильная связь', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')
                +service-info('Бесплатный вызов (8-800)', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')

                +e.retractable-wrapper
                    //- сбоку выдвигашка по нажатию на (История заказов)  ordered-services-tab-3 Amedomary
                    +retractable-block('ordered-services-tab-3')
                        +b.tab__head.b-tab__head--history
                            +e.column--no-center
                                +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку услуг
                                +e.wrapper-title--service
                                    +title-h2('Заказанные услуги')
                            +e.column
                                +e.order-doc.--connecting
                                    +history-payment('Скачать список услуг:', 'XLS', 'PDF', 'CSV').--history
                        +table-sort(true, true, true, 'filter-sort-info', 'filter-sort-info', false, 'filter', true)
                        //-  table.jade +4столбца с синий первой
                        +table-connecting-service('Имя услуги', 'Дата заказа', 'Услуга', 'Статус')


                //- четвёртый таб
            +e.content--noscroll.js-tab-content(data-tab-content="4")
                +e.head--connect
                    +e.column
                        +title-h2('Оборудывание и другие услуги').--document
                    +e.column.--flex-end
                        a.b-link.js-open-retractable(href="javascript:void(0);" title="" data-retractable='ordered-services-tab-4') История заказов
                //- Элемент сервиса информации (выпадашка на сервис-телефон) service-info(title, description, link)
                +service-info('Телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '210')
                +service-info('Новая телефония', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '550')
                +service-info('Мобильная связь', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')
                +service-info('Бесплатный вызов (8-800)', 'Предоставление в аренду вычислительных мощностей Национальной облачной платформы для размещения Ваших информационных систем.', 'Полное описание', '0')

                +e.retractable-wrapper
                    //- сбоку выдвигашка по нажатию на (История заказов)  ordered-services-tab-4 Amedomary
                    +retractable-block('ordered-services-tab-4')
                        +b.tab__head.b-tab__head--history
                            +e.column--no-center
                                +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку услуг
                                +e.wrapper-title--service
                                    +title-h2('Заказанные услуги')
                            +e.column
                                +e.order-doc.--connecting
                                    +history-payment('Скачать список услуг:', 'XLS', 'PDF', 'CSV').--history
                        +table-sort(true, true, true, 'filter-sort-info', 'filter-sort-info', false, 'filter', true)
                        //-  table.jade +4столбца с синий первой
                        +table-connecting-service('Имя услуги', 'Дата заказа', 'Услуга', 'Статус')
