//- ====================
//- Project: RT
//- 24-10-2017: VD
//- --------------------
//- Попап Отложенный платеж заказан
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
//- - var file_name = 'templatetest'
block variables

//- Модифицируем head
block head
    - var pageTitle = 'Ваше обращение отправлено';



//- Выводим content
block content
    +modal("","", "", "", false, "", false, "").--contacting
        +e('span').text
            +e('p').request-heading Отложенный платёж заказан
        +e.buttons--newappeal
            +button("Закрыть").--orange.--form-exit.js-validator-check