//- ====================
//- RTD: interactive-tv-2
//- 28-08-2017: VD
//- --------------------
//- Попап interactive-tv-2
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Выбор основных пакетов телеканалов';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор основных пакетов телеканалов', true, '', 'Интерактивное телевидение', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Пакет',
                'modif': '--first'
            },
            {
                'name': 'Количество пакетов',
                'modif': '--second'
            },
            {
                'name': 'Итого',
                'modif': '--third'
            }
        ]}).--pack-tv

            //- include section/tariff-item.jade
            +tariff-item-interactive-tv-2()

        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору предложения
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--blue.b-button--tariff К выбору доп. пакетов каналов