//- ====================
//- Project: 404
//- 00-00-2017: author
//- --------------------
//- 404 страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade


block variables
    //- - var file_name = '404'
//-     - var page404 = true

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';

//- Выводим content
block content