//- ====================
//- RTD: popup - manage-zakaz-documents
//- 23-10-2017: VD
//- --------------------
//- Попап - Разовый заказ документов
//- ====================


mixin document-info-item(title, period, ...links)
    +e('li').item
        +e.title #{title}
        if period == '0'
            each link in links
                +b('a')(href="javascript:void(0);" title="").link.--info-item #{link}
        if period == '1'
            +b('a').link.--calendar(href="javascript:void(0);" title="").js-link-open-calendar
                span 01.04.2017
                +e('span').delimiter-date
                span 30.04.2017
            block

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables

block head
    - var pageTitle = 'Разовый заказ документов';

//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Выводим content
block content

    //- include ./section/template-popup.jade
    //- modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Разовый заказ документов', '', '', '', true, '', false, '')

        +e.link-back
            +b('a')(href="javascript:void(0);" title="Вернуться к услуге Мобильная связь").tab__link-forward Вернуться к услуге Мобильная связь

        //- Begin: Список инфы о документах
        +b('ul').document-info
            +document-info-item('По услугам', '0', '9913324272', '9913324272', '9913324272', '9913324272')
            +document-info-item('Тип документов', '0', 'Детализация по подключению')
            +document-info-item('Формат документов', '0', 'HTML')
            +document-info-item('Выберите период', '1')
                +calendar()
                    //- Begin: Дата
                    +e.content.js-tab-content-calendar.active(data-tab-content="calendar-1")
                        form(method="get" action="./")
                            +e.wrapper-left
                                +b.calendar-filter.js-calendar
                                +button-calendar()

                            +e.wrapper-right
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-date-current-month-5',
                                    'name': 'period-check',
                                    'text': 'Текущий месяц'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-date-last-month-5',
                                    'name': 'period-check',
                                    'text': 'Прошлый месяц'
                                }]}).js-area-temp

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-date-current-quarter-5',
                                    'name': 'period-check',
                                    'text': 'Текущий квартал'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-date-last-quarter-5',
                                    'name': 'period-check',
                                    'text': 'Прошлый квартал'
                                }]}).js-area-temp

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-date-this-year-5',
                                    'name': 'period-check',
                                    'text': 'Текущий год'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-date-last-year-5',
                                    'name': 'period-check',
                                    'text': 'Прошлый год'
                                }]}).js-area-temp

                    //- End: Дата

                    //- Begin: Период
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-2")
                        form(method="get" action="./")
                            +e.wrapper-left
                                +b.calendar-filter--period.js-calendar-one
                                +button-calendar()

                            +e.wrapper-left
                                +b.calendar-filter--period.js-calendar-two
                                a(href="javascript:void(0)" title="Прошлый год" class="b-button b-button--transparent b-button--period-calendar") Прошлый год

                    //- End: Период

                    //- Begin: Месяц
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-3")
                        form(method="get" action="./")
                            +e.wrapper-left.js-area-month
                                //- TODO: Добавить слайдер месяца Макса. Только зачем он там нужен уточнить у клиента. У Макса много лишнего функционала в js-ке, js-ку нужно почистить от лишнего и сделать только слайдер для месяца и всё.
                                +slider-year()
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-january-5',
                                    'name': 'month',
                                    'text': 'Январь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-february-5',
                                    'name': 'month',
                                    'text': 'Февраль'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-march-5',
                                    'name': 'month',
                                    'text': 'Март'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-april-5',
                                    'name': 'month',
                                    'text': 'Апрель'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-may-5',
                                    'name': 'month',
                                    'text': 'Май'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-june-5',
                                    'name': 'month',
                                    'text': 'Июнь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-jule-5',
                                    'name': 'month',
                                    'text': 'Июль'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-august-5',
                                    'name': 'month',
                                    'text': 'Август'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-september-5',
                                    'name': 'month',
                                    'text': 'Сентябрь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-october-5',
                                    'name': 'month',
                                    'text': 'Октябрь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-november-5',
                                    'name': 'month',
                                    'text': 'Ноябрь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-december-5',
                                    'name': 'month',
                                    'text': 'Декабрь'
                                }]}).--month
                                +button-calendar()

                            +e.wrapper-right.js-area-temporary
                                //- TODO: в этом периоде js класс для валидации добавить
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-month-current-month-5',
                                    'name': 'month-period-check',
                                    'text': 'Текущий месяц'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-month-last-month-5',
                                    'name': 'month-period-check',
                                    'text': 'Прошлый месяц'
                                }]})

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-month-current-quarter-5',
                                    'name': 'month-period-check',
                                    'text': 'Текущий квартал'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-month-last-quarter-5',
                                    'name': 'month-period-check',
                                    'text': 'Прошлый квартал'
                                }]})

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-month-this-year-5',
                                    'name': 'month-period-check',
                                    'text': 'Текущий год'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-month-last-year-5',
                                    'name': 'month-period-check',
                                    'text': 'Прошлый год'
                                }]})
                    //- End: Месяц

                    //- Begin: Квартал
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-4")
                        form(method="get" action="./")
                            +e.wrapper-left.js-area-month
                                //- TODO: добавить слайдер месяца
                                +slider-year()
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-first-quarter-5',
                                    'name': 'quarter',
                                    'text': 'I КВ'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-second-quarter-5',
                                    'name': 'quarter',
                                    'text': 'II КВ'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-third-quarter-5',
                                    'name': 'quarter',
                                    'text': 'III КВ'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-fourth-quarter-5',
                                    'name': 'quarter',
                                    'text': 'IV КВ'
                                }]}).--month

                                +button-calendar()

                            +e.wrapper-right.js-area-temporary
                                //- TODO: в этом периоде js класс для валидации добавить
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-quarter-current-month-5',
                                    'name': 'quarter-period-check',
                                    'text': 'Текущий месяц'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-quarter-last-month-5',
                                    'name': 'quarter-period-check',
                                    'text': 'Прошлый месяц'
                                }]})

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-quarter-current-quarter-5',
                                    'name': 'quarter-period-check',
                                    'text': 'Текущий квартал'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-quarter-last-quarter-5',
                                    'name': 'quarter-period-check',
                                    'text': 'Прошлый квартал'
                                }]})
                    //- End: Квартал

                    //- Begin: Год
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-5")
                        form(method="get" action="./")
                            +e.wrapper-left
                                //- TODO: добавть слайдер месяца
                                +slider-year()
                                +button-calendar()

                            +e.wrapper-right
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-year-this-year-5',
                                    'name': 'year-period-check',
                                    'text': 'Текущий год'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-year-last-year-5',
                                    'name': 'year-period-check',
                                    'text': 'Прошлый год'
                                }]})
                    //- End: Год
        //- End: Список инфы о документах

        //- Begin: блок выбора размера
        +b.choice-size

            +e('p').description Сформированный пакет документов будет отправлен Вам на электронную почту в формате ZIP.

            +e('p').hint Максимальный размер 
                +e('span').hint--mobile-hide файла
                | , МБ
            //- include ./tooltip.jade
            +tooltip(quest, 'Если размер файлов будет превышать допустимый, пакет документов документов будет отправле отдельными письмами.').--size-doc
            //- include ./range.jade
            +range().--size
            +e('p').hint--password Пароль к архиву 
                +e('span').option-hint (Не&nbsp;обязательно)
            //- include ./tooltip.jade
            +tooltip(quest, 'Вы можете установить пароль для архива для повышения безопасности передаваемых данных.').--size-doc
            //- include ./input.jade
            +input('size-document', 'text', '', '').--size-password
        //- End: блок выбора размера

        +b('div').request-footer.--request-document
            +e.wrapper
                +e.form-wrapper
                    +e('label').input-name(for='request-footer') Электронная почта
                    +input('request-footer', 'text', '--request-footer', '')
                +button-1('Заказать').--orange.--no-flex.--request-footer
            a.b-link.b-link--request-footer(href='javascript:void(0)' title='') Добавить адрес