//- ====================
//- RTD: manage-setting
//- 25-10-2017: VD
//- --------------------
//- Попап "Настройка групп"
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Настройка групп';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Настройка групп', false, '', '', true, '', false, '').--table-setting.--manage-group

        +b.info-setting.--manage-group
            +b('input')(type='text' placeholder='Название группы').input
            +b('button').button.--search.--search-manage-group
                span.icon-search

        +e('div').scroll-checkbox.js-accordion-scroll
            //- mixin checkbox(name, id, title, modificator)
            +checkbox('manage-group', 'manage-group-1', 'Интернет', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-2', 'Междугородняя связь', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-3', 'Москва', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-4', 'Телевидение', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-5', 'Группа 5', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-6', 'Группа 6', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-7', 'Группа 7', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-8', 'Группа 8', '--table-setting b-checkbox--manage-group')
            +checkbox('manage-group', 'manage-group-9', 'Группа 9', '--table-setting b-checkbox--manage-group')

            +checkbox('manage-group', 'manage-group-10', '', '--table-setting b-checkbox--manage-group')
                +b.input-edit.--manage-group
                    +e('input')(type='text' value='Новая группа').input

        +e.footer-setting
            +b('a')(href="javascript:void(0);" title="Создать группу").link--manage-group Создать группу
            +b('a')(href="javascript:void(0);" title="Сохранить изменения").button.--orange.--manage-group Сохранить изменения