//- ====================
//- Project: RT
//- 28-08-2017: MynameisIM
//- --------------------
//- Попап new-phone-3-1 copy 4
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Заказ в корзине';

//- Выводим content
block content
    +modal("Заказ в корзине","--underline-full", "", "Классическая телефония", true, "", false, "").--new-phone
        //-+e.text
        +e('p').request-heading--order Услуга добавлена в корзину
        +e.link
            +b('a').link--chose-service(href="javascript:void(0);" title="") Перейти к выбору услуг
        +e.buttons--order
            +b('a').link(href="javascript:void(0);" title="") Вернуться к выбору классической телефонии