//- ====================
//- Project: RT
//- 25-08-2017: MynameisIM
//- --------------------
//- Попап new-phone-1-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Заказ в корзине';

//- Выводим content
block content
    +modal("Заказ в корзине","--underline-full", "", "Мобильная связь", true, "", false, "").--new-phone
        +e('p').request-heading--mobile Услуга добавлена в корзину
        +e.link
            +b('a').link--chose-service(href="javascript:void(0);" title="") Перейти к выбору услуг
        +e.buttons--mobile
            +b('a').link(href="javascript:void(0);" title="") Вернуться к выбору мобильной связи