//- ====================
//- Project: RT
//- 20-10-2017: VD
//- --------------------
//- Попап new-request-1-services
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Новое обращение. Шаг 1 из 2 - сервисы';



//- Выводим content
block content
    +b('div').kek
        +e('a').link.js-popup-link(href="javascript:void(0);" title="") Открыть попап
    +modal("Новое обращение",true, "1", "", true, "Информация", false, "js-popup-container").--contacting
        +b("form").form(action='', method='post' novalidate)
            +e.group--select
                +input-mixin("label-test-id", "Тип обращения", false, "", "", false, true, false, false, false, false, "").--form-label
                    +e('option').selecet-item Благодарность
                    +e('option').selecet-item Благодарность-2
                    +e('option').selecet-item Благодарность-3
                    +e('option').selecet-item Благодарность-4
                    +e('option').selecet-item Благодарность-5
                    +e('option').selecet-item Благодарность-6
            +e.group--select
                +input-mixin("label-test-id", "Услуги", false, "", "", false, true, false, false, false, false, "").--form-label
                    +e('option').selecet-item Новая телефония
                    +e('option').selecet-item Новая телефония-2
                    +e('option').selecet-item Новая телефония-3
                    +e('option').selecet-item Новая телефония-4
                    +e('option').selecet-item Новая телефония-5
                    +e('option').selecet-item Новая телефония-6
            +e.group--username.--select
                +input-mixin("label-test-id", "Контактное лицо", false, "", "", false, false, false, false, true, false, "").--username
                    +e('span').data-container
                        +e('span').userinfo--name Ирина Иванова
                    +e('span').data-container
                        +e('span').userinfo ИНН: 101141200, 
                        +e('span').userinfo Московская область 
                    +e('span').data-container
                        +e('span').userinfo irina.mjeskaya@rt.tu, 
                        +e('span').userinfo (999) 888-77-66 
                +b('a').link--change-data(href="javascript:void(0);" title="") Изменить
            +e.buttons--newappeal
                +button("Следующий шаг").--blue.--next-step.js-validator-check