//- ====================
//- Project: RT
//- 18-08-2017: MynameisIM
//- --------------------
//- Попап new-phone-1-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Контактное лицо. Оформление заказа';

//- Выводим content
block content
    +modal("Контактное лицо", true, "", "Оформление заказа", true, "", false, '').--new-phone
        +e.column-container
            +e.column-left
                +b("form").form(action='', method='post' novalidate)
                    +e.group.--without-title
                        +label("label-test-id-1", "ИНН").--form-label
                        +e.validator
                            +input("label-test-id-1", "text", "--input-long", "")
                    +e.group
                        +label("label-test-id-2", "Фамилия Имя Отчество").--form-label
                        +e.validator
                            +input("label-test-id-2", "text", "--input-long", "")
                    +e.group
                        +label("label-test-id-3", "Телефон").--form-label
                        +e.validator
                            +input("label-test-id-3", "tel", "--input-long", "")
                    +e.group
                        +label("label-test-id-4", "Электронная почта").--form-label
                        +e.validator
                            +input("label-test-id-4", "email", "--input-long", "")
                    +e.group
                        +label("label-test-id-5", "Электронная почта для получения настроек (если отличаются)").--form-label
                        +e.validator
                            +input("label-test-id-5", "email", "--input-long", "")
                    +e.group
                        +checkbox("checkbox", "test-id-new-phone", "Необходим звонок менеджера", "--new-phone").--new-phone
            +e.column-right
                +b.natification-setting--new-phone
                    +e('span').title--adress Адреса
                    +e.adress
                        +b('a').link--adress(href="javascript:void(0);" title="") Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12
                        +e('a').close-btn(href="javascript:void(0)" title="")
                            span.icon-close
                    +e.adress
                        +b('a').link--adress(href="javascript:void(0);" title="") Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12
                        +e('a').close-btn(href="javascript:void(0)" title="")
                            span.icon-close
                    +e.adress
                        +b('a').link--adress(href="javascript:void(0);" title="") Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12
                        +e('a').close-btn(href="javascript:void(0)" title="")
                            span.icon-close
            +e.buttons--new-phone.--contact
                +b('a').link--step-back(href="javascript:void(0);" title="") Назад к вводу адреса
                +button("Отправить").--orange.--send.js-validator-check