//- ====================
//- Project: RT
//- 09-08-2017: MynameisIM
//- --------------------
//- Попап new-request-2
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
    //- - var file_name = 'templatetest'
//- Модифицируем head
block head
    - var pageTitle = 'Новое обращение. Шаг 1 из 2';



//- Выводим content
block content
    +modal("Новое обращение", true, "1", "", true, "Информация", false, '').--contacting
        +b("form").form(action='', method='post' novalidate)
            +e.group--select
                +input-mixin("label-test-id", "Тип обращения", false, "", "", false, true, false, false, false, false, "").--form-label
                    +e('option').selecet-item Благодарность
                    +e('option').selecet-item Благодарность-2
                    +e('option').selecet-item Благодарность-3
                    +e('option').selecet-item Благодарность-4
                    +e('option').selecet-item Благодарность-5
                    +e('option').selecet-item Благодарность-6
            +e.group--password-check
                +label("label-test-id", "Контактное лицо").--form-label
                +e.validator
                    +input("label-test-id", "text", "--user-data", "")
                    //- +e.password-help
                    //-     +e('span').password-recomendation Длина пароля от 6 до 12 символов
                    //-     +e('span').password-recomendation.js-condition-match Содержит заглавную букву
                    //-     +e('span').password-recomendation Содержит строчную букву
            +e.group--select
                +label("label-test-id", "Контактный телефон").--form-label
                +e.validator
                    //- .js-validator-false
                    +input("label-test-id", "tel", "--user-phone", "")
                    //- +e('span').error-text Текст ошибки
            +e.group--select
                +input-mixin("label-test-id", "Электронная почта", true, "email", "--email-field", false, false, false, false, false, false, "").--form-label
            +e.group--select
                +input-mixin("label-test-id", "ИНН", true, "text", "--email-field", false, false, false, false, false, false, "").--form-label
            +e.group--select
                +input-mixin("label-test-id", "Регион", true, "text", "--email-field", false, false, false, false, false, false, "").--form-label
            +e.buttons--newappeal
                +b('a').link--abort-changes(href="javascript:void(0);" title="") Отменить изменения
                +button("Следующий шаг").--blue.--next-step.js-validator-check