//- ====================
//- Project: RT
//- 28-08-2017: MynameisIM
//- --------------------
//- Попап new-phone-1-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Выбор номера. Новая телефония';

//- Выводим content
block content
    +modal("Выбор номера","--underline", "", "Новая телефония", true, "", false, "").--new-phone
        +b("form").form(action='', method='post' novalidate)
            +e.group--select.--without-title
                +label("label-test-id", "Подбор номера").--new-phone
                +e.validator--numbers
                    +input("label-test-id", "text", "--input-search", "")
                    +button("", "search").--search.--input-search
                        span.icon-search
        +b("form").form(action='', method='post' novalidate)
            +b.checkbox-list
                +e.column
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-1", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-2", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-3", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-4", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-5", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                +e.column
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-6", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-7", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-8", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-9", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-10", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                +e.column
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-11", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-12", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-13", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-14", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-15", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                +e.column
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-16", "8 (999) 200-12-12", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-17", "8 (999) 200-30-30", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-18", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-19", "8 (999) 700-77-74", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
                    +e.compare
                        +checkbox("checkbox", "id-for-phone-20", "8 (999) 600-88-88", "--list-of-numbers").--numbers
                        +b('a').link--compare(href="javascript:void(0);" title="Сравнить") Сравнить
            +b('a').link--new-phone(href="javascript:void(0);" title="") Обновить список номеров
            +b('a').link--new-phone(href="javascript:void(0);" title="") Сравнить номера
        +e.buttons--new-phone.--list
            +selected-item("--new-phone", "Выбранный номер", "8 (800) 700-77-74")
            +button("К выбору тарифа").--blue.--list-of-numbers