//- ====================
//- RTD: popup - new-request-2 - copy
//- 20-10-2017: VD
//- --------------------
//- Попап - новое обращение - шаг 2 - поломка
//- ====================


//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables

block head
    - var pageTitle = 'Новое обращение - шаг 2 - копия';

//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Выводим content
block content

    //- include ./section/template-popup.jade
    //- modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Новое обращение', 'full', '2', '', true, 'Обращение', false, '')

        +b("form").form(action='/', method='post')
            +e.group--select
                +input-mixin("label-test-id", "Тема обращения", false, "", "", false, true, false, false, false, false, "").--form-label
                    +e('option').selecet-item Поломка
                    +e('option').selecet-item Поломка-2
                    +e('option').selecet-item Поломка-3
                    +e('option').selecet-item Поломка-4
                    +e('option').selecet-item Поломка-5
                    +e('option').selecet-item Поломка-6

            +e.group
                //- mixin label(id, labet_title)
                +label('new-request-message', 'Текст сообщения').--form-label-textarea
                +textarea('new-request-message')

            +e.group
                //- mixin label(id, labet_title)
                +label('', 'Вы можете приложить файл (не обязательно)').--form-label
                //- mixin uploadfile(id)
                +uploadfile('')

        +e.footer--between.--request-second
            a(href="javascript:void(0)" title="Назад к информации").b-link Назад к информации
            button.b-button.b-button--orange.b-button--tariff Отправить