//- ====================
//- Project: RT
//- 18-10-2017: VD
//- --------------------
//- Попап Мобильная связь - настройки услуги
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Настройки услуги - мобильная связь';

//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Настройки услуги', false, '', 'Мобильная связь', true, '', false, '').--phone-setting
        +b.tariff.js-tariff-scroll
            +b('a')(href='javascript:void(0);' title='').tariff-item.--new-phone-setting
                +name-tariff('Счет для подключения *', 'Ломоносовский, 8000564829', false).--new-phone-setting
                +e('span').icon

            +b('a')(href='javascript:void(0);' title='').tariff-item.--new-phone-setting
                +name-tariff('Номер *', '8 (999) 200-12-12', false).--new-phone-setting
                +e('span').icon

            +b('a')(href='javascript:void(0);' title='').tariff-item.--new-phone-setting
                +name-tariff('Тариф *', 'Бизнес 500', false).--new-phone-setting
                +e('span').icon

            +b('a')(href='javascript:void(0);' title='').tariff-item.--new-phone-setting
                +name-tariff('Интернет', '', false).--new-phone-setting.--setting-disabled
                +e('span').icon

            +b('span').tariff-item.--new-phone-setting
                +name-tariff('Доп. услуги', '', false).--new-phone-setting.--setting-disabled

        +e('div').note Символом * отмечены обязательные поля