//- ====================
//- Project: RT
//- 09-08-2017: MynameisIM
//- --------------------
//- Попап new-request-3
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
//- - var file_name = 'templatetest'
block variables

//- Модифицируем head
block head
    - var pageTitle = 'Ваше обращение отправлено';



//- Выводим content
block content
    +modal("","", "", "", false, "", false, "").--contacting
        +e('span').text
            +e('p').request-heading Обращение отправлено
            +e('p').request-text Ответ будет направлен на указанный вами адрес в течении 30 дней.
        +e.buttons--newappeal
            +b('a').link--back-to-request(href="javascript:void(0);" title="") Перейти к обращению
            +button("ЗАКРЫТЬ").--orange.--form-exit.js-validator-check