//- ====================
//- Project: RT
//- 09-08-2017: MynameisIM
//- --------------------
//- Попап new-request-1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Страница теста шаблонов';

//- Выводим content
block content
    +modal("Общие параметры","--underline", "", "Виртуальный ЦОД", true, "Платформа виртуализации", false, '').--service
      +b("form").form(action='', method='post' novalidate)
        +e.container
          +e.radio-block
            +e('ul').radio-list.--service
              +e('li').radio-item.--service
                //- radio
                //- mixin radio(name, id, title, modificator)
                +radio('platform', 'vmware', 'VMware', '--service', 'checked')
                +e("span").radio-description Самые мощные функции виртуализации и опыт их использования в корпоративном секторе
              +e('li').radio-item.--service
                +radio('platform', 'hyper-v', 'Hyper-V', '--service')
                +e("span").radio-description Идеально подходит для виртуализации ОС Windows
              +e('li').radio-item.--service
                +radio('platform', 'openstack', 'OpenStack-KVM', '--service')
                +e("span").radio-description Полное решение виртуализации для платформ Linux/x86

            h1.b-popup-content__heading.--service Дата-центр
            +e.group--select
              +input-mixin("label-test-id", "Расположение дата-центра", false, "", "", false, true, false, false, false, false, "").--form-label-service
                +e('option').selecet-item Новосибирск
                +e('option').selecet-item Москва
                +e('option').selecet-item Санкт-Петербург
                +e('option').selecet-item Ульяновск
                +e('option').selecet-item Казань

          +e.info-block
            +e("span").info-block-subtitle Трафик
            +e("span").info-block-text Безлимитный
            +e("span").info-block-subtitle SLA
            +e("span").info-block-text 99,9%
            +e("span").info-block-subtitle На машину
            +e("span").info-block-text 1 IP-адрес

        +e.buttons.--service
          +button("К выбору тарифа").--blue.--next-step.js-validator-check