//- ====================
//- Project: RT
//- 18-08-2017: MynameisIM
//- --------------------
//- Попап new-phone-1-1
//- ====================

extends ./template/base_layout

include ./section/include-mixins.jade

block variables
    //- - var file_name = 'templatetest'

//- Модифицируем head
block head
    - var pageTitle = 'Адрес предоставления услуги. Оформление заказа';

//- Выводим content
block content
    +modal("Адрес предоставления услуги", true, "", "Оформление заказа", true, "", false, '').--new-phone
        +e.column-container
            +e.column-left
                +b("form").form(action='', method='post' novalidate)
                    +e.group--select.--without-title
                        +input-mixin("label-test-id", "Район / Область / Край", false, "", "", false, true, false, false, false, false, "").--form-label
                            +e('option').selecet-item Район
                            +e('option').selecet-item Область
                            +e('option').selecet-item Край
                    +e.group--select
                        +input-mixin("label-test-id", "Населённый пункт", false, "", "", false, true, false, false, false, false, "").--form-label
                            +e('option').selecet-item Город
                            +e('option').selecet-item Город-2
                            +e('option').selecet-item Город-3
                    +e.group--select
                        +label("label-test-id", "Улица").--form-label
                        +e.validator
                            +input("label-test-id", "text", "--input-long", "")
                    +e.group--input-list
                        +label("label-test-id", "Дом / Корпус / Офис").--form-label
                        +e.validator--short
                            +input("label-test-id", "text", "--input-default", "")
                        +e.validator--short
                            +input("label-test-id", "text", "--input-default", "")
                        +e.validator--short
                            +input("label-test-id", "text", "--input-default", "")
                    +e.group--select
                        +b('a').link.--add-adress(href="javascript:void(0);" title="") Добавить еще один адрес
            +e.column-right
                +b.natification-setting--new-phone
                    +e('h1').title--adress Адреса
                    +e.adress
                        +b('a').link--adress(href="javascript:void(0);" title="") Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12
                        +e('a').close-btn(href="javascript:void(0)" title="")
                            span.icon-close
                    +e.adress
                        +b('a').link--adress(href="javascript:void(0);" title="") Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12
                        +e('a').close-btn(href="javascript:void(0)" title="")
                            span.icon-close
                    +e.adress
                        +b('a').link--adress(href="javascript:void(0);" title="") Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12
                        +e('a').close-btn(href="javascript:void(0)" title="")
                            span.icon-close
            +e.buttons--new-phone
                +b('a').link--step-back(href="javascript:void(0);" title="") Назад к должностному лицу
                +button("Следующий шаг").--blue.--next.js-validator-check