//- ====================
//- RTD: news-special
//- 21-10-2017: VD
//- --------------------
//- Новости - спецпредложения
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Новости';


//- Выводим content
block content
    +template-page('Новости')
        //- section tab.jade
        +b.tab__content.tab__content--active.tab__content--special.js-tab-content.active
            //- mixin table-sort(select, search, calendar, name, id, checkbox, filter, tooltip)
            +table-sort(false, true, true, '', '', false, 'data-filter-news-special', false, true)

                +calendar()
                    //- Begin: Дата
                    +e.content.js-tab-content-calendar.active(data-tab-content="calendar-1")
                        form(method="get" action="./")
                            +e.wrapper-left
                                +b.calendar-filter.js-calendar
                                +button-calendar()

                            +e.wrapper-right
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-date-current-month-special',
                                    'name': 'period-check',
                                    'text': 'Текущий месяц'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-date-last-month-special',
                                    'name': 'period-check',
                                    'text': 'Прошлый месяц'
                                }]}).js-area-temp

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-date-current-quarter-special',
                                    'name': 'period-check',
                                    'text': 'Текущий квартал'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-date-last-quarter-special',
                                    'name': 'period-check',
                                    'text': 'Прошлый квартал'
                                }]}).js-area-temp

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-date-this-year-special',
                                    'name': 'period-check',
                                    'text': 'Текущий год'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-date-last-year-special',
                                    'name': 'period-check',
                                    'text': 'Прошлый год'
                                }]}).js-area-temp

                    //- End: Дата

                    //- Begin: Период
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-2")
                        form(method="get" action="./")
                            +e.wrapper-left
                                +b.calendar-filter--period.js-calendar-one
                                +button-calendar()

                            +e.wrapper-left
                                +b.calendar-filter--period.js-calendar-two
                                a(href="javascript:void(0)" title="Прошлый год" class="b-button b-button--transparent b-button--period-calendar") Прошлый год

                    //- End: Период

                    //- Begin: Месяц
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-3")
                        form(method="get" action="./")
                            +e.wrapper-left.js-area-month
                                //- TODO: Добавить слайдер месяца Макса. Только зачем он там нужен уточнить у клиента. У Макса много лишнего функционала в js-ке, js-ку нужно почистить от лишнего и сделать только слайдер для месяца и всё.
                                +slider-year()
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-january-special',
                                    'name': 'month',
                                    'text': 'Январь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-february-special',
                                    'name': 'month',
                                    'text': 'Февраль'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-march-special',
                                    'name': 'month',
                                    'text': 'Март'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-april-special',
                                    'name': 'month',
                                    'text': 'Апрель'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-may-special',
                                    'name': 'month',
                                    'text': 'Май'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-june-special',
                                    'name': 'month',
                                    'text': 'Июнь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-jule-special',
                                    'name': 'month',
                                    'text': 'Июль'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-august-special',
                                    'name': 'month',
                                    'text': 'Август'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-september-special',
                                    'name': 'month',
                                    'text': 'Сентябрь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-october-special',
                                    'name': 'month',
                                    'text': 'Октябрь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-november-special',
                                    'name': 'month',
                                    'text': 'Ноябрь'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-december-special',
                                    'name': 'month',
                                    'text': 'Декабрь'
                                }]}).--month
                                +button-calendar()

                            +e.wrapper-right.js-area-temporary
                                //- TODO: в этом периоде js класс для валидации добавить
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-month-current-month-special',
                                    'name': 'month-period-check',
                                    'text': 'Текущий месяц'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-month-last-month-special',
                                    'name': 'month-period-check',
                                    'text': 'Прошлый месяц'
                                }]})

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-month-current-quarter-special',
                                    'name': 'month-period-check',
                                    'text': 'Текущий квартал'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-month-last-quarter-special',
                                    'name': 'month-period-check',
                                    'text': 'Прошлый квартал'
                                }]})

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-month-this-year-special',
                                    'name': 'month-period-check',
                                    'text': 'Текущий год'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-month-last-year-special',
                                    'name': 'month-period-check',
                                    'text': 'Прошлый год'
                                }]})
                    //- End: Месяц

                    //- Begin: Квартал
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-4")
                        form(method="get" action="./")
                            +e.wrapper-left.js-area-month
                                //- TODO: добавить слайдер месяца
                                +slider-year()
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-first-quarter-special',
                                    'name': 'quarter',
                                    'text': 'I КВ'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-second-quarter-special',
                                    'name': 'quarter',
                                    'text': 'II КВ'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-third-quarter-special',
                                    'name': 'quarter',
                                    'text': 'III КВ'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-fourth-quarter-special',
                                    'name': 'quarter',
                                    'text': 'IV КВ'
                                }]}).--month

                                +button-calendar()

                            +e.wrapper-right.js-area-temporary
                                //- TODO: в этом периоде js класс для валидации добавить
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-quarter-current-month-special',
                                    'name': 'quarter-period-check',
                                    'text': 'Текущий месяц'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-quarter-last-month-special',
                                    'name': 'quarter-period-check',
                                    'text': 'Прошлый месяц'
                                }]})

                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-quarter-current-quarter-special',
                                    'name': 'quarter-period-check',
                                    'text': 'Текущий квартал'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-quarter-last-quarter-special',
                                    'name': 'quarter-period-check',
                                    'text': 'Прошлый квартал'
                                }]})
                    //- End: Квартал

                    //- Begin: Год
                    +e.content.js-tab-content-calendar(data-tab-content="calendar-5")
                        form(method="get" action="./")
                            +e.wrapper-left
                                //- TODO: добавть слайдер месяца
                                +slider-year()
                                +button-calendar()

                            +e.wrapper-right
                                +period({ 'items': [{
                                    'type': 'checkbox',
                                    'id': 'id-year-this-year-special',
                                    'name': 'year-period-check',
                                    'text': 'Текущий год'
                                }, {
                                    'type': 'checkbox',
                                    'id': 'id-year-last-year-special',
                                    'name': 'year-period-check',
                                    'text': 'Прошлый год'
                                }]})
                    //- End: Год

            //- Begin: контент превью
            +news-preview('news-special-1', 'Мобильная связь от ПАО «Ростелеком»', '01.09.2017', 'Становится еще выгоднее')

            +news-preview('news-special-2', '«Виртуальная АТС» от Ростелекома', '25.08.2017', '«Виртуальный АТС» позволяет получить прямой городской номер телефона и номер 8-800, а также внутреннюю телефонную сеть с короткой нумерацией. Услуга включает большой набор дополнительных сервисов...')

            +news-preview('news-special-3', 'Акция «Летний тест – драйв»', '01.07.2017', '«Виртуальный АТС» позволяет получить прямой городской номер телефона и номер 8-800, а также внутреннюю телефонную сеть с короткой нумерацией. Услуга включает большой набор дополнительных сервисов...')
            //- End: контент превью

            //- пагинация
            +pagination().--special

            //- сбоку выдвигашка по нажатию на новость (VD)
            +retractable-block('news-special-1')
                +b.tab__head.b-tab__head--news-special
                    +e.column.--content
                        +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="Вернуться к списку всех новостей") Вернуться к списку всех новостей

                        //- Begin: статья
                        +b('article').news-preview.--article
                            +e('h2').title Приглашение на презентацию 1
                            +e('div').date 01.09.2017
                            p Добрый день! Компания Ростелеком приглашает Вас на бизнес-завтрак, который состоится 20 октября 2017г., по адресу: пр. Мира, 70, Интеллект-центр. Сбор гостей в 11:00 Описание мероприятия: презентация и демонстрация новых услуг РТК. Идея – рассказать и показать в реальном времени, как работают наши услуги. Презентация продуктов Новая телефония, MVNO, Wi-Fi, Видео комфорт и многое другое. Причина посещения: - знакомство и обмен опытом с коллегами по бизнесу - информация о предложениях Ростелекома - ценный презент каждому гостю. Ждем Вас! Нам важно ваше мнение!
                        //- End: Статья

                        //- Begin: Читайте также
                        +e('div').read-also
                            +b('h2').title.--h2.--read-also Читайте также
                            +b('section').news-preview.--read-also
                                +e('a')(href="javascript:void(0)" title="Мобильная связь от ПАО «Ростелеком»").read-link
                                    +e('h3').title Мобильная связь от ПАО «Ростелеком»
                                    +e('div').date 01.09.2017

                            +b('section').news-preview.--read-also
                                +e('a')(href="javascript:void(0);" title="Акция «Летний тест – драйв»").read-link
                                    +e('h3').title Акция «Летний тест – драйв»
                                    +e('div').date 01.07.2017
                        //- End: Читайте также

            //- сбоку выдвигашка по нажатию на новость (VD)
            +retractable-block('news-special-2')
                +b.tab__head.b-tab__head--news-special
                    +e.column.--content
                        +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="Вернуться к списку всех новостей") Вернуться к списку всех новостей

                        //- Begin: статья
                        +b('article').news-preview.--article
                            +e('h2').title Приглашение на презентацию
                            +e('div').date 01.09.2017
                            p Добрый день! Компания Ростелеком приглашает Вас на бизнес-завтрак, который состоится 20 октября 2017г., по адресу: пр. Мира, 70, Интеллект-центр. Сбор гостей в 11:00 Описание мероприятия: презентация и демонстрация новых услуг РТК. Идея – рассказать и показать в реальном времени, как работают наши услуги. Презентация продуктов Новая телефония, MVNO, Wi-Fi, Видео комфорт и многое другое. Причина посещения: - знакомство и обмен опытом с коллегами по бизнесу - информация о предложениях Ростелекома - ценный презент каждому гостю. Ждем Вас! Нам важно ваше мнение!
                        //- End: Статья

                        //- Begin: Читайте также
                        +e('div').read-also
                            +b('h2').title.--h2.--read-also Читайте также
                            +b('section').news-preview.--read-also
                                +e('a')(href="javascript:void(0)" title="Мобильная связь от ПАО «Ростелеком»").read-link
                                    +e('h3').title Мобильная связь от ПАО «Ростелеком»
                                    +e('div').date 01.09.2017

                            +b('section').news-preview.--read-also
                                +e('a')(href="javascript:void(0);" title="Акция «Летний тест – драйв»").read-link
                                    +e('h3').title Акция «Летний тест – драйв»
                                    +e('div').date 01.07.2017
                        //- End: Читайте также

            //- сбоку выдвигашка по нажатию на новость (VD)
            +retractable-block('news-special-3')
                +b.tab__head.b-tab__head--news-special
                    +e.column.--content
                        +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="Вернуться к списку всех новостей") Вернуться к списку всех новостей

                        //- Begin: статья
                        +b('article').news-preview.--article
                            +e('h2').title Приглашение на презентацию 3
                            +e('div').date 01.09.2017
                            p Добрый день! Компания Ростелеком приглашает Вас на бизнес-завтрак, который состоится 20 октября 2017г., по адресу: пр. Мира, 70, Интеллект-центр. Сбор гостей в 11:00 Описание мероприятия: презентация и демонстрация новых услуг РТК. Идея – рассказать и показать в реальном времени, как работают наши услуги. Презентация продуктов Новая телефония, MVNO, Wi-Fi, Видео комфорт и многое другое. Причина посещения: - знакомство и обмен опытом с коллегами по бизнесу - информация о предложениях Ростелекома - ценный презент каждому гостю. Ждем Вас! Нам важно ваше мнение!
                        //- End: Статья

                        //- Begin: Читайте также
                        +e('div').read-also
                            +b('h2').title.--h2.--read-also Читайте также
                            +b('section').news-preview.--read-also
                                +e('a')(href="javascript:void(0)" title="Мобильная связь от ПАО «Ростелеком»").read-link
                                    +e('h3').title Мобильная связь от ПАО «Ростелеком»
                                    +e('div').date 01.09.2017

                            +b('section').news-preview.--read-also
                                +e('a')(href="javascript:void(0);" title="Акция «Летний тест – драйв»").read-link
                                    +e('h3').title Акция «Летний тест – драйв»
                                    +e('div').date 01.07.2017
                        //- End: Читайте также