//- ====================
//- 03-08-2017: drtvader /amedomary
//- --------------------
//- Страница оплаты Rostelecom
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade подключений
include ./section/include-mixins.jade

block variables
block head
    - var pageTitle = 'Главная страница';

//- Выводим content
block content
    //- Используем template-page.jade: mixin +template-page()
    +template-page('Оплата', false)
        //- section tab.jade
        +tab-pay()
            //-  Первый таб
            +e.content--noscroll.js-tab-content.active(data-tab-content="1")
                +e.head.--gui
                    +e.column.--content
                        +title-h2('Отложенный платеж').--pay
                        +pay-account('cost-1', true, true).--no-border
                        +pay-account('cost-66', false, true, true).--no-border
                        +pay-account('cost-3', false, true, true).--last.--no-border
                        a.b-link.b-link--pay(href='javascript:void(0)' title='') Добавить счёт к оплате
                    +e.column.--info-block.--pay
                        //- include status.jade
                        +status().--pay
                            +status-line("Лицевой счёт", "Баланс").--header
                            +status-line("8900004652", "564,47 руб.").--cost
                            +status-line("8900004654", "-273 руб.").--cost
                            //- checkbox().jade
                            +checkbox-right()
                            +button('Заказать отложенный платеж').--orange.--full-width

                    +e.column.--footer.--dropdown.--payment-page
                        //- +dropdown-block(title, info, history_payment, item, other)
                        +dropdown-block('История заказов', '', false, '', false).--no-border.--payment-page
                            .b-tab__column.b-tab__column--content.b-tab__column--table
                                +table-sort(true, true, true, '', '', false, 'defferent-payment', false, false)
                                +table-order-history()

                            //- решили не делать
                            //- +b.tab__head.b-tab__head--gui
                            //-     +e.column.--content.--table
                            //-         +table-sort(true, true, true, '', '', false, 'info', false)
                            //-         //- table.jade
                            //-         +table-order-history()
                            //-     +e.column.--info-block.--statistics
                            //-         +status()
                            //-             +e('p').title-statistics Использование услуги
                            //-                 +e('span').title-additionaly Подключены 
                            //-                     span 5 
                            //-                     | услуг
                            //-             +statistics-chart()
                            //-                 +e('span').additional.--number ЛС 8900005161
                            //-                 +e('span').additional Отключение через
                            //-                 +e('span').time 
                            //-                     span 3 
                            //-                     | дня 
                            //-                     span 8 
                            //-                     | часов
                            //-                 +e('span').additional.--date 24.11.17
                            //-             +status-line("Лицевой счёт", "Отключение").--header
                            //-             +status-line("8900004652", "25.11.17").--cost
                            //-             +status-line("8900004654", "26.11.17").--cost
                            //-             +e.line.--cost.--link
                            //-                 a(href="javascript:void(0)" title="" class="b-link b-link--statistic") Ещё 2 счета
                            //-                 span 07.12.17 
                            //-                 | - 
                            //-                 span 15.12.17
                            //-             +button('Пополнить баланс').--orange.--full-width


            //- Второй таб
            +e.content--noscroll.js-tab-content(data-tab-content="2")
                +e.head.--gui
                    +e.column.--content.--payment-template
                        +title-h2('Счет на оплату').--pay
                        +pay-account('cost-1')
                        +pay-account('cost-3').--last
                        a.b-link.b-link--pay(href='javascript:void(0)' title='') Добавить счет к оплате

                    +e.column.--info-block.--pay.--payment-template
                        +status().--pay
                            +status-line("Лицевой счёт", "Баланс").--header
                            +status-line("8900004652", "564,47 руб.").--cost
                            +status-line("8900004654", "-273 руб.").--cost
                            +status-line("Итого:", "2500 руб.").--total
                            +button('Сформировать счета на оплату').--orange.--full-width
                            +e('p').text Максимальная сумма платежа - 30 000 руб.

                        //- Клиент решил убрать
                        //- +e.block-link
                        //-     a.b-link.b-link--under-status(href='javascript:void(0)' title='') Скачать счет
                        //-     a.b-link.b-link--under-status(href='javascript:void(0)' title='') Отправить по почте

                    //- Клиент решил убрать
                    //- +e.column.--footer.--dropdown.--payment-page
                    //-     //- +dropdown-block(title, info, history_payment, item, other)
                    //-     +dropdown-block('История платежей', '', 'Скачать историю платежей:', '', false).--no-border.--payment-page
                    //-         +table-sort(false, false, false, '', '', false, 'info', false)
                    //-         +table-order-history()


            //- Третий таб
            +e.content--noscroll.js-tab-content(data-tab-content="3")
                +e.head.--gui
                    +e.column.--content.--payment-template
                        +title-h2('Оплата картой').--pay
                        +pay-account('cost-1')
                        +pay-account('cost-2').--last
                        a.b-link.b-link--pay(href='javascript:void(0)' title='') Добавить счёт к оплате

                    +e.column.--info-block.--pay.--payment-template
                        //- include status.jade
                        +status().--pay
                            +status-line("Лицевой счёт", "Баланс").--header
                            +status-line("8900004652", "564,47 руб.").--cost
                            +status-line("8900004654", "-273 руб.").--cost
                            +status-line("Итого:", "2500 руб.").--total
                            +button('Оплатить').--orange.--full-width
                            +cards().--status

                    //- решили не делать
                    //- +e.column.--footer.--dropdown.--payment-page
                    //-     //- +dropdown-block(title, info, history_payment, item, other)
                    //-     +dropdown-block('История платежей', '', 'Скачать историю платежей:', '', false).--no-border.--payment-page
                    //-         .b-tab__column.b-tab__column--content.b-tab__column--table
                    //-             +table-sort(false, false, false, '', '', false, 'info', false)
                    //-             +table-order-history()

                    //-         +dropdown-block(title, info, history_payment, item, other)
                    //-         +dropdown-block('История платежей', '', true, '', false).--no-border
                    //-         section dropdown-block.jade +dropdown-content(title, info, money, sum, link)
                    //-         +dropdown-content('Новая телефония', '8 (999) 700-77-74', '600', '1500 руб.', 'изменить')
                    //-         +table-charge-history()
                    //-         section dropdown-block.jade +dropdown-content(title, info, money, sum, link)
                    //-         +dropdown-content('Новая телефония', '8 (999) 700-77-74', '600', '1500 руб.', 'изменить')