//- ====================
//- Project: RT
//- 09-08-2017: MynameisIM
//- --------------------
//- Попап payment-card
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
    //- - var file_name = 'templatetest'
//- Модифицируем head
block head
    - var pageTitle = 'Оплата';



//- Выводим content
block content
    +modal("Оплата","", "", "", true, "", false, '').--payment
        +b("form").form(action='', method='post' novalidate)
            +e.group--payment
                +label("label-test-id", "Номер карты").--form-label
                +e.validator
                    +input("label-test-id", "text", "--card-num", "")
            +e.group--payment.--cards
                +label("label-test-id", "Срок действия").--form-label
                +e.payment
                    +e.validator--small
                        +input("label-test-id", "text", "--small-input", "").--card-num
                    +cards()
            +e.group--payment
                +label("label-test-id", "Имя держателя").--form-label
                +e.validator
                    +input("label-test-id", "text", "--card-num", "")
            +e.group--payment
                +label("label-test-id", "Код безопасности").--form-label
                +e.payment--security
                    +e.validator--small
                        +input("label-test-id", "text", "--small-input", "").--card-num
                    +e('span').security-help Последние три цифры на полосе для подписи
            +e.buttons--pay
                +b('button').button.--orange.--pay.js-validator-check Оплатить