//- ====================
//- Project: RT
//- 09-08-2017: MynameisIM + iAmed73
//- --------------------
//- Попап services/internet/interactive-tv Выбор телефона
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
//- - var file_name = 'templatetest'
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Выбор оборудования';
//- Выводим content
block content

    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор оборудования', '--underline-full', '', 'Интерактивное телевидение', true, '', true, '').--new-phone.--price
        +b("form").form--flex(action='/', method='post')
            //- mixin item-product-tv(h3, url, ...items); item-product.jade
            +item-product-tv('ТВ-приставка «Стандарт»', 'images/content/product-tv-1.png', 'поддержка HD, стереозвук;', 'поддержка интерактивных сервисов;', 'управление просмотром с использованием ресурсов сети.').--interactive-tv
            +item-product-tv('ТВ-приставка «Стандарт»', 'images/content/product-tv-1.png', 'ТВ в любой точке дома без дополнительных проводов;', 'для организации сети необходимы 2 и более адаптеров.').--interactive-tv
            +item-product-tv('ТВ-приставка «Стандарт»', 'images/content/product-1.png', '1', '2', '3', '4', '5', '6').--interactive-tv

            +e.link-block
                a.b-link(href='javascript:void(0)' title='') Вернуться к выбору доп. пакетов каналов
            +button-1('Добавить к заказу').--orange.--item-product

        //- span Все цены указаны в рублях без учета НДС