//- ====================
//- Project: RT
//- 09-08-2017: iAmed73
//- --------------------
//- Попап services/internet/interactive-phone Выбор телефона
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
//- - var file_name = 'templatetest'
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Выбор оборудования';
//- Выводим content
block content

    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор оборудования', '--underline-full', '', 'Новая телефония', true, '', true, '').--new-phone.--price
        +b("form").form--flex(action='/', method='post')
            //- mixin item-product-phone(h3, url, text); item-product.jade
            +item-product-phone('ТВ-приставка «Стандарт»', 'images/content/product-1.png', 'Бюджетная модель корпоративного телефона, поддерживающая качество звука в формате HD, а также все основные функции современного телефона для бизнеса.')
            +item-product-phone('ТВ-приставка «Стандарт»', 'images/content/product-1.png', 'Бюджетная модель корпоративного телефона, поддерживающая качество звука в формате HD, а также все основные функции современного телефона для бизнеса.')
            +item-product-phone('ТВ-приставка «Стандарт»', 'images/content/product-1.png', 'Бюджетная модель корпоративного телефона, поддерживающая качество звука в формате HD, а также все основные функции современного телефона для бизнеса.')

            +e.link-block
                a.b-link(href='javascript:void(0)' title='') Вернуться к выбору доп. пакетов каналов
            +button-1('Добавить к заказу').--orange.--item-product

        //- span Все цены указаны в рублях без учета НДС