//- ====================
//- Project: RT
//- 16-08-2017: MynameisIM
//- --------------------
//- Попап profile-main
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- - var file_name = 'templatetest'
//- Модифицируем head
block head
    - var pageTitle = 'Настройки профиля';



//- Выводим content
block content
    +template-page('Настройки профиля', false)
        +b("form")(action='', method='post').profile-container
            +e.profile-form
                +e.title Профиль
                +b.form
                    +e.items
                        +label("label-test-id", "Наименование организации").--form-label
                        +e.validator
                            +input("label-test-id", "text", "--input-default", "")
                    +e.items
                        +label("label-test-id", "Фамилия, имя, отчество").--form-label
                        +e.validator
                            +input("label-test-id", "text", "--input-default", "")
                    +e.items
                        +label("label-test-id", "Контактный телефон").--form-label
                        +e.validator
                            +input("label-test-id", "tel", "--input-default", "")
                    +e.items
                        +label("label-test-id", "Электронная почта").--form-label
                        +e.validator
                            +input("label-test-id", "email", "--input-default", "")
            +e.profile-asite
                +button("Изменить пароль").--transparent.--profile-change
                +b.natification-setting
                    +e('h1').title Настройка уведомлений
                    +e('span').text Отправлять на электронную почту
                    +checkbox("checkbox", "test-id-checkbox-1", "Уведомление о смене пароля", "--notification").--notification
                    +checkbox("checkbox", "test-id-checkbox-2", "Уведомление о создании подписки  на периодическую доставку документов", "--notification").--notification-line
                    +checkbox("checkbox", "test-id-checkbox-3", "Информацию о создании/изменении заявки", "--notification").--notification
                    +checkbox("checkbox", "test-id-checkbox-4", "Новости и спецпредложения", "--notification").--notification
            +e.buttons--password
                +b('button').button.--orange.--profile-save Сохранить изменения