//- ====================
//- RTD: request-history
//- 03-08-2017: drtvader
//- --------------------
//- Страница обращений
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Страница обращений';


//- Выводим content
block content
    //- Используем template-page.jade: mixin +template-page()
    +template-page('Обращения')
        //- section tab.jade
        +b.tab__content.tab__content--active.js-tab-content.active
            +e.head.--request-history
                +e.column
                    +title-h2('История обращений').--document
                +e.column
                    +e.order-doc
                        //- +button-1('Написать обращение').--order.js-open-retractable(data-retractable='write')
                        +button('Написать обращение').--order
            +table-sort(true, true, true, 'filter-sort-info', 'filter-sort-info', false, 'data-filter-sort-info', true)
            //-  table.jade +4столбца с синий первой
            +table-request-history('Номер обращения', 'Дата обращения', 'Тип обращения', 'Статус')



            //- +e.retractable-wrapper
            //- сбоку выдвигашка по нажатию на (фамилию)  personal-info Amedomary
            +retractable-block('request-history-page')
                //- +e.retractable-wrapper
                //- сбоку выдвигашка по нажатию на (фамилию)  personal-info Amedomary
                //- +retractable-block('personal-info')
                +b.tab__head.b-tab__head--gui
                    +e.column.--content
                        +e('a').link-forward.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку всех счетов
                        +e.wrapper-title--service
                            +title-h2('Обращение № 17-73488')

                        +data-item('Обращение','Неработоспособность услуги').--small
                        +text-block(false, 'Здравствуйте, сколько будет продолжаться такое отношение к&nbsp;клиентам? Мы&nbsp;платим по&nbsp;800&nbsp;рублей за&nbsp;высокую скорость, а&nbsp;получаем&nbsp;&mdash; шиш с&nbsp;маслом, на&nbsp;модемах МТС и&nbsp;Билайн и&nbsp;то&nbsp;быстрее работает, чем у&nbsp;Вас. Беспредел! И&nbsp;не&nbsp;говорите, что кончился трафик, потому что и&nbsp;1 и&nbsp;2 числа месяца она еле пашет!').--gray.--request
                        +reply-quote()
                            +data-item('Комментарий выполнения','Неработоспособность услуги').--small
                            +text-block(true, 'Уважаемый клиент! Просьба сообщить, какой номер телефона не&nbsp;работает. Благодарим Вас за&nbsp;сотрудничество и&nbsp;доверие к&nbsp;нашей компании!','С&nbsp;уважением, ПАО &laquo;Ростелеком&raquo;').--gray.--reply

                        +title-h2('Оставить комментарий по заявке').--request
                        +b("form").form(action='/', method='post').--request
                            +e.group
                                //- mixin label(id, labet_title)
                                +label('new-request-message', 'Текст сообщения').--form-label-textarea
                                +textarea('new-request-message')
                            +e.group
                                //- mixin label(id, labet_title)
                                +label('', 'Вы можете приложить файл (не обязательно)').--form-label
                                //- mixin uploadfile(id)
                                +uploadfile('')
                                //- +uploadfile().--progress
                                //- +uploadfile().--done
                            +button-1('Отправить').--blue

                    +e.column.--info
                        +status().--treatment
                            +data-item('Тип обращения', 'Техническая поддержка').--small.--status
                            +data-item('Дата заявки', '21.04.2012').--small.--status
                            +data-item('Срочность', 'Средняя').--small.--status
                            +data-item('Статус заявки', 'Новая').--small.--status
                            +data-item('Оператор', 'Алькор и Ко - Тест').--small.--status
                            +data-item('Договор', 'М-2012 от 13.12.2012').--small.--status
                            +data-item('Лицевой счет', '850000049228').--small.--status
                            +button('Заказать детализацию').--orange.--full-width.--status
                            +e.link-block
                                a.b-link.b-link--status(href='javascript:void(0)' title='') Вернуть в работу





//- сбоку выдвигашка по нажатию на () макет загатовка
                    //- +retractable-block('')
                        +b.tab__head.b-tab__head--gui
                            +e.column.--content
                            +e.column.--info
                            +e.column.--footer