//- ====================
//- RTD: requested-service-details
//- 28-08-2017: MynameisIM
//- --------------------
//- Заявка подключения услуг
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Подключение услуг';


//- Выводим content
block content
    //- Используем template-page.jade: mixin +template-page()
    +template-page('Подключение услуг')
        +e.services-wrapper
            +b.tab__head.b-tab__head--gui
                +e.column.--content.--service-details
                    +e('a').link-forward--service.js-close-retractable(href="javascript:void(0);" title="") Вернуться к списку заказанных услуг
                    +e.wrapper-title--mobile
                        +title-h2('Заявка № 17-70985').--service
                        +b.type-of-appeal
                            +title-h2('Мобильная связь').--mobile
                            +e('span').tariff Тариф ...............................
                            +e('span').selected-tariff Интернет для бизнеса
                            +e('span').note Доставка SIM-карты осуществляется на следующий или в последующие дни после подтверждения заказа и согласования времени доставки.
                        +e.contact-data
                            +data-item('Адрес','Московская обл., г.Балашиха, пр-кт Ленина, д.22, офис 12').--contact
                            +data-item('Контактное лицо','ИНН: 5042019531, Ирина').--contact
                            +data-item('Контактные данные','+7 (999) 999-99-99, Irina.Mjelskaya@rt.ru').--contact

                +e.column.--info.--requested-service
                    +status().--requested-service
                        +data-item('Тип заявки', 'Заказ услуг').--small.--requested-service
                        +data-item('Дата заявки', '21.04.2012').--small.--requested-service
                        +data-item('Срочность', 'Средняя').--small.--requested-service
                        +data-item('Статус заявки', 'Новая').--small.--requested-service
                        +data-item('Оператор', 'Алькор и Ко - Тест').--small.--status
                        +data-item('Договор', 'М-2012 от 13.12.2012').--small.--status
                        +data-item('Лицевой счет', '850000049228').--small.--status
                        +button('Изменить заявку').--orange.--full-width.--status
                        +e.link-block
                            a.b-link.b-link--status(href='javascript:void(0)' title='') Отменить заявку
                +e.form-container
                    +title-h2('Задать вопрос по заявке').--request.--requested-service
                    +b("form").form(action='/', method='post')
                        +e.group
                            //- mixin label(id, labet_title)
                            +label('new-request-message', 'Текст сообщения').--service
                            +textarea('new-request-message')
                        +e.group
                            //- mixin label(id, labet_title)
                            +label('', 'Вы можете приложить файл (не обязательно) максимальный размер файла - 5 мб').--form-label.--requested-service
                            //- mixin uploadfile(id)
                            +uploadfile('')