//- ====================
//- RTD: services-internet-interactive-tv-1
//- 04-09-2017: Mell.Blimm
//- --------------------
//- Попап "Выбор предложения" - Интерактивное телевидение
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор предложения" - Интерактивное телевидение';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- modal(title_text, underline, step_start, nav_text, close_btn, content_title)
    +modal('Выбор предложения', true, '', 'Интерактивное телевидение', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Предложение',
                'modif': '--first'
            },
            {
                'name': 'Описание',
                'modif': '--second'
            },
            {
                'name': 'Стоимость',
                'modif': '--third'
            }
        ]}).--tv
            //- include section/tariff-item.jade
            +services-internet-interactive-tv-1()