//- ====================
//- RTD: service-phone-classic-phone1
//- 01-09-2017: Mell.Blimm
//- --------------------
//- Попап "Выбор вида связи" - Классическая телефония
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор вида связи" - Классическая телефония';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- modal(title_text, underline, step_start, nav_text, close_btn, content_title)
    +modal('Выбор вида связи', true, '', 'Классическая телефония', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Вид связи',
                'modif': '--first'
            },
            {
                'name': 'Описание',
                'modif': '--second'
            }
        ]}).--classic-phone
            //- include section/tariff-item.jade
            +tariff-item-classic-phone-1()