//- ====================
//- RTD: service-vdc-2
//- 28-08-2017: amedomary
//- --------------------
//- Попап service-vdc-2-tarifs
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

//- Модифицируем base
block variables
    //- - var NameVar = true

//- Модифицируем head
block head
    - var pageTitle = 'Внутризоновая телефонная связь';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор тарифа', true, '', 'Виртуальный ЦОД', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Операционная система',
                'modif': '--first'
            },
            {
                'name': 'Процессор Intel Xeon 2,7 ГГц',
                'modif': '--second'
            },
            {
                'name': 'Опер. память',
                'modif': '--third'
            },
            {
                'name': 'Тип и размер системного диска',
                'modif': '--fourth'
            },
            {
                'name': 'Максимальная производительность',
                'modif': '--fifth'
            },
            {
                'name': 'Количество виртуальных машин',
                'modif': '--sixth'
            },
            {
                'name': 'Стоимость',
                'modif': '--seventh'
            }
        ]}).--vdc-2

            //- include section/tariff-item.jade
            +tariff-item-service-vdc-2()

        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору общих параметров
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--orange.b-button--tariff Добавить услугу