//- ====================
//- RTD: service-phone-new-phone-2
//- 04-09-2017: Mell.Blimm
//- --------------------
//- Попап "Выбор тарифа" - Новая телефония
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор тарифа" - Новая телефония';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Выбор тарифа', true, '', 'Новая телефония', true, '', true, '').--phone-choice.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Абонентская плата',
                'modif': '--first'
            },
            {
                'name': 'Количество пользователей',
                'modif': '--second'
            },
            {
                'name': 'Локальные исходящие на&nbsp;фиксированные/на&nbsp;мобильные',
                'modif': '--third'
            },
            {
                'name': 'Исходящие по РФ на&nbsp;фиксированные/на&nbsp;мобильные',
                'modif': '--fourth'
            },
            {
                'name': 'Минимальный платеж в&nbsp;счет оплаты трафика',
                'modif': '--fifth'
            }
        ]}).--phone-choice

            //- include section/tariff-item.jade
            +service-phone-new-phone-2()
        +b.selected-block
            +selected-item("--new-phone --two-width", '', '')
                +selected-item--title()
                    +b.item-product--just-list
                        +e('ul').list
                            +e.item Вызововы на мобильные номера «Ростелеком»
                            +e.item Голосовое меню (IVR с возможностью многоуровневой настройки)
                            +e.item Распределение вызовов по заданным (вами) сценариям
                            +e.item Создание отделов по группам пользователей
                +selected-item--info()
                    | Бесплатно
            +selected-item("--new-phone --one-width", '', '')
                +selected-item--title()
                    | Платеж за каждого дополнительного пользователя
                +selected-item--info()
                    +money-min('45', '', 'рублей').--subscription-fee
            +selected-item("--new-phone --one-width", '', '')
                +selected-item--title()
                    | Запись и хранение разговоров одного пользователя
                +selected-item--info()
                    +money-min('550', '', 'рублей в месяц').--subscription-fee
        
        a(href="javascript:void(0)" title="Исходящие вызовы за границу").b-link--no-transform Исходящие вызовы за границу
        a(href="javascript:void(0)" title="Входящие вызовы на 8-800").b-link--no-transform Входящие вызовы на 8-800


        +e.buttons--new-phone.--beetwen
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link.b-link--new-phone-popup Вернуться к выбору  номера
            +button("К выбору оборудования").--blue.--choice-phone