//- ====================
//- RTD: service-phone-mobile-1
//- 28-08-2017: VD
//- --------------------
//- Попап "выбор тарифа" - мобильная связь
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор тарифа" - мобильная связь';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- modal(title_text, underline, step_start, nav_text, close_btn, content_title)
    +modal('Выбор тарифа', true, '', 'Мобильная связь', true, '', true, '').--tariff-selection-mobile.--price.--tariff-mobile
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Тариф',
                'modif': '--first'
            },
            {
                'name': 'Разговоры',
                'modif': '--second'
            },
            {
                'name': 'Сообщения',
                'modif': '--third'
            },
            {
                'name': 'Интернет',
                'modif': '--fourth'
            },
            {
                'name': 'Абонентская плата',
                'modif': '--fifth'
            }
        ]})
            //- include section/tariff-item.jade
            +tariff-item-mobile()
        +e.footer
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--blue.b-button--tariff К выбору пакета интернета