//- ====================
//- RTD: service-phone-mobile-2-1
//- 01-09-2017: Mell.Blimm
//- --------------------
//- Попап "Выбор пакета мобильного интернета" - мобильная связь
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор пакета мобильного интернета" - мобильная связь';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор пакета мобильного интернета', true, '', 'Мобильная связь', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Тариф',
                'modif': '--first'
            },
            {
                'name': 'Объем интернет-трафика',
                'modif': '--second'
            },
            {
                'name': 'Абонентская плата',
                'modif': '--third'
            }
        ]}).--package

            //- include section/tariff-item.jade
            +tariff-item-mobile-2-1()

        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору  тарифа
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--blue.b-button--tariff К выбору доп. услуг