//- ====================
//- RTD: service-cloud-virtual-office-1
//- 01-09-2017: VD
//- --------------------
//- Попап - выбор услуг - виртуальный офис - 1
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Попап - выбор услуг - виртуальный офис - 1';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор услуг', true, '', 'Виртуальный офис', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Услуга',
                'modif': '--first'
            },
            {
                'name': 'Описание услуги',
                'modif': '--second'
            },
            {
                'name': 'Плата за 1 пользователя',
                'modif': '--third'
            }
        ]}).--virtual-office-one
            //- include section/tariff-item.jade
            +tariff-item-virtual-office-1()
        +e.footer
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--blue.b-button--tariff К выбору пакета интернета