//- ====================
//- RTD: services-internet-web-videoconference-1
//- 01-09-2017: Mell.Blimm
//- --------------------
//- Попап "Выбор пакета мобильного интернета" - мобильная связь
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор тарифа" - Web-видеоконференция';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Выбор тарифа', true, '', 'Web-видеоконференция', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Тариф',
                'modif': '--first'
            },
            {
                'name': 'Максимальное количество участников одной конференции',
                'modif': '--second'
            },
            {
                'name': 'Абонентская плата за 1 аккаунт',
                'modif': '--third'
            }
        ]}).--web

            //- include section/tariff-item.jade
            +tariff-item-web-videoconference-1()

        +e.footer--end
            a(href="javascript:void(0)" title="Добавить к заказу").b-button.b-button--orange.b-button--tariff Добавить к заказу