//- ====================
//- RTD: service-phone-mobile-1
//- 28-08-2017: VD
//- --------------------
//- Попап "выбор тарифа" - мобильная связь
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = '"Выбор тарифа М2М" - мобильная связь';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, underline, step_start, nav_text, close_btn, content_title, price)
    +modal('Выбор тарифа M2M', true, '', 'Мобильная связь', true, '', true, '').--tariff-selection-mobile.--price
        //- mixin tariff(data)
        +tariff({ 'items': [
            {
                'name': 'Тариф',
                'modif': '--first'
            },
            {
                'name': 'Объем интернет-трафика',
                'modif': '--second'
            },
            {
                'name': 'Стоимость трафика при превышении объема',
                'modif': '--third'
            },
            {
                'name': 'Абонентская плата',
                'modif': '--fourth'
            }
        ]}).--m2m

            //- include section/tariff-item.jade
            +tariff-item-mobile-2-2()
            //- +tariff-item-mobile-2-2()
            //- +tariff-item-mobile-2-2()
            //- +tariff-item-mobile-2-2()
            
        +e.footer--between
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-link Вернуться к выбору  тарифа
            a(href="javascript:void(0)" title="К выбору пакета интернета").b-button.b-button--blue.b-button--tariff К выбору доп. услуг