//- ====================
//- RTD: service-activation
//- 08-11-2017: VD
//- --------------------
//- Попап "Активация услуг"
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Активация услуг';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Активация услуг', false, '', '', true, '', false, '').--table-setting

        +e('div').text-question Вы уверены, что желаете активировать услуги?
        +e('div').scroll-checkbox.--max.js-accordion-scroll
            +b('a')(href="javascript:void(0);" title="95857383004").link.--service-activation 95857383004
            +b('a')(href="javascript:void(0);" title="958573834304").link.--service-activation 958573834304
        +e('div').text-question.--margin По другим выбранным услугам операция недоступна.

        +e.footer-setting.--add-info
            +e('div').footer-info Нажимая кнопку «Активировать» вы соглашаетесь с условиями предоставления услуги.
            +e('div').button-box
                +b('a')(href="javascript:void(0);" title="Отменить").link--service-activation-footer Отменить
                +b('a')(href="javascript:void(0);" title="Активировать").button.--orange.--service-activation Активировать
