//- ====================
//- RTD: stat-organization
//- 07-11-2017: VD
//- --------------------
//- Статистика по подразделению
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Статистика по подразделению';


//- Выводим content
block content
    //- Используем template-page.jade: mixin +template-page()
    +b.template-page
        .b-container
            +e.head
                +title-h1('Статистика по подразделению')

                +e('span').dropdown-block
                    +e.personal-account
                        | подразделение
                    +e('span').dropdown.--not-back ООО «Алькор и К»
        +e.body
            .b-container
                +e.table

                    +e('div').filter
                        //- table-sort(select, search, calendar, name, id, checkbox, filter, tooltip, calendarPeriod)
                        +table-sort('stat', false, true, '', '', false, 'stat-organization', false, 'stat')
                            +calendar()
                                //- Begin: Дата
                                +e.content.js-tab-content-calendar.active(data-tab-content="calendar-1")
                                    form(method="get" action="./")
                                        +e.wrapper-left
                                            +b.calendar-filter.js-calendar
                                            +button-calendar()

                                        +e.wrapper-right
                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-date-current-month',
                                                'name': 'period-check',
                                                'text': 'Текущий месяц'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-date-last-month',
                                                'name': 'period-check',
                                                'text': 'Прошлый месяц'
                                            }]}).js-area-temp

                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-date-current-quarter',
                                                'name': 'period-check',
                                                'text': 'Текущий квартал'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-date-last-quarter',
                                                'name': 'period-check',
                                                'text': 'Прошлый квартал'
                                            }]}).js-area-temp

                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-date-this-year',
                                                'name': 'period-check',
                                                'text': 'Текущий год'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-date-last-year',
                                                'name': 'period-check',
                                                'text': 'Прошлый год'
                                            }]}).js-area-temp

                                //- End: Дата

                                //- Begin: Период
                                +e.content.js-tab-content-calendar(data-tab-content="calendar-2")
                                    form(method="get" action="./")
                                        +e.wrapper-left
                                            +b.calendar-filter--period.js-calendar-one
                                            +button-calendar()

                                        +e.wrapper-left
                                            +b.calendar-filter--period.js-calendar-two
                                            a(href="javascript:void(0)" title="Прошлый год" class="b-button b-button--transparent b-button--period-calendar") Прошлый год

                                //- End: Период

                                //- Begin: Месяц
                                +e.content.js-tab-content-calendar(data-tab-content="calendar-3")
                                    form(method="get" action="./")
                                        +e.wrapper-left.js-area-month
                                            //- TODO: Добавить слайдер месяца Макса. Только зачем он там нужен уточнить у клиента. У Макса много лишнего функционала в js-ке, js-ку нужно почистить от лишнего и сделать только слайдер для месяца и всё.
                                            +slider-year()
                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-january',
                                                'name': 'month',
                                                'text': 'Январь'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-february',
                                                'name': 'month',
                                                'text': 'Февраль'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-march',
                                                'name': 'month',
                                                'text': 'Март'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-april',
                                                'name': 'month',
                                                'text': 'Апрель'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-may',
                                                'name': 'month',
                                                'text': 'Май'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-june',
                                                'name': 'month',
                                                'text': 'Июнь'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-jule',
                                                'name': 'month',
                                                'text': 'Июль'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-august',
                                                'name': 'month',
                                                'text': 'Август'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-september',
                                                'name': 'month',
                                                'text': 'Сентябрь'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-october',
                                                'name': 'month',
                                                'text': 'Октябрь'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-november',
                                                'name': 'month',
                                                'text': 'Ноябрь'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-december',
                                                'name': 'month',
                                                'text': 'Декабрь'
                                            }]}).--month
                                            +button-calendar()

                                        +e.wrapper-right.js-area-temporary
                                            //- TODO: в этом периоде js класс для валидации добавить
                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-month-current-month',
                                                'name': 'month-period-check',
                                                'text': 'Текущий месяц'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-month-last-month',
                                                'name': 'month-period-check',
                                                'text': 'Прошлый месяц'
                                            }]})

                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-month-current-quarter',
                                                'name': 'month-period-check',
                                                'text': 'Текущий квартал'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-month-last-quarter',
                                                'name': 'month-period-check',
                                                'text': 'Прошлый квартал'
                                            }]})

                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-month-this-year',
                                                'name': 'month-period-check',
                                                'text': 'Текущий год'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-month-last-year',
                                                'name': 'month-period-check',
                                                'text': 'Прошлый год'
                                            }]})
                                //- End: Месяц

                                //- Begin: Квартал
                                +e.content.js-tab-content-calendar(data-tab-content="calendar-4")
                                    form(method="get" action="./")
                                        +e.wrapper-left.js-area-month
                                            //- TODO: добавить слайдер месяца
                                            +slider-year()
                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-first-quarter',
                                                'name': 'quarter',
                                                'text': 'I КВ'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-second-quarter',
                                                'name': 'quarter',
                                                'text': 'II КВ'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-third-quarter',
                                                'name': 'quarter',
                                                'text': 'III КВ'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-fourth-quarter',
                                                'name': 'quarter',
                                                'text': 'IV КВ'
                                            }]}).--month

                                            +button-calendar()

                                        +e.wrapper-right.js-area-temporary
                                            //- TODO: в этом периоде js класс для валидации добавить
                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-quarter-current-month',
                                                'name': 'quarter-period-check',
                                                'text': 'Текущий месяц'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-quarter-last-month',
                                                'name': 'quarter-period-check',
                                                'text': 'Прошлый месяц'
                                            }]})

                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-quarter-current-quarter',
                                                'name': 'quarter-period-check',
                                                'text': 'Текущий квартал'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-quarter-last-quarter',
                                                'name': 'quarter-period-check',
                                                'text': 'Прошлый квартал'
                                            }]})
                                //- End: Квартал

                                //- Begin: Год
                                +e.content.js-tab-content-calendar(data-tab-content="calendar-5")
                                    form(method="get" action="./")
                                        +e.wrapper-left
                                            //- TODO: добавть слайдер месяца
                                            +slider-year()
                                            +button-calendar()

                                        +e.wrapper-right
                                            +period({ 'items': [{
                                                'type': 'checkbox',
                                                'id': 'id-year-this-year',
                                                'name': 'year-period-check',
                                                'text': 'Текущий год'
                                            }, {
                                                'type': 'checkbox',
                                                'id': 'id-year-last-year',
                                                'name': 'year-period-check',
                                                'text': 'Прошлый год'
                                            }]})
                                //- End: Год


                    +b.table.--stat-organization
                        +e.table-wrap

                            +e('ul').table-list
                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold 0 рублей

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Оплата
                                    +e.column.second
                                        +e.text.bold 1 551,3 рублей

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold

                                +e('li').table-item.--stat-organization
                                    +e.column.first
                                        +e.text Начислено за период
                                    +e.column.second
                                        +e.text.bold