//- ====================
//- RTD: table-setting
//- 16-10-2017: VD
//- --------------------
//- Попап "найтройка таблицы"
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade
block variables
//- Модифицируем head
block head
    - var pageTitle = 'Настройка таблицы';


//- Выводим content
block content
    //- include ./section/template-popup.jade
    //- mixin modal(title_text, progress, step_start, nav_text, close_btn, content_title, price, js)
    +modal('Настройка таблицы', false, '', '', true, '', false, 'js-table-setting').--table-setting
        //- Begin: контент
        +b.info-setting
            +e('p').text Вы можете включать и отключать отображение колонки.
            +e('p').text А также, можете менять порядок отображения колонки, перетаскивая ее зажав левую клавишу мыши.
        //- mixin checkbox(name, id, title, modificator)
        +checkbox-checked('table-item-setting', 'table-item-setting-1', 'Лицевой счет', '--table-setting')
        +checkbox('table-item-setting', 'table-item-setting-2', 'Договор', '--table-setting')
            +hamburger-button().--table-setting
        +checkbox('table-item-setting', 'table-item-setting-3', 'Расход за приод', '--table-setting')
            +hamburger-button().--table-setting
        +checkbox-checked('table-item-setting', 'table-item-setting-4', 'Баланс', '--table-setting')
            +hamburger-button().--table-setting
        +checkbox('table-item-setting', 'table-item-setting-5', 'Сумма начислений за май 2017, без НДС', '--table-setting')
            +hamburger-button().--table-setting
        +checkbox('table-item-setting', 'table-item-setting-6', 'Сумма начислений за май 2017, с НДС', '--table-setting')
            +hamburger-button().--table-setting
        +checkbox('table-item-setting', 'table-item-setting-7', 'ИНН', '--table-setting b-checkbox--no-border')
            +hamburger-button().--table-setting
        +e.footer-setting
            +b('a')(href="javascript:void(0);" title="Отменить").link--table-setting Отменить
            +b('a')(href="javascript:void(0);" title="Сохранить изменения").button.--orange.--table-setting Сохранить изменения
        //- End: контент