//- ====================
//- RTD: ui-kit
//- 04-08-2017: drtvader
//- --------------------
//- ui-kit
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout
//- Подключаем общий jade миксинов
include ./section/include-mixins.jade

block variables
//- var file_name = '404'
//- var page404 = true

//- Модифицируем head
block head
    - var pageTitle = 'ui-kit';



//- Выводим content
block content
    .b-container
        +plus-minus()
        br
        hr
        br

        br
        //- Селект  include ./section/select.jade
        +select-tiny('Pdf','Xls','Csv')
        +select-tiny('Pdf','Xls','Csv','Xls','Csv')
        br
        //- Селект большой с типом документа  include ./section/select.jade 
        +doc-type-once().--once
        br
        hr
        br
        +button("текст").--transparent
        br
        +button("текст").--orange
        br
        +button("текст").--blue
        br
        +button("текст").--disabled
        br
        +button-1("текст").--blue
        br
        +button-1("текст")(disabled)
        br
        hr
        br
        +b('a').link(href="javascript:void(0);" title="PDF") PDF
        br
        hr
        br
        +range()
        br
        hr
        br
        //- Пагинация 
        +pagination()
        br
        hr
        br
        //- Кнопка переключения 'тудым сюдым'
        //- toggle-button(first_content, second_content, first_id, second_id)
        +toggle-button('cat', 'dog', 'ca2t', 'do2g')

        br
        hr
        section
            +b("form").form(action='', method='post' novalidate)
                +e.group
                    +input-mixin("label-test-id", "Название поля", false, "", "", false, true, false, false, false, false, "").--form-label
                        +e('option').options Выбранный вариант
                        +e('option').options Наведение
                        +e('option').options Вариант
                        +e('option').options Вариант
                        +e('option').options Вариант
                        +e('option').options Вариант
                +e.group
                    +input-mixin("label-test-id", "Ошибка", true, "text", "--ui-kit", true, false, false, false, false, false, "").--form-label
                +e.group
                    +input-mixin("label-test-id", "Поле с условием", true, "password", "--ui-kit", false, false, false, true, false, false, "").--form-label
            
            +b("form").form(action='', method='post' novalidate)
                +e.group.js-v-test
                    +input-mixin("label-test-id", "Тип обращения", false, "", false, true, false, false, false, false, "")
                        +e('option').selecet-item Благодарность
                        +e('option').selecet-item Благодарность-2
                        +e('option').selecet-item Благодарность-3
                        +e('option').selecet-item Благодарность-4
                        +e('option').selecet-item Благодарность-5
                        +e('option').selecet-item Благодарность-6
                +e.group
                    +input-mixin("label-test-id", "Услуги", false, "", false, true, false, false, false, false, "")
                        +e('option').selecet-item Новая телефония
                        +e('option').selecet-item Новая телефония-2
                        +e('option').selecet-item Новая телефония-3
                        +e('option').selecet-item Новая телефония-4
                        +e('option').selecet-item Новая телефония-5
                        +e('option').selecet-item Новая телефония-6
                +e.group--username
                    +input-mixin("label-test-id", "Контактное лицо", false, "", false, false, false, false, true, false, "").--username
                        +e('span').userinfo--name Ирина Иванова
                        +e('span').userinfo ИНН: 101141200, 
                        +e('span').userinfo Московская область 
                        +e('span').userinfo irina.mjeskaya@rt.tu, 
                        +e('span').userinfo (999) 888-77-66 
                    +button("ИЗМЕНИТЬ").--change-data
                +e.buttons--newappeal
                    +button("Следующий шаг").--next-step.js-validator-check
        br
        hr
        br
        +uploadfile()
        br
        +uploadfile().--progress
        br
        +uploadfile().--done