/* 1440 + */
.b-retractable-block {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: @cl-Project-white;
    opacity: 1;
    padding: 0 20px;
    z-index: 51;

    // &.active {
    //    transform: translateX(0);
    //    opacity: 1;
    // }

    &__wrapper {
        // overflow-x: hidden;
        // overflow-y: auto;

        &--justify-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__link-additional {
        width: 100%;
        text-align: right;
        margin-bottom: 25px;
    }
}