/* 1440 + */
.ps {

    &__scrollbar-y-rail {
        position: absolute;
        right: 4px;
        width: 15px;
        top: 0px;
    }

    &__scrollbar-y,
    &__scrollbar-x {
        border-radius: 6px;
        background: @cl-rtd-scroll-bar-rail-color;
        opacity: 0.8;
    }

    &__scrollbar-y {
        position: absolute;
        width: 9px;
        right: 0px;
    }

    &__scrollbar-x-rail {
        height: 9px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    &__scrollbar-x {
        height: 9px;
        position: absolute;
    }
}