/* 1440 + */
.b-select-period {
    display: inline-block;
    width: 272px;
    vertical-align: top;
    margin-bottom: 12px;
    padding: 0px 16px;

    &:first-child {
        padding-top: 20px;
    }

    &:last-child {
        margin-bottom: 5px;
    }

    &--month {
        margin-bottom: 8px;
    }

    &__input {
        display: none;
    }

    &__label {
        display: block;
        font-family: @font-din-medium;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.1px;
        color: @cl-rtd-exit-icon;
        text-transform: uppercase;
        border: 1px solid @cl-rtd-calendar-border;
        border-radius: 2px;
        text-align: center;
        width: 231px;
        margin: 0 auto 16px;
        padding-top: 9px;
        padding-bottom: 6px;
        transition-property: border, background-color;
        transition-duration: 0.3s;
        cursor: pointer;

        .no-touchevents &:hover {
            border-color: @cl-rtd-back-format-file;
        }
    }

    &--month & {

        &__label {
            display: inline-block;
            width: 112px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 8px;
        }
    }

    &__input[type="checkbox"]:checked + &__label {
        background-color: @cl-rtd-back-format-file;
        border-color: @cl-rtd-back-format-file;
    }
}