/* 320 + */
.b-select-period {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;

    &:first-child {
        padding-top: 6px;
    }

    &:last-child {
        margin-bottom: 19px;
    }
}