/* 768 + */
.b-checkbox-list {

    &--scroll {
        margin-top: 35px;
    }

    &__column {
        margin-right: 135px;

        &:nth-child(2n) {
            margin-right: 0px;
        }
    }
}