/* 1440 + */
.b-checkbox-list {
    // max-height: 185px;
    position: relative;
    overflow-y: hidden;
    display: block;
    font-size: 0;

    margin-right: -20px;    
    margin-top: 40px;
    margin-bottom: 11px;

    &--scroll {
        overflow-y: hidden;
        max-height: 175px;
        margin-right: 0px;
        margin: 0px;
    }

    &__column {
        display: inline-block;
        min-width: 200px;
        // max-height: 170px;
        vertical-align: top;
        overflow-y: hidden;
        font-size: 0;
        margin-right: 75px;

        &:nth-child(4n) {
            margin-right: 0px;
        }
    }

    &__compare {
        width: 100%;
        margin-bottom: 20px;
    }
}