/* 320 + */
.b-checkbox-list {

    &--scroll {
        margin-top: 30px;
        overflow-y: auto;
        max-height: none;
    }

    &__column {
        margin-right: 0px;

        &:nth-child(2n) {
            margin-right: 0px;
        }
    }
}