/* 320 + */
.b-calendar {
    display: block;
    position: fixed;
    transition-property: right;
    transition-duration: 0.3s;
    top: 0;
    width: 100%;
    right: -100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    left: auto;

    &.active {
        right: 0;
    }
}