/* 1440 + */
.b-request-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 0 0;
    border-top: 1px solid @cl-rtd-border-body-table;

    &__input-name {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.2px;
        color: @cl-rtd-light;
        margin-right: 80px;
        width: auto;
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    &--document {
        margin-top: 60px;
        flex-wrap: wrap;
    }

    &--request-document {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        padding-top: 29px;

        .b-input {
            width: 300px;
        }
    }

    &--request-document & {
        &__input-name {
            margin-bottom: 12px;
        }
    }

    &--document-order {
        margin-top: 8px;
    }

    &__radio-wrapper {
        margin-bottom: 26px;
    }

    &__add-address {
        width: 100%;
        font-size: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;

        .b-input--request-footer {
            display: inline-block;
        }
    }

    &__add-address & {
        &__input-name {
            display: inline-block;
        }
    }

    &__icon-delete {
        font-size: 14px;
        color: @cl-rtd-light;
        padding: 5px;
        margin-left: -5px;
        display: inline-block;
    }

}