/* 768 + */
/* 1440 + */
.b-request-footer {

    &--document {
        padding-right: 20px;
    }

    &__input-name {
        margin-right: 40px;
    }

    &__add-address {
        margin-bottom: 15px;
    }
}