/* 320 + */
.b-request-footer {
    flex-direction: column;
    align-items: start;
    padding-top: 32px;

    &--document {
        padding-right: 0px;
        margin-top: 32px;
    }

    &__input-name {
        margin: 0 0 16px 0;
    }

    & .b-link {
        margin-bottom: 24px;
    }

    &--request-document {
        .b-input {
            width: 278px;
        }
    }

    &__add-address {
        flex-wrap: wrap;
        // flex-direction: column;
        // align-items: flex-start;

        .b-input--request-footer {
            width: 90%;
            margin-bottom: 0;
        }
    }

    &__icon-delete {
        margin-left: auto;
        margin-right: -5px;
    }

}