/* 768 + */
.b-service-info {
    &__item {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;

        &-icon {
        }

        &-stretch {
        }

        &-price {
            padding-right: 25px;
            // width: 130px;
            flex: 0 0 130px;
        }

        &-button {
        }
    }

    &__description {
        font-size: 14px;
        line-height: 1.29;
    }
}