/* 1440 + */
.b-service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid @cl-rtd-border-body-table;
    padding: 15px 0;

    &__item {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;

        &-icon {
            width: 56px;
            color: @cl-rtd-light;
            text-align: left;
            align-self: stretch;
            vertical-align: top;
            font-size: 55px;
            line-height: 75px;
        }
        &-stretch {
            flex-grow: 1;
            flex-shrink: 1;
            padding: 0 20px;
        }
        &-price {
            padding-top: 50px;
            flex: 0 0 190px;
            padding-right: 35px
            
        }
        &-button{
            padding-top: 27px;
            flex: 0 0 170px;
        }
    }

    &__title {
        font-family: @font-base;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -0.2px;
        text-align: left;
        color: @cl-rtd-gray;
    }

    &__description {
        font-family: @font-base;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.2px;
        text-align: left;
        color: @cl-font-light;
        margin: 0 0 3px;

        p {
            margin: 0;
        }
    }

    // &__{
        
    // }

    // &__{
        
    // }
}