/* 320 + */
.b-service-info {
    flex-wrap: wrap;
    margin: 0 15px;
    padding-top: 25px;
    border: none;
    position: relative;

    &__title {
        width: 43%;
    }
        
    &__item {
        &-icon {
            margin-top: -12px;
        }

        &-stretch {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0 0 10px 0;
        }

        &-price {
            position: absolute;
            top: 47px;
            right: -30px;
        }

        &-button {
            flex: auto;
        }
    }

    &__description {
        margin: 7px 0 8px;
    }
}