/* 1440 + */
.b-plus-minus {
    display: inline-flex; //для выравнивания
    background-color: @cl-rtd-white;
    border-radius: 2px;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 108px;
    width: 108px;
    height: 32px;

    &--height {
        height: 38px;
    }

    //  добавляем серый  + - когда достигнут придел числа
    // &.full & {
    //     &__minus,
    //     &__plus {
    //         &:before,
    //         &:after {
    //             background-color: @cl-font-light;
    //         }
    //     }
    // }

    &__minus,
    &__count,
    &__plus {
        display: inline-block;
        width: 36px;
    }

    &__minus,
    &__plus {
        background-color: @cl-rtd-blue;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 12px;
            height: 2px;
            background-color: @cl-rtd-white;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -6px;
        }
    }

    &__plus {
        &:after {
            transform: rotate(90deg);
        }
    }

    &__count {
        border: none;
        border-top: 1px solid @cl-rtd-border-body-table;
        border-bottom: 1px solid @cl-rtd-border-body-table;
        text-align: center;
        padding: 2px;
        color: @cl-font-gray;
        font-family: @font-base;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
    }
}