/* 1440 + */
.b-radio {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    font-size: 15px;
    // line-height: 21px;

    &--choice-additional-services {
        display: block;
        margin-bottom: 16px;
    }

    &--document-format-order {
        display: block;
        margin-top: 14px;
    }

    &--document-format-order & {
        &__text {
            margin-left: 24px;
        }

        &__name {
            display: inline-block;
        }
    }

    &--where-send-file & {
        &__text {
            line-height: 1.29;
            margin-left: 24px;
            color: @cl-rtd-light;
        }
    }

    &--where-send-file {
        margin-bottom: 15px;

        &:not(:last-child) {
            margin-right: 69px;
        }
    }

    &__name,
    &__input {
        display: inline-block;
        width: auto;
    }


    &__input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 5px;
    }

    &__name {
        height: 24px;
        position: relative;
        display: block;
        cursor: pointer;
        padding-left: 22px;
        font-size: 15px;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: @cl-rtd-white;
            border: solid 1px @cl-rtd-border-body-table;
        }

        &:after {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            font-size: 10px;
            left: 8px;
            top: 8px;
            display: none;
            background-color: @cl-font-blue;
        }
    }


    &__input[type=radio]:checked ~ &__name {

        &:after {
            display: block;
        }

        &:before {
            // border-color: @cl-rtd-border-dwopdown;
        }

        .no-touch &:hover {

            &:before {
                // background: @cl-tsv-checkbox-hover;
            }
        }
    }

    &__text {
        margin-left: 16px;
        display: inline-block;
        vertical-align: middle;
        font-family: @font-base;
        font-size: 14px;
        line-height: 2.2;
        letter-spacing: -0.2px;
        color: @cl-rtd-title;

        &--service {
        }
    }


}
