/* 320 + */
.b-radio {

  &__text {

    &--service {
      min-width: 105px;
    }
  }

  &--where-send-file {
        display: block;

        &:not(:last-child) {
            margin-right: 0px;
        }
    }


}