/* 1440 + */
.b-accordion {
    max-height: 405px;
    overflow-y: hidden;
    position: relative;
    padding-left: 3px;

    &__item &__item {
        margin-left: 12px;
        display: none;
    }
    &__item.group > &__item {
        margin-left: 0px;
    }

    &.group.active > &__item {
        display: block;
    }

    &__link {
        font-family: @font-base;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: @cl-font-blue;
        position: relative;
        padding: 5px 5px 5px 20px;
        margin-bottom: 15px;
        display: inline-block;

        &:before {
            content: "";
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 7px solid @cl-rtd-light;
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -5px;
            transition: border 0.5s ease, transform 0.5s ease;
        }

        &.active {
            &:before {
                border-left-color: @cl-rtd-number-background;
                transform: rotate(90deg);
            }
        }
    }

    &__info {
        font-family: @font-base;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.3px;
        text-align: left;
        color: @cl-rtd-gray;
        text-transform: uppercase;
        display: inline-block;
        padding-top: 9px;
        margin-top: -4px;
        margin-left: 21px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 8px;
        transition: background-color 0.3s;

        .no-touchevents &:hover {
            background-color: @cl-rtd-choose-client-info;
        }

        &.active {
            background-color: @cl-rtd-choose-client-info;
        }
    }

    &__tooltip {
        position: relative;
    }
}